<section class="tokenomics">
  <div class="inner balloon">
    <div id="target" class="block">
      <div class="flex justify-space-between ml10">
        <p class="p30 orbitron">Rates</p>

        <a href="javascript:void(0)" (click)="toggleTokenomics()">
          <svg
            width="27px"
            height="27px"
            style="width: 36px; height: 36px; margin-right: 5px"
            viewBox="0 0 27 27"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com -->
            <title>Close</title>
            <desc>Created with Sketch.</desc>
            <g
              id="Page-1"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <path
                d="M13.9791847,12.8137085 L26.3535534,0.439339828 L27.0606602,1.14644661 L14.6862915,13.5208153 L27.0606602,25.895184 L26.3535534,26.6022907 L13.9791847,14.2279221 L1.60481605,26.6022907 L0.897709268,25.895184 L13.2720779,13.5208153 L0.897709268,1.14644661 L1.60481605,0.439339828 L13.9791847,12.8137085 Z"
                id="Combined-Shape"
                fill="#000000"
              ></path>
            </g>
          </svg>
        </a>
      </div>

      <p class="p17 m10 line description_margin">
        By Default Moonsea uses the MoonShot Token, use the Arrows to get the
        rates on the Others Tokens.
      </p>
      <!-- <p class="p17 mb10">
                Liquidity: For every transaction, 6% is auto-added to PancakeSwap v1 liquidity pool.
            </p>
            <div class="pancake-switch-container flex align-center">
                <p class="p17">Pancakeswap:</p>
                <div class="flex-space-between align-center">
                    <p class="p17">V1</p>
                    <p class="p17">V2</p>
                </div>
            </div> -->
            

      <div class="pancake">
        <div class="flex align-center">
          <div class="cake1 flex1">
            <a href="#" class="text-primary">
              <img src="https://moonboxes.io/favicon.ico" class="mshot" />
              MSHOT
            </a>
            <div class="right">1</div>
          </div>
          <div class="arrow-down invisible">
            <div class="round-mini-button1">
              <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;width: 40px;height: 40px;" xml:space="preserve">
                <style type="text/css">
                  .stroke_dark {
                    fill: none;
                    stroke: #090D16;
                    stroke-miterlimit: 10;
                  }
                  .stroke_dark:hover {
                    stroke: #ffffff;
                  }
                </style>
                <g>
                  <circle class="stroke_dark" cx="20" cy="20" r="18"></circle>
                  <g>
                    <line class="stroke_dark" x1="20" y1="27.1" x2="20" y2="13.3"></line>
                    <polyline class="stroke_dark" points="26.8,19.7 19.9,12.9 13.2,19.6"></polyline>
                  </g>
                </g>
                </svg>
            </div>
          </div>
        </div>

        <div class="flex align-center" *ngFor="let item of currencyArray">
          <div class="cake">
            <a href="#">
              <!-- <svg
                version="1.1"
                id="bnb"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 40 40"
                style="enable-background: new 0 0 40 40"
                xml:space="preserve"
              >
                <style type="text/css">
                  .st1 {
                    fill: #ffffff;
                  }
                </style>
                <g>
                  <path
                    class="st0"
                    d="M20,2c9.9,0,18,8.1,18,18s-8.1,18-18,18S2,29.9,2,20S10.1,2,20,2"
                  />
                  <polygon
                    class="st1"
                    points="15.3,18.1 18.1,15.4 18.6,14.8 20,13.4 24.6,18.1 27.3,15.4 20,8 12.6,15.4 	"
                  />
                  <rect
                    x="18.1"
                    y="18.1"
                    transform="matrix(0.7071 -0.7071 0.7071 0.7071 -8.2787 20.0044)"
                    class="st1"
                    width="3.8"
                    height="3.8"
                  />
                  <polygon
                    class="st1"
                    points="24.6,21.9 20,26.6 18.4,25 18.1,24.6 15.3,21.9 12.6,24.6 20,32 27.3,24.6 	"
                  />
                  <rect
                    x="8.8"
                    y="18.1"
                    transform="matrix(0.7071 -0.7071 0.7071 0.7071 -11.007 13.4324)"
                    class="st1"
                    width="3.8"
                    height="3.8"
                  />
                  <rect
                    x="27.4"
                    y="18.1"
                    transform="matrix(0.7071 -0.7071 0.7071 0.7071 -5.5643 26.5695)"
                    class="st1"
                    width="3.8"
                    height="3.8"
                  />
                </g>
              </svg> -->
              <img src="{{item.logo_url}}" alt="" class="margin" height="40" width="40">
              {{item.currency}}
            </a>
            <div class="right">{{item.price}}</div>
          </div>
          <div class="arrow-down">
            <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;width: 40px;height: 40px;" xml:space="preserve">
              <style type="text/css">
                .stroke_dark {
                  fill: none;
                  stroke: #090D16;
                  stroke-miterlimit: 10;
                }
                .stroke_dark:hover {
                  stroke: #ffffff;
                }
              </style>
              <g>
                <circle class="stroke_dark" cx="20" cy="20" r="18"></circle>
                <g>
                  <line class="stroke_dark" x1="20" y1="27.1" x2="20" y2="13.3"></line>
                  <polyline class="stroke_dark" points="26.8,19.7 19.9,12.9 13.2,19.6"></polyline>
                </g>
              </g>
              </svg>
          </div>
        </div>

        <!-- <div class="flex align-center">
          <div class="cake">
            <a href="#">
              <svg
                version="1.1"
                id="btc"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 40 40"
                style="enable-background: new 0 0 40 40"
                xml:space="preserve"
              >
                <style type="text/css">
                  .st1 {
                    fill: #ffffff;
                  }
                </style>
                <g id="g16" transform="scale(0.015625)">
                  <linearGradient
                    id="coin_00000115508367496156871600000015827534717710951063_"
                    gradientUnits="userSpaceOnUse"
                    x1="-24206.1211"
                    y1="26896.375"
                    x2="-24206.1211"
                    y2="26896.3047"
                    gradientTransform="matrix(511.9455 0 0 -512.0051 12393494 13771210)"
                  >
                    <stop offset="0" style="stop-color: #f9aa4b" />
                    <stop offset="1" style="stop-color: #f7931a" />
                  </linearGradient>
                  <path
                    id="coin"
                    style="
                      fill: url(#coin_00000115508367496156871600000015827534717710951063_);
                    "
                    d="M2397.5,1558.7
                           c-153.9,617.2-779,992.8-1396.3,838.9c-617-153.9-992.7-779.1-838.7-1396.2c153.8-617.3,778.9-992.9,1396-839.1
                           C2175.8,316.2,2551.4,941.5,2397.5,1558.7L2397.5,1558.7z"
                  />
                  <path
                    id="symbol"
                    class="st1"
                    d="M1787.8,1115.9c22.9-153.3-93.8-235.7-253.4-290.7l51.8-207.7L1459.8,586l-50.4,202.2
                           c-33.2-8.3-67.4-16.1-101.3-23.8l50.8-203.5l-126.3-31.5l-51.8,207.6c-27.5-6.3-54.5-12.5-80.7-19l0.1-0.6l-174.3-43.5l-33.6,135
                           c0,0,93.8,21.5,91.8,22.8c51.2,12.8,60.5,46.7,58.9,73.5l-59,236.6c3.5,0.9,8.1,2.2,13.1,4.2c-4.2-1-8.7-2.2-13.4-3.3L901,1474
                           c-6.3,15.6-22.1,38.9-57.9,30c1.3,1.8-91.9-22.9-91.9-22.9l-62.8,144.7l164.5,41c30.6,7.7,60.6,15.7,90.1,23.3l-52.3,210
                           l126.3,31.5l51.8-207.8c34.5,9.4,68,18,100.7,26.1l-51.6,206.8l126.4,31.5l52.3-209.7c215.6,40.8,377.6,24.3,445.9-170.6
                           c55-157-2.7-247.5-116.1-306.6C1709,1282.4,1771.2,1228.1,1787.8,1115.9L1787.8,1115.9z M1499,1520.9
                           c-39.1,157-303.4,72.1-389.1,50.8l69.4-278.3C1265,1314.8,1539.8,1357.2,1499,1520.9z M1538.1,1113.6
                           c-35.6,142.8-255.6,70.2-327,52.5l62.9-252.4C1345.4,931.5,1575.2,964.7,1538.1,1113.6z"
                  />
                </g>
              </svg>
              BTC
            </a>
            <div class="right">0,00000000010</div>
          </div>
          <div class="arrow-down">
            <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;width: 40px;height: 40px;" xml:space="preserve">
              <style type="text/css">
                .stroke_dark {
                  fill: none;
                  stroke: #090D16;
                  stroke-miterlimit: 10;
                }
                .stroke_dark:hover {
                  stroke: #ffffff;
                }
              </style>
              <g>
                <circle class="stroke_dark" cx="20" cy="20" r="18"></circle>
                <g>
                  <line class="stroke_dark" x1="20" y1="27.1" x2="20" y2="13.3"></line>
                  <polyline class="stroke_dark" points="26.8,19.7 19.9,12.9 13.2,19.6"></polyline>
                </g>
              </g>
              </svg>
          </div>
        </div> -->

        <!-- <div class="flex align-center">
          <div class="cake">
            <a href="#">
              <svg
                version="1.1"
                id="sol"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 40 40"
                style="enable-background: new 0 0 40 40"
                xml:space="preserve"
              >
                <style type="text/css">
                  .st2 {
                    fill: url(#SVGID_00000019639583427046458710000008639932832273120675_);
                  }
                  .st3 {
                    fill: url(#SVGID_00000051376543231662821550000008059482703281525160_);
                  }
                </style>
                <g>
                  <circle class="st0" cx="20" cy="20" r="18" />
                  <g>
                    <linearGradient
                      id="SVGID_1_"
                      gradientUnits="userSpaceOnUse"
                      x1="24.4935"
                      y1="6.4882"
                      x2="9.6692"
                      y2="29.3926"
                    >
                      <stop offset="1.700000e-07" style="stop-color: #50eea9" />
                      <stop offset="0.1048" style="stop-color: #55e7ac" />
                      <stop offset="0.2621" style="stop-color: #62d2b5" />
                      <stop offset="0.4525" style="stop-color: #77b0c4" />
                      <stop offset="0.6687" style="stop-color: #9582d9" />
                      <stop offset="0.9036" style="stop-color: #ba46f3" />
                      <stop offset="1" style="stop-color: #cb2cff" />
                    </linearGradient>
                    <path
                      class="st1"
                      d="M31.3,11.2H12.7c0,0-0.1,0-0.1,0l-4,4.3c-0.1,0.1,0,0.2,0.1,0.2h18.6c0,0,0.1,0,0.1,0l4-4.3
			C31.5,11.3,31.4,11.2,31.3,11.2z"
                    />

                    <linearGradient
                      id="SVGID_00000050645943189739314830000012135372348271268788_"
                      gradientUnits="userSpaceOnUse"
                      x1="30.6134"
                      y1="10.4492"
                      x2="15.7892"
                      y2="33.3536"
                    >
                      <stop offset="1.700000e-07" style="stop-color: #50eea9" />
                      <stop offset="0.1048" style="stop-color: #55e7ac" />
                      <stop offset="0.2621" style="stop-color: #62d2b5" />
                      <stop offset="0.4525" style="stop-color: #77b0c4" />
                      <stop offset="0.6687" style="stop-color: #9582d9" />
                      <stop offset="0.9036" style="stop-color: #ba46f3" />
                      <stop offset="1" style="stop-color: #cb2cff" />
                    </linearGradient>
                    <path
                      style="
                        fill: url(#SVGID_00000050645943189739314830000012135372348271268788_);
                      "
                      d="M31.5,24.3H12.9c0,0-0.1,0-0.1,0l-4,4.3
			c-0.1,0.1,0,0.2,0.1,0.2h18.6c0,0,0.1,0,0.1,0l4-4.3C31.7,24.4,31.6,24.3,31.5,24.3z"
                    />

                    <linearGradient
                      id="SVGID_00000026871724123744902430000008610875777934327199_"
                      gradientUnits="userSpaceOnUse"
                      x1="27.4899"
                      y1="8.4276"
                      x2="12.6657"
                      y2="31.332"
                    >
                      <stop offset="1.700000e-07" style="stop-color: #50eea9" />
                      <stop offset="0.1048" style="stop-color: #55e7ac" />
                      <stop offset="0.2621" style="stop-color: #62d2b5" />
                      <stop offset="0.4525" style="stop-color: #77b0c4" />
                      <stop offset="0.6687" style="stop-color: #9582d9" />
                      <stop offset="0.9036" style="stop-color: #ba46f3" />
                      <stop offset="1" style="stop-color: #cb2cff" />
                    </linearGradient>
                    <path
                      style="
                        fill: url(#SVGID_00000026871724123744902430000008610875777934327199_);
                      "
                      d="M31.3,22.3H12.7c0,0-0.1,0-0.1,0l-4-4.3
			c-0.1-0.1,0-0.2,0.1-0.2h18.6c0,0,0.1,0,0.1,0l4,4.3C31.5,22.1,31.4,22.3,31.3,22.3z"
                    />
                  </g>
                </g>
              </svg>
              SOL
            </a>
            <div class="right">0,00000000010</div>
          </div>
          <div class="arrow-down">
            <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;width: 40px;height: 40px;" xml:space="preserve">
              <style type="text/css">
                .stroke_dark {
                  fill: none;
                  stroke: #090D16;
                  stroke-miterlimit: 10;
                }
                .stroke_dark:hover {
                  stroke: #ffffff;
                }
              </style>
              <g>
                <circle class="stroke_dark" cx="20" cy="20" r="18"></circle>
                <g>
                  <line class="stroke_dark" x1="20" y1="27.1" x2="20" y2="13.3"></line>
                  <polyline class="stroke_dark" points="26.8,19.7 19.9,12.9 13.2,19.6"></polyline>
                </g>
              </g>
              </svg>
          </div>
        </div> -->

        <!-- <div class="flex align-center">
          <div class="cake">
            <a href="#">
              <svg
                version="1.1"
                id="ether"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 40 40"
                style="enable-background: new 0 0 40 40"
                xml:space="preserve"
              >
                <style type="text/css">
                  .st2 {
                    fill: #010101;
                  }
                  .st3 {
                    opacity: 0.45;
                  }
                  .st4 {
                    opacity: 0.8;
                  }
                </style>
                <g>
                  <circle class="white-fill" cx="20" cy="20" r="18" />
                </g>
                <g class="st1">
                  <g>
                    <path
                      class="st2"
                      d="M20,16.9l-7.4,3.4l7.4,4.4l7.4-4.4L20,16.9z"
                    />
                  </g>
                </g>
                <g class="st3">
                  <g>
                    <path class="st2" d="M12.6,20.2l7.4,4.4V8L12.6,20.2z" />
                  </g>
                </g>
                <g class="st4">
                  <g>
                    <path class="st2" d="M20,8v16.6l7.4-4.4L20,8z" />
                  </g>
                </g>
                <g class="st3">
                  <g>
                    <path class="st2" d="M12.6,21.6L20,32v-6L12.6,21.6z" />
                  </g>
                </g>
                <g class="st4">
                  <g>
                    <path class="st2" d="M20,26v6l7.4-10.4L20,26z" />
                  </g>
                </g>
              </svg>
              ETH
            </a>
            <div class="right">0,00000000010</div>
          </div>
          <div class="arrow-down">
            <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;width: 40px;height: 40px;" xml:space="preserve">
              <style type="text/css">
                .stroke_dark {
                  fill: none;
                  stroke: #090D16;
                  stroke-miterlimit: 10;
                }
                .stroke_dark:hover {
                  stroke: #ffffff;
                }
              </style>
              <g>
                <circle class="stroke_dark" cx="20" cy="20" r="18"></circle>
                <g>
                  <line class="stroke_dark" x1="20" y1="27.1" x2="20" y2="13.3"></line>
                  <polyline class="stroke_dark" points="26.8,19.7 19.9,12.9 13.2,19.6"></polyline>
                </g>
              </g>
              </svg>
          </div>
        </div> -->
        
        <!-- <div class="flex align-center">
          <div class="cake">
            <a href="#">
              <svg
                xml:space="preserve"
                style="enable-background: new 0 0 40 40"
                viewBox="0 0 40 40"
                y="0px"
                x="0px"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns="http://www.w3.org/2000/svg"
                id="Laag_1"
                version="1.1"
              >
                <style type="text/css">
                  .st0 {
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                  }
                </style>
                <path
                  class="ada"
                  d="M17.1,12.6c1.3,0,2.4,1.1,2.4,2.4c0,1.3-1.1,2.4-2.4,2.4c-1.3,0-2.4-1.1-2.4-2.4C14.7,13.7,15.8,12.6,17.1,12.6
                                L17.1,12.6z"
                ></path>
                <path
                  class="ada"
                  d="M22.8,12.6c1.3,0,2.4,1.1,2.4,2.4c0,1.3-1.1,2.4-2.4,2.4c-1.3,0-2.4-1.1-2.4-2.4C20.4,13.7,21.5,12.6,22.8,12.6
                                L22.8,12.6z"
                ></path>
                <path
                  class="ada"
                  d="M25.7,17.6c1.3,0,2.4,1.1,2.4,2.4c0,1.3-1.1,2.4-2.4,2.4c-1.3,0-2.4-1.1-2.4-2.4C23.3,18.6,24.4,17.6,25.7,17.6
                                L25.7,17.6z"
                ></path>
                <path
                  class="ada"
                  d="M22.9,22.5c1.3,0,2.4,1.1,2.4,2.4c0,1.3-1.1,2.4-2.4,2.4c-1.3,0-2.4-1.1-2.4-2.4C20.4,23.6,21.5,22.5,22.9,22.5
                                L22.9,22.5z"
                ></path>
                <path
                  class="ada"
                  d="M17.2,22.5c1.3,0,2.4,1.1,2.4,2.4c0,1.3-1.1,2.4-2.4,2.4s-2.4-1.1-2.4-2.4C14.7,23.6,15.8,22.5,17.2,22.5
                                L17.2,22.5z"
                ></path>
                <path
                  class="ada"
                  d="M14.3,17.6c1.3,0,2.4,1.1,2.4,2.4c0,1.3-1.1,2.4-2.4,2.4c-1.3,0-2.4-1.1-2.4-2.4C11.9,18.7,13,17.6,14.3,17.6
                                L14.3,17.6z"
                ></path>
                <path
                  class="ada"
                  d="M11.6,23.5c0.8,0,1.4,0.6,1.4,1.4c0,0.8-0.6,1.4-1.4,1.4c-0.8,0-1.4-0.6-1.4-1.4C10.1,24.1,10.8,23.5,11.6,23.5
                                L11.6,23.5z"
                ></path>
                <path
                  class="ada"
                  d="M11.5,13.7c0.8,0,1.4,0.6,1.4,1.4c0,0.8-0.6,1.4-1.4,1.4c-0.8,0-1.4-0.6-1.4-1.4C10.1,14.3,10.7,13.7,11.5,13.7
                                L11.5,13.7z"
                ></path>
                <path
                  class="ada"
                  d="M20,8.8c0.8,0,1.4,0.6,1.4,1.4c0,0.8-0.6,1.4-1.4,1.4c-0.8,0-1.4-0.6-1.4-1.4C18.5,9.4,19.2,8.8,20,8.8L20,8.8z
                                "
                ></path>
                <path
                  class="ada"
                  d="M28.4,13.7c0.8,0,1.4,0.6,1.4,1.4c0,0.8-0.6,1.4-1.4,1.4c-0.8,0-1.4-0.6-1.4-1.4C27,14.3,27.7,13.7,28.4,13.7
                                L28.4,13.7z"
                ></path>
                <path
                  class="ada"
                  d="M28.5,23.4c0.8,0,1.4,0.6,1.4,1.4c0,0.8-0.6,1.4-1.4,1.4c-0.8,0-1.4-0.6-1.4-1.4C27,24.1,27.7,23.4,28.5,23.4
                                L28.5,23.4z"
                ></path>
                <path
                  class="ada"
                  d="M19.9,28.3c0.8,0,1.4,0.6,1.4,1.4c0,0.8-0.6,1.4-1.4,1.4c-0.8,0-1.4-0.6-1.4-1.4C18.5,29,19.1,28.3,19.9,28.3
                                L19.9,28.3z"
                ></path>
                <path
                  class="ada"
                  d="M13.7,29.8c0.7,0,1.2,0.5,1.2,1.2c0,0.7-0.5,1.2-1.2,1.2c-0.7,0-1.2-0.5-1.2-1.2C12.5,30.3,13,29.8,13.7,29.8
                                L13.7,29.8z"
                ></path>
                <path
                  class="ada"
                  d="M7.3,18.8c0.7,0,1.2,0.5,1.2,1.2c0,0.7-0.5,1.2-1.2,1.2S6.1,20.7,6.1,20C6.1,19.4,6.7,18.8,7.3,18.8L7.3,18.8z"
                ></path>
                <path
                  class="ada"
                  d="M13.6,7.8c0.7,0,1.2,0.5,1.2,1.2c0,0.7-0.5,1.2-1.2,1.2c-0.7,0-1.2-0.5-1.2-1.2C12.4,8.4,13,7.8,13.6,7.8
                                L13.6,7.8z"
                ></path>
                <path
                  class="ada"
                  d="M26.3,7.8c0.7,0,1.2,0.5,1.2,1.2c0,0.7-0.5,1.2-1.2,1.2c-0.7,0-1.2-0.5-1.2-1.2C25.1,8.4,25.7,7.8,26.3,7.8
                                L26.3,7.8z"
                ></path>
                <path
                  class="ada"
                  d="M32.7,18.8c0.7,0,1.2,0.5,1.2,1.2c0,0.7-0.5,1.2-1.2,1.2c-0.7,0-1.2-0.5-1.2-1.2C31.5,19.3,32,18.8,32.7,18.8
                                L32.7,18.8z"
                ></path>
                <path
                  class="ada"
                  d="M26.4,29.7c0.7,0,1.2,0.5,1.2,1.2c0,0.7-0.5,1.2-1.2,1.2c-0.7,0-1.2-0.5-1.2-1.2C25.1,30.3,25.7,29.7,26.4,29.7
                                L26.4,29.7z"
                ></path>
                <path
                  class="ada"
                  d="M28.6,34c0.4,0,0.8,0.4,0.8,0.8c0,0.4-0.4,0.8-0.8,0.8c-0.4,0-0.8-0.4-0.8-0.8C27.8,34.4,28.2,34,28.6,34
                                L28.6,34z"
                ></path>
                <path
                  class="ada"
                  d="M11.4,34.1c0.4,0,0.8,0.4,0.8,0.8c0,0.4-0.4,0.8-0.8,0.8c-0.4,0-0.8-0.4-0.8-0.8C10.6,34.4,11,34.1,11.4,34.1
                                L11.4,34.1z"
                ></path>
                <path
                  class="ada"
                  d="M2.8,19.2c0.4,0,0.8,0.4,0.8,0.8c0,0.4-0.4,0.8-0.8,0.8C2.4,20.9,2,20.5,2,20C2,19.6,2.4,19.2,2.8,19.2
                                L2.8,19.2z"
                ></path>
                <path
                  class="ada"
                  d="M11.4,4.3c0.4,0,0.8,0.4,0.8,0.8c0,0.4-0.4,0.8-0.8,0.8c-0.4,0-0.8-0.4-0.8-0.8C10.6,4.7,10.9,4.3,11.4,4.3
                                L11.4,4.3z"
                ></path>
                <path
                  class="ada"
                  d="M28.6,4.3c0.4,0,0.8,0.4,0.8,0.8c0,0.4-0.4,0.8-0.8,0.8c-0.4,0-0.8-0.4-0.8-0.8C27.8,4.7,28.1,4.3,28.6,4.3
                                L28.6,4.3z"
                ></path>
                <path
                  class="ada"
                  d="M37.2,19.2c0.4,0,0.8,0.4,0.8,0.8c0,0.4-0.4,0.8-0.8,0.8c-0.4,0-0.8-0.4-0.8-0.8C36.4,19.5,36.7,19.2,37.2,19.2
                                L37.2,19.2z"
                ></path>
                <path
                  class="ada"
                  d="M33.5,11.2c0.5,0,1,0.4,1,1c0,0.5-0.4,1-1,1c-0.5,0-1-0.4-1-1C32.5,11.6,32.9,11.2,33.5,11.2L33.5,11.2z"
                ></path>
                <path
                  class="ada"
                  d="M20,3.4c0.5,0,1,0.4,1,1s-0.4,1-1,1s-1-0.4-1-1S19.4,3.4,20,3.4L20,3.4z"
                ></path>
                <path
                  class="ada"
                  d="M6.5,11.2c0.5,0,1,0.4,1,1s-0.4,1-1,1s-1-0.4-1-1S5.9,11.2,6.5,11.2L6.5,11.2z"
                ></path>
                <path
                  class="ada"
                  d="M6.5,26.8c0.5,0,1,0.4,1,1c0,0.5-0.4,1-1,1s-1-0.4-1-1C5.5,27.3,6,26.8,6.5,26.8L6.5,26.8z"
                ></path>
                <path
                  class="ada"
                  d="M19.9,34.6c0.5,0,1,0.4,1,1c0,0.5-0.4,1-1,1c-0.5,0-1-0.4-1-1C18.9,35,19.4,34.6,19.9,34.6L19.9,34.6z"
                ></path>
                <path
                  class="ada"
                  d="M33.5,26.8c0.5,0,1,0.4,1,1c0,0.5-0.4,1-1,1c-0.5,0-1-0.4-1-1C32.5,27.2,33,26.8,33.5,26.8L33.5,26.8z"
                ></path>
              </svg>
              ADA
            </a>
            <div class="right">0,00000000010</div>
          </div>
          <div class="arrow-down">
            <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;width: 40px;height: 40px;" xml:space="preserve">
              <style type="text/css">
                .stroke_dark {
                  fill: none;
                  stroke: #090D16;
                  stroke-miterlimit: 10;
                }
                .stroke_dark:hover {
                  stroke: #ffffff;
                }
              </style>
              <g>
                <circle class="stroke_dark" cx="20" cy="20" r="18"></circle>
                <g>
                  <line class="stroke_dark" x1="20" y1="27.1" x2="20" y2="13.3"></line>
                  <polyline class="stroke_dark" points="26.8,19.7 19.9,12.9 13.2,19.6"></polyline>
                </g>
              </g>
              </svg>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
