<div>
  <app-landing-one></app-landing-one>
  <app-landing-search></app-landing-search>
  <div class="landing-flex pt-0">
    <app-landing-statics></app-landing-statics>
    <!-- Hot Collection -->
    <app-landing-hot-collection></app-landing-hot-collection>
    <!-- Top Collection -->
    <app-landing-top-collection></app-landing-top-collection>
    <!-- New Collection -->
    <app-landing-new-collections></app-landing-new-collections>
    <!-- Upcomming Collection  -->
    <app-langding-upcoming-collections></app-langding-upcoming-collections>
  </div>
  <app-landing-footer></app-landing-footer>

</div>