<div>
  <div class="landing-flex ">
    <section class="team">
      <div class="inner">
        <div class="flex-space-between align-center">
          <div class="flex1">
            <div class="futuristic-container p40">
              <p class="orbitron mb30">
                Discover a <br /><span class="color-white">
                  sea full of NFT collections
                </span>
              </p>
              <a
                class="button text-inherit bg-primary"
                [routerLink]="['/searchcollection']"
                routerLinkActive="router-link-active"
                >Start your Search</a
              >
            </div>
          </div>
  
          <div class="discover_collection info-container flex3">
            <div class="bottom">
              <div class="flex">
                <swiper
                  [config]="slider"
                  [pagination]="{ clickable: true }"
                  class="mySwiper pt-0"
                  [navigation]="true"
                >
                  <ng-template
                    *ngFor="let item of newCollection; let i = index"
                    swiperSlide
                  >
                    <!-- [routerLink]="['/collection', item?.collectionName]" -->
                    <a
                      href="javascript:void(0)"
                      class="collections__gallery mr30"
                    >
                      <a
                        class="collections__preview"
                        [routerLink]="['/details',item.nftAddress, item.nftTokenID01]" routerLinkActive="router-link-active" 
                        
                      >
                        <div class="content-overlay"></div>
                        <!-- <img
                        *ngIf="item.nftFileUrl01 && item.nftFileUrl01.search('.mp4') == -1"
                          src="{{ item.nftFileUrl01 }}"
                          alt="Collections"
                        /> -->

                        <!-- <img  [lazyLoad]="item.nftFileUrl01" [defaultImage]="'assets/icons/5904642857251113741.gif'" *ngIf="item.nftFileUrl01 && item.nftFileUrl01.search('.mp4') == -1"> -->
                          <img src="{{item.nftFileUrl01}}" (load)="loaded = true" alt="" *ngIf="item.nftFileUrl01 && item.nftFileUrl01.search('.mp4') == -1">
                          <video class="video" loop autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true" [muted]="true" *ngIf="item.nftFileUrl01 && item.nftFileUrl01.search('.mp4') == -1"
                          (load)="loaded = false" [hidden]="loaded">
                            <source src="assets/media/videos/moonsea-animated-logo.webm"  type="video/mp4">
                          </video>  

                        <video class="video" loop autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true" [muted]="true" *ngIf="item.nftFileUrl01 && item.nftFileUrl01.search('.mp4') != -1">
                          <source src="{{ item.nftFileUrl01 }}"  type="video/mp4">
                        </video>  
                        <!-- <img
                          *ngIf="!item.nftFileUrl01"
                          src="assets/images/default.jpg"
                          alt=""
                        /> -->
                      </a>
                      <div class="flex flex-wrap flex100 gap15 justify-start">
                        <div
                          class="thumb__preview gap15"
                          *ngFor="
                            let iner of item.nftDetailsList.slice(1, 4);
                            let j = index
                          "
                        >
                          <ng-container *ngIf="j <= 2">
                            <div class="content-overlay"></div>
                            <!-- <img
                            *ngIf="iner.nftFileUrl && iner.nftFileUrl.search('.mp4') == -1"
                              (click)="
                                gotoNftDetails(iner.nftAddress, iner.nftTokenID)
                              "
                              src="{{ iner.nftFileUrl }}"
                              alt="Collections"
                            /> -->
                            <!-- <img  [lazyLoad]="iner.nftFileUrl" [defaultImage]="'assets/icons/5904642857251113741.gif'" *ngIf="iner.nftFileUrl && iner.nftFileUrl.search('.mp4') == -1"  (click)="
                            gotoNftDetails(iner.nftAddress, iner.nftTokenID)
                          "> -->

                              <a [routerLink]="['/details',iner.nftAddress, iner.nftTokenID01]" routerLinkActive="router-link-active" >
                                <img src="{{iner.nftFileUrl}}" (load)="loaded01 = true" alt="" *ngIf="iner.nftFileUrl && iner.nftFileUrl.search('.mp4') == -1"
                             >
                              <video class="video" loop autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true" [muted]="true" *ngIf="iner.nftFileUrl && iner.nftFileUrl.search('.mp4') == -1"
                              (load)="loaded01 = false" [hidden]="loaded01">
                                <source src="assets/media/videos/moonsea-animated-logo.webm"  type="video/mp4">
                              </video>
                              </a> 


                            <video class="video"  loop autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true" [muted]="true" *ngIf="iner.nftFileUrl && iner.nftFileUrl.search('.mp4') != -1"
                            (click)="gotoNftDetails(iner.nftAddress, iner.nftTokenID)">
                              <source src="{{ iner.nftFileUrl }}"   type="video/mp4">
                            </video>
                           
                             
  
  
                            <img
                              *ngIf="!iner.nftFileUrl"
                              src="assets/images/default.jpg"
                              alt=""
                            />
                          </ng-container>
                        </div>
                      </div>
                    </a>
                    <div class="flex-col h-100">
                      <div class="flex1 flex-col justify-center mt20">
                        <div class="orbitron text-secondary p24">
                          <a
                            [routerLink]="['/collection', item.collectionName]"
                            class="text-secondary"
                          >
                            {{ item?.collectionName }} </a
                          ><br />
                          <p
                            class="montserrat text-primary p18 flex space-between-md-column"
                          >
                            <a
                            [routerLink]="[
                            '/profile',
                            item.ownerWalletAddress
                          ]"
                              class="text-primary owner_name"
                            >
                              <strong class="w600"> by </strong>
                              <span
                                
                              >
                                {{ item?.name ?? item?.customeUrl }}
                              </span></a
                            >
                            <span> {{ item?.totalNftCount }} items </span>
                          </p>
                        </div>
                        <br />
                        <a
                          class="button text-inherit large-button"
                          href="javascript:void(0)"
                          [routerLink]="['/collection', item?.collectionName]"
                          >View Collection</a
                        >
                      </div>
                    </div>
                  </ng-template>
                </swiper>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  
  <div class="search_container">
    <div class="search-box"></div>
    <div class="search-input">
      <input
        type="text"
        id="searchInput"
        #searchText
        (keyup.enter)="searchClient(searchText.value)"
        (keyup)="autoComplete(searchText.value)"
        placeholder="Search for collections, items or creators"
        class="form-control"
      />
      <a href="">
        <svg
          version="1.1"
          id="search"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 40 40"
          style=""
          xml:space="preserve"
        >
          <style type="text/css">
            .st0 {
              fill: none;
              stroke: #50aac5;
              stroke-miterlimit: 10;
            }
          </style>
          <g>
            <circle class="st0" cx="22" cy="18" r="12.5"></circle>
            <line class="st0" x1="13.2" y1="26.8" x2="5.5" y2="34.5"></line>
          </g>
        </svg>
      </a>
  
      <ng-container *ngIf="flag">
        <!-- <ul class="search-result">
          <li *ngFor="let client of searchResult">
            <a
              href="javascript:void(0)"
              (click)="
                onselectClient(
                  client.searchText,
                  client.serachType,
                  client.nftTokenId,
                  client.nftAddress
                )
              "
              >{{ client.searchText }}</a
            >
          </li>
        </ul> -->
        <div class="search_result">
          <div *ngFor="let item of uniquedata; let i = index">
            <div class="border-left border-right">
              <div
                *ngIf="item == 1 && properties[i].length > 0"
                class="flex align-center p-3 border-bottom p12 text-secondary"
              >
                Items
              </div>
              <div
                *ngIf="item == 2 && properties[i].length > 0"
                class="flex align-center p-3 border-bottom p12 text-secondary"
              >
                Profile
              </div>
              <div
                *ngIf="item == 3 && properties[i].length > 0"
                class="flex align-center p-3 border-bottom p12 text-secondary"
              >
                collection
              </div>
              <div
                *ngFor="let inner of properties[i]"
                class="flex align-center p-3 border-bottom"
                (click)="
                  onselectClient(
                    inner.searchText,
                    inner.serachType,
                    inner.nftTokenId,
                    inner.nftAddress
                  )
                "
              >
                <div class="profilepic01">
                  <img
                    [src]="inner.profilePic"
                    *ngIf="inner.profilePic"
                    class="profilepic"
                    alt="profile"
                  />
                  <img
                    *ngIf="!inner.profilePic"
                    src="assets/media/images/moonsea/avatar-big.jpg"
                    class="profilepic"
                    alt=""
                  />
                </div>
                <div>
                  {{ inner.searchText }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  
  <div class="landing-flex pt-0">
    <section class="top-collection">
      <div class="inner">
        <div class="flex align-center justify-space-between mb20">
          <p class="orbitron p18">
            <span class="color-white">Moon</span><span>Sea </span>
            <span>Statistics </span>
          </p>
          <div class="flex align-center">
            <p class="p16">Collection statistics</p>
            <a href="javascript:void(0)" class="ml20" (click)="stats()">
              <svg
                version="1.1"
                id="stats_arrow"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 40 40"
                style="width: 50px; height: 50px"
                xml:space="preserve"
              >
                <style type="text/css">
                  .stroke {
                    fill: none;
                    stroke: #2092b5;
                    stroke-miterlimit: 10;
                  }
                </style>
                <g>
                  <circle class="stroke" cx="20" cy="20" r="18"></circle>
                  <g>
                    <line
                      class="stroke"
                      x1="12.9"
                      y1="20"
                      x2="26.7"
                      y2="20"
                    ></line>
                    <polyline
                      class="stroke"
                      points="20.3,13.2 27.1,20.1 20.4,26.8"
                    ></polyline>
                  </g>
                </g>
              </svg>
            </a>
          </div>
        </div>
        <div>
          <div class="flex flex2 wrap gap">
            <div class="stats_box flex-col">
              <h3 class="orbitron p24 mb10">{{ statics.DailySales | number }}</h3>
              <span>Daily Sales</span>
            </div>
            <div class="stats_box flex-col">
              <h3 class="orbitron p24 mb10">{{ statics.TotalSales | number }}</h3>
              <span>Total Sales</span>
            </div>
            <div class="stats_box flex-col">
              <h3 class="orbitron p24 mb10">
                {{ statics.DailySales * pricingApi?.bnbPriceInUsd | number }}
              </h3>
              <span>Daily MSH Volume</span>
            </div>
            <div class="stats_box flex-col">
              <h3 class="orbitron p24 mb10">
                {{ statics.TotalSales * pricingApi?.bnbPriceInUsd | number }}
              </h3>
              <span>Total MSH Volume</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- Hot Collection -->
    <section class="hot-collection">
      <div class="inner">
        <div>
          <div class="relative">
            <p class="title-name orbitron p18">
              <span class="color-white">Hot </span><span>collections </span>
            </p>
          </div>
          <swiper
            [config]="config"
            [pagination]="{ clickable: true }"
            class="mySwiper hover-effect"
            [navigation]="true"
          >
            <ng-template
              *ngFor="let item of hotCollectionList; let i = index"
              swiperSlide
            >
              <!--  [routerLink]="['/collection', item.collectionName]" -->
              <!-- <a class="collections__item" href="javascript:void(0)">
                <div class="collections__gallery">
                  <div
                    class="collections__preview"
                    (click)="gotoNftDetails(item.nftAddress, item.nftTokenID01)"
                  >
                    <div class="content-overlay"></div>
                    <img
                      *ngIf="item.nftFileUrl01"
                      src="{{ item.nftFileUrl01 }}"
                      alt="Collections"
                    />
                    <img
                      *ngIf="!item.nftFileUrl01"
                      src="assets/images/default.jpg"
                      alt=""
                    />
                  </div>
                  <div class="flex flex-wrap flex100 gap15 justify-start">
                    <div
                      class="thumb__preview gap15"
                      *ngFor="
                        let inneritem of item.nftDetailsList.slice(1, 4);
                        let j = index
                      "
                    >
                      <ng-container *ngIf="j <= 2">
                        <div class="content-overlay"></div>
                        <img
                          src="{{ inneritem.nftFileUrl }}"
                          alt="Collections"
                          (click)="
                            gotoNftDetails(
                              inneritem.nftAddress,
                              inneritem.nftTokenID
                            )
                          "
                        />
                      </ng-container>
                    </div>
                  </div>
  
                  <div class="flex100">
                    <div
                      class="color-secondary collections__subtitle orbitron"
                      [routerLink]="['/collection', item.collectionName]"
                    >
                      {{
                        item.collectionName === null
                          ? "Test"
                          : item.collectionName
                      }}
                    </div>
                    <div class="collections__line">
                      <div class="collections__user">
                        <div class="text-primary collections__author">
                          by
                          <span
                            [routerLink]="['/profile', item.ownerWalletAddress]"
                            >{{ item?.name ?? item?.customeUrl }}</span
                          >
                        </div>
                      </div>
                      <div class="collections__counter">
                        <span class="text-primary"
                          >{{ item?.totalNftCount }} items</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </a> -->
              <app-collection-card [item]="item"></app-collection-card>
            </ng-template>
          </swiper>
        </div>
      </div>
    </section>
  
    <!-- Top Collection -->
    <section class="top-collection">
      <div class="inner hover-effect">
        <div>
          <div class="relative">
            <p class="title-name orbitron p18">
              <span class="color-white">Top </span><span>collections </span>
            </p>
          </div>
          <swiper
            [config]="config"
            [pagination]="{ clickable: true }"
            class="mySwiper hover-effect"
          >
            <ng-template
              *ngFor="let item of getTopcollection; let i = index"
              swiperSlide
            >
              <!-- [routerLink]="['/collection', item.collectionName]" -->
              <!-- <a class="collections__item" href="javascript:void(0)">
                <div class="collections__gallery">
                  <div
                    class="collections__preview"
                    (click)="gotoNftDetails(item.nftAddress, item.nftTokenID01)"
                  >
                    <div class="content-overlay"></div>
                    <img
                      *ngIf="item.nftFileUrl01"
                      src="{{ item.nftFileUrl01 }}"
                      alt="Collections"
                    />
                    <img
                      *ngIf="!item.nftFileUrl01"
                      src="assets/images/default.jpg"
                      alt=""
                    />
                  </div>
                  <div class="flex flex-wrap flex100 gap15 justify-start">
                    <div
                      class="thumb__preview gap15"
                      *ngFor="
                        let itembid of item.nftDetailsList.slice(1, 4);
                        let j = index
                      ">
                     
                      <ng-container *ngIf="j <= 2">
                        <div class="content-overlay"></div>
                        <img
                          src="{{ itembid.nftFileUrl }}"
                          alt="Collections"
                          (click)="
                            gotoNftDetails(itembid.nftAddress, itembid.nftTokenID)
                          "
                        />
                      </ng-container>
                    </div>
                  </div>
  
                  <div class="flex100">
                    <div
                      class="color-secondary collections__subtitle orbitron"
                      [routerLink]="['/collection', item.collectionName]"
                    >
                      {{
                        item.collectionName === null
                          ? "Test"
                          : item.collectionName
                      }}
                    </div>
                    <div class="collections__line">
                      <div
                        class="collections__user"
                        [routerLink]="['/profile', item.ownerWalletAddress]"
                        routerLinkActive="router-link-active"
                      >
                        <div class="text-primary collections__author">
                          by <span>{{ item?.name ?? item?.customeUrl }}</span>
                        </div>
                      </div>
                      <div class="collections__counter">
                        <span class="text-primary"
                          >{{ item?.totalNftCount }} items</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </a> -->
              <app-collection-card [item]="item"></app-collection-card>
            </ng-template>
          </swiper>
        </div>
      </div>
    </section>
  
    <!-- New Collection -->
    <section class="new_collection selection">
      <div class="inner">
        <div class="flex align-center justify-space-between mb20 mt20">
          <p class="orbitron">
            <span class="color-white">New </span><span>collections</span>
          </p>
        </div>
  
        <ng-container *ngFor="let item of newCollection; let i = index">
          <div class="selection__center" *ngIf="i < 1">
            <div class="selection__row mr50">
              <div class="selection__col mr30">
                <a class="selection__card" href="javascript:void(0);">
                  <div
                    class="selection__preview"
                    (click)="gotoNftDetails(item.nftAddress, item.nftTokenID01)"
                  >
                    <div class="content-overlay"></div>
                    <img
                      *ngIf="item.nftFileUrl01 &&  item.nftFileUrl01.search('.mp4') == -1"
                      srcset="{{item.fileUrl}}"
                      src="{{ item.nftFileUrl01 }}"
                      alt="Selection"
                    />
                    <video class="video" loop autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true" [muted]="true" *ngIf=" item.nftFileUrl01 &&  item.nftFileUrl01.search('.mp4') != -1">
                      <source src="{{  item.nftFileUrl01 }}"  type="video/mp4">
                    </video>
                    <img
                      *ngIf="!item.nftFileUrl01"
                      src="assets/images/default.jpg"
                      alt=""
                    />
                  </div>
                  <div class="flex100">
                    <a
                      class="color-secondary collections__subtitle orbitron"
                      [routerLink]="['/collection', item.collectionName]"
                    >
                      {{ item.collectionName }}
                    </a>
                    <div class="collections__line">
                      <div class="collections__user">
                        <div class="text-primary collections__author">
                          by
                          <a
                            [routerLink]="['/profile', item.ownerWalletAddress]"
                            >{{ item?.name ?? item?.customeUrl }}</a>
                        </div>
                      </div>
                      <div class="collections__counter">
                        <span class="text-primary"
                          >{{ item?.totalNftCount }} items</span
                        >
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="selection__col">
                <ng-container
                  *ngFor="
                    let item01 of item.nftDetailsList.slice(1, 4);
                    let j = index
                  "
                >
                  <ng-container *ngIf="j <= 2">
                    <a
                    href="javascript:void(0)"
                      (click)="
                        gotoNftDetails(item01.nftAddress, item01.nftTokenID)
                      "
                      class="selection__item"
                    >
                      <div class="selection__preview">
                        <!-- <div class="content-overlay"></div> -->
                        <img 
                        *ngIf=" item01.nftFileUrl &&  item01.nftFileUrl.search('.mp4') == -1"
                          srcset="{{item01.nftFileUrl}}"
                          src="{{ item01.nftFileUrl }}"
                          alt="Selection"
                        />
                        <video class="video" loop autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true" [muted]="true" *ngIf=" item01.nftFileUrl &&  item01.nftFileUrl.search('.mp4') != -1">
                          <source src="{{  item01.nftFileUrl }}"  type="video/mp4">
                        </video>
          
                      </div>
                    </a>
                  </ng-container>
                </ng-container>
              </div>
            </div>
            <div class="selection__sidebar">
              <div class="selection__col mb30">
                <swiper
                  [config]="newCollectionslider"
                  [slidesPerView]="1"
                  [grid]="{
                    rows: 3
                  }"
                  [pagination]="{ clickable: true }"
                  class="mySwiper new_collection_arrow"
                >
                  <ng-template
                    *ngFor="let item of upCommingCollection.slice(0,3); let i = index"
                    swiperSlide
                  >
                    <a class="collections__item" href="javascript:void(0)">
                      <div class="selection__item mb30">
                        <div
                          class="selection__preview"
                          (click)="
                            gotoNftDetails(item.nftAddress, item.nftTokenID01)
                          "
                        >
                          <!-- <div class="content-overlay"></div> -->
                          <img
                          *ngIf=" item.nftFileUrl01 &&  item.nftFileUrl01.search('.mp4') == -1"
                            srcset="{{ item.nftFileUrl01 }}"
                            src="{{ item.nftFileUrl01 }}"
                            alt="Selection"
                          />
                          <video class="video" loop autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true" [muted]="true" *ngIf=" item.nftFileUrl01 &&  item.nftFileUrl01.search('.mp4') != -1">
                            <source src="{{  item.nftFileUrl01 }}"  type="video/mp4">
                          </video>
                        </div>
  
                        <div class="selection__description">
                          <div
                            class="orbitron p18 selection__title"
                          >
                            <a class="flex color-secondary"
                              [routerLink]="['/collections/collection', item.collectionName]"
                            >
                              {{
                                item.collectionName === null
                                  ? "Test"
                                  : item.collectionName
                              }}
                            </a>
                            <div
                              class="p16 montserrat text-primary collections__author"
                            >
                              by
                              <a
                                [routerLink]="[
                                  '/profile',
                                  item.ownerWalletAddress
                                ]"
                                >{{ item?.name ?? item?.customeUrl }}</a>
                            </div>
                          </div>
                          <div class="collections__counter">
                            <span class="text-primary"
                              >{{ item?.totalNftCount }} items</span
                            >
                          </div>
                          <div>
                            <a class="button w-100 mt10" [routerLink]="['/collection', item.collectionName]">
                              View Collection
                            </a>
                          </div>
                        </div>
                      </div>
                    </a>
                  </ng-template>
                </swiper>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </section>
  
    <!-- Upcomming Collection  -->
    <!-- <section class="upcoming-collection">
      <div class="inner hover-effect">
        
        <div>
          <div class="relative">
            <p class="title-name orbitron p18">
              <span class="color-white">Upcoming </span><span>collections</span>
            </p>
          </div>
          <swiper
            [config]="config"
            [pagination]="{ clickable: true }"
            class="mySwiper hover-effect"
          >
            <ng-template
              *ngFor="let item of upCommingCollection; let i = index"
              swiperSlide
            >
              <a
                class="collections__item"
               
                href="javascript:void(0)"
              >
                <div class="collections__gallery">
                  <div class="collections__preview" (click)="gotoNftDetails(item.nftAddress,item.nftTokenID01)">
                    <div class="content-overlay"></div>
                    <img src="{{ item.nftFileUrl01 }}" alt="Collections" />
                  </div>
                  
                  <div class="flex100">
                    <div class="color-secondary collections__subtitle orbitron" [routerLink]="['/collection', item.collectionName]">
                      {{
                        item.collectionName === null ? "" : item.collectionName
                      }}
                    </div>
                    <div class="collections__line">
                      <div class="collections__user">
                        <div class="text-primary collections__author">
                          by <span [routerLink]="['/profile',item.ownerWalletAddress]" >{{ item?.name ?? item?.customeUrl }}</span>
                        </div>
                      </div>
                      <div class="collections__counter">
                        <span class="text-primary"
                          >{{ item?.totalNftCount }} items</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </ng-template>
          </swiper>
  
          
        </div>
      </div>
    </section> -->
  
    <section class="upcoming-collection">
      <div class="inner hover-effect">
        <div>
          <div class="relative">
            <p class="title-name orbitron p18">
              <span class="color-white">Upcoming </span><span>collections </span>
            </p>
          </div>
          <swiper [config]="config" [pagination]="{ clickable: true }" class="mySwiper hover-effect">
            <ng-template *ngFor="let item of upCommingCollection; let i = index" swiperSlide>
              <!-- <a class="collections__item" href="javascript:void(0)">
                <div class="collections__gallery">
                  <div
                    class="collections__preview"
                    (click)="gotoNftDetails(item.nftAddress, item.nftTokenID01)"
                  >
                    <div class="content-overlay"></div>
  
                    <img
                      *ngIf="!item.nftFileUrl01"
                      src="assets/images/default.jpg"
                      alt=""
                    />
  
                    <img
                      *ngIf="item.nftFileUrl01"
                      src="{{ item.nftFileUrl01 }}"
                      alt="Collections"
                    />
                  </div>
                  <div class="flex flex-wrap flex100 gap15 justify-start">
                    <div
                      class="thumb__preview gap15"
                      *ngFor="
                        let itembid of item.nftDetailsList.slice(1, 4);
                        let j = index
                      "
                    >
                      <ng-container *ngIf="j <= 2">
                        <div class="content-overlay"></div>
                        <img
                          src="{{ itembid.nftFileUrl }}"
                          alt="Collections"
                          (click)="
                            gotoNftDetails(itembid.nftAddress, itembid.nftTokenID)
                          "
                        />
                      </ng-container>
                    </div>
                  </div>
  
                  <div class="flex100">
                    <div
                      class="color-secondary collections__subtitle orbitron"
                      [routerLink]="['/collection', item.collectionName]"
                    >
                      {{
                        item.collectionName === null
                          ? "Test"
                          : item.collectionName
                      }}
                    </div>
                    <div class="collections__line">
                      <div class="collections__counter">
                        <span class="text-primary"
                          >{{ item?.totalNftCount }} items</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </a> -->
            
              <app-collection-card [item]="item"></app-collection-card>
            </ng-template>
          </swiper>
        </div>
      </div>
    </section>
  </div>
  
  <section class="artist team pt-0 mrr-1 bg-light">
    <div class="inner inner-width overflow-visible">
      <div class="flex-space-between align-center">
        <div class="flex1">
          <div class="futuristic-container p40">
            <p class="orbitron mb30">
              <span class="text-dark"> Are you an artist? </span> <br /><span>
                Start your own collection
              </span>
            </p>
  
            <a class="button text-inherit dark-button" href="javascript:void(0)" [routerLink]="['/how_it_works']" routerLinkActive="router-link-active" 
              >Learn how</a
            >
          </div>
        </div>
  
        <div class="outer-box artist-container flex3">
          <div class="bottom">
            <div class="flex">
              <swiper
                [config]="slider"
                [pagination]="{ clickable: true }"
                class="mySwiper pt-0 hover-effect"
                [navigation]="true"
              >
                <ng-template
                  *ngFor="let item of hotCollectionList; let i = index"
                  swiperSlide
                >
                   <a class="collections__item" href="javascript:void(0)">
                   <div class="collections__gallery px-5">
                     <!--  <div
                        class="collections__preview"
                        (click)="
                          gotoNftDetails(item.nftAddress, item.nftTokenID01)
                        "
                      >
                        <div class="content-overlay"></div>
                        <img
                          *ngIf="item.nftFileUrl01"
                          src="{{ item.nftFileUrl01 }}"
                          alt="Collections"
                        />
                        <img
                          *ngIf="!item.nftFileUrl01"
                          src="assets/images/default.jpg"
                          alt=""
                        />
                      </div>
  
                      <div class="flex flex-wrap flex100 gap15 justify-start">
                        <div
                          class="thumb__preview gap15"
                          *ngFor="
                            let item02 of item.nftDetailsList.slice(1, 3);
                            let j = index
                          "
                        >
                          <ng-container *ngIf="j <= 2">
                            <div class="content-overlay"></div>
                            <img
                              src="{{ item02.nftFileUrl }}"
                              alt="Collections"
                              (click)="
                                gotoNftDetails(
                                  item02.nftAddress,
                                  item02.nftTokenID
                                )
                              "
                            />
                          </ng-container>
                        </div>
                      </div>
                      <div class="flex100 pb50">
                        <div
                          class="text-primary collections__subtitle orbitron"
                          [routerLink]="['/collection', item.collectionName]"
                        >
                          {{
                            item.collectionName === null
                              ? ""
                              : item.collectionName
                          }}
                        </div>
                        <div class="collections__line">
                          <div class="collections__user">
                            <div class="text-dark collections__author">
                              by
                              <span
                                [routerLink]="[
                                  '/profile',
                                  item.ownerWalletAddress
                                ]"
                                >{{ item?.name ?? item?.customeUrl }}</span
                              >
                            </div>
                          </div>
                          <div class="collections__counter">
                            <span class="text-dark"
                              >{{ item?.totalNftCount }} items</span
                            >
                          </div>
                        </div>
                      </div> -->
                      <app-collection-card [item]="item"></app-collection-card>
                    </div>
                  
                  </a>
                 
                </ng-template>
              </swiper>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
</div>

<!-- 
  infiniteScroll
[infiniteScrollDistance]="0.5"
(scrolled)="onScroll($event)"
[scrollWindow]="false"
 -->