<div class="modal-backgrond">
  <div class="flex mb20">
    <img
      src="assets/media/images/sign-warning.png"
      alt=""
      class="mr20"
      width="35px"
    />
    <h3 class="orbitron p34 text-white">
      Moon<span class="text-primary">Sea</span> is in beta test !
    </h3>
  </div>
  <p class="w500 line-height">
    Please note that MoonSea NFT Marketplace is currently in beta test phase and
    we are updating the website on a regular basis.
  </p>
  <br />
  <p class="w500 line-height">
    Proceed with caution and feel free to give us your feedback through our
    Moonshot Telegram Chat.
  </p>
  <div class="mt30 text-right">
    <a
      href="https://t.me/MoonShotChat"
      target="_blank"
      class="button text-inherit mr20 transform-none"
      >Give feedback</a
    >
    <a
      href="javascript:void(0)"
      class="button text-inherit bg-primary"
      (click)="continue()"
    >
      Continue
    </a>
  </div>
</div>
