.bg-white-color{
    background-color: aliceblue;
    padding: 20px;
    height: 80vh;
    overflow-y: scroll;
    margin: 50px 0 50px 0;
}
.select-image-div{
    border: 1px solid black;
    height: 100px;
    color:black;
}
.input-01{
    border: 1px solid black;
    width: -webkit-fill-available;
    padding: 5px 0 5px 5px;
}
.label-margin{
    color: black;
    margin: 5px 0 5px 0;
}


.cross_icon_1 img{
    height: 100%;
    width: 100%;
}
.cross_icon_1{
    height: 15px;
    width: 15px;
}
.cross-at-right{
    text-align: -webkit-right;
}
.confirm-collection-button{
    background-color: #06090f;
    color: #869aa0;
    width: 100%;
    margin: 17px 0 17px 0;
    padding: 10px 0 10px 0;
}