<div>
    <div class="bg-white-color">
       
        <div class="flex w-100">
            <div class="w-80">
                <p class="label-margin">Start a new collection</p>
            </div>
            <div class="w-20 cross-at-right">
                <div class="cross_icon_1">
                    <img src="assets/icons/cross-sign-svgrepo-com.svg">
                </div>
            </div>
        </div>
        <div>
            <p class="label-margin">Upload a collection avtar</p>
        </div>
        <div class="select-image-div">
            <p>Drop a PNG,GIF or WEBP (max 1mb)</p>
        </div>
    
        <div>
            <p class="label-margin">Collection Details</p>
        </div>
        <div>
            <form>
                <div>
                    <p class="label-margin">Collection name</p>
                    <input type="text" class="input-01" name="" id="">
                </div>
    
                <div>
                    <p class="label-margin">Collection Description</p>
                    <input type="text" class="input-01" name="" id="">
                </div>
    
                <div>
                    <p class="label-margin">Description</p>
                    <input type="text" class="input-01" name="" id="">
                </div>
    
                <div>
                    <p class="label-margin">Royaties</p>
                    <input type="text" class="input-01" name="" id="">
                </div>
    
                <div>
                    <p class="label-margin"> Size</p>
                    <input type="text" class="input-01" name="" id="">
                </div>
    
                <div>
                    <p class="label-margin">Properties</p>
                    <input type="text" class="input-01" name="" id="">
                </div>
                <div class="flex w-100">
                    <div class="w-80 label-margin">
                        <p>Put on sale</p>
                        <p>You'll receives bid on this item</p>
                    </div>
                    <div class="w-20">
                        <input type="radio" name="" id="">
                    </div>
                </div>
    
                <div class="flex w-100">
                    <div class="w-80 label-margin">
                        <p>Put on sale</p>
                        <p>Enter the price for which the item will istantly sold</p>
                    </div>
                    <div class="w-20">
                        <input type="radio" name="" id="">
                    </div>
                </div>
    
                <div class="flex w-100">
                    <div class="w-80 label-margin">
                        <p>Put on sale</p>
                        <p>Choose the existing collection or create a new one</p>
                    </div>
                    <div class="w-20">
                        <input type="radio" name="" id="">
                    </div>
                </div>
    
                <div>
                    <p class="label-margin">Type of nft</p>
                    <select name="" class="input-01" id="">
                        <option value="1">test 1</option>
                        <option value="2">test 2</option>
                        <option value="3">test 3</option>
                    </select>
                </div>

                <div>
                    <button type="submit" class="confirm-collection-button">Confirm Collection</button>
                </div>
            </form>
        </div>
    </div>
</div>
