<section class="tokenomics p-0">
  <div class="inner">
    <div
      class="flex justify-space-between p-3 px-5 align-center bg-secondary-dark sidebar-padding"
    >
      <div class="flex flex100 align-center justify-space-between">
        <p class="orbitron p18 w900 white my-3 text-dark">
          Wallet :
          {{ (userBalance > 0 ? userBalance / 1e18 : 0) | number: "1.4" }}
          {{ BlockchainNames[netWorkId] }}
        </p>
        <a href="javascript:void(0)" (click)="toggleTokenomics()">
          <svg
            width="27px"
            height="27px"
            viewBox="0 0 27 27"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            style="width: 36px; height: 36px; margin-right: 5px"
          >
            <title>Close</title>
            <desc>Created with Sketch.</desc>
            <g
              id="Page-1"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <path
                d="M13.9791847,12.8137085 L26.3535534,0.439339828 L27.0606602,1.14644661 L14.6862915,13.5208153 L27.0606602,25.895184 L26.3535534,26.6022907 L13.9791847,14.2279221 L1.60481605,26.6022907 L0.897709268,25.895184 L13.2720779,13.5208153 L0.897709268,1.14644661 L1.60481605,0.439339828 L13.9791847,12.8137085 Z"
                id="Combined-Shape"
                fill="#000000"
              ></path>
            </g></svg
        ></a>
      </div>
    </div>

    <ul class="profile" *ngIf="isConnected">
      <li>
        <a
          href="javascript:void(0)"
          (click)="toggleTokenomics()"
          [routerLink]="['profile', connectedAddress, 'tab', 'created']"
          class="text-dark"
        >
          Profile</a
        >
      </li>
      <li>
        <a
          href="javascript:void(0)"
          (click)="toggleTokenomics()"
          [routerLink]="['/mycollections']"
          class="text-dark"
          >My Collection</a
        >
      </li>
      <li>
        <a href="javascript:void(0)" (click)="Disconnect()" class="text-dark"
          >Disconnect Wallet</a
        >
      </li>
    </ul>
    <ul class="profile" *ngIf="!isConnected">
      <li>
        <a
          href="javascript:void(0)"
          (click)="connectwallet()"
          [routerLink]="['connect']"
          class="text-dark"
        >
        <!-- (click)="toggleTokenomics()" -->
          Connect Wallet</a
        >
      </li>
    </ul>
  </div>
</section>
