<section class="tokenomics p-0">
  <div class="inner">
    <div
      class="flex justify-space-between p-3 px-5 align-center bg-secondary-dark sidebar-padding"
    >
      <div class="flex flex100 align-center justify-space-between">
        <p class="orbitron p18 w900 white my-3 text-dark">
          Wallet :
          {{ (userBalance > 0 ? userBalance / 1e18 : 0) | number: "1.4" }}
          {{ BlockchainNames[netWorkId] }}
        </p>
        <a href="javascript:void(0)" (click)="toggleTokenomics()">
          <svg
            width="27px"
            height="27px"
            id="close"
            viewBox="0 0 27 27"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            style="width: 36px; height: 36px; margin-right: 5px"
          >
            <title>Close</title>
            <desc>Created with Sketch.</desc>
            <g
              id="Page-1"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <path
                d="M13.9791847,12.8137085 L26.3535534,0.439339828 L27.0606602,1.14644661 L14.6862915,13.5208153 L27.0606602,25.895184 L26.3535534,26.6022907 L13.9791847,14.2279221 L1.60481605,26.6022907 L0.897709268,25.895184 L13.2720779,13.5208153 L0.897709268,1.14644661 L1.60481605,0.439339828 L13.9791847,12.8137085 Z"
                id="Combined-Shape"
                fill="#000000"
              ></path>
            </g></svg>
          </a>
      </div>
    </div>

    <ul class="profile" *ngIf="isConnected">
      <li class="relative">
        <a
          href="javascript:void(0)"
          (click)="toggleTokenomics()"
          [routerLink]="['/profileinfo/profile', connectedAddress, 'tab', 'created']"
          class="text-dark"
        >
          Profile</a
        >
        <a (click)="toggleTokenomics()" [routerLink]="['/profileinfo/updateProfile']" href="javascript:void(0)" id="edit" class="p-0">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40" xml:space="preserve">
          <style type="text/css">
            .st0{fill:#090D16;}
          </style>
          <g>
            <g>
              <path d="M20,3c9.4,0,17,7.6,17,17s-7.6,17-17,17S3,29.4,3,20S10.6,3,20,3 M20,2C10.1,2,2,10.1,2,20s8.1,18,18,18s18-8.1,18-18
                S29.9,2,20,2L20,2z"></path>
            </g>
            <g>
              <g>
                
                  <rect x="12.7" y="16.5" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -7.1285 18.0226)" class="st0" width="11" height="2.2"></rect>
                
                  <rect x="16.9" y="20.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -8.8403 22.2226)" class="st0" width="11" height="2.2"></rect>
              </g>
              <g>
                <path class="st0" d="M29.3,13.6l-2.9-2.9c-0.8-0.8-2.1-0.8-2.9,0L22,12.3l5.7,5.7l1.5-1.5C30.1,15.6,30.1,14.4,29.3,13.6z"></path>
                <path class="st0" d="M18.6,27.1l-6.9,2.7c-0.9,0.4-1.8-0.5-1.5-1.5l2.7-6.9L18.6,27.1z"></path>
              </g>
            </g>
          </g>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="javascript:void(0)"
          (click)="toggleTokenomics()"
          [routerLink]="['/mycollection']"
          class="text-dark"
          >My Collection</a
        >
      </li>
      <li>
        <a href="javascript:void(0)" (click)="Disconnect()" class="text-dark"
          >Disconnect Wallet</a
        >
      </li>
    </ul>
    <ul class="profile" *ngIf="!isConnected">
      <li>
        <a
          href="javascript:void(0)"
          (click)="connectwallet()"
          [routerLink]="['connect']"
          class="text-dark"
        >
        <!-- (click)="toggleTokenomics()" -->
          Connect Wallet</a
        >
      </li>
    </ul>
  </div>
</section>
