<section class="hot-collection pd-0">
    <div class="inner">
      <div>
        <div class="flex wrap flex100 gap">

          <p>Your collections</p>
          <div class="grid grid-3">
            
            <!-- above ng-tenplate add for loop -->
            <a class="collections__item" >
         
              <div class="collections__gallery">
                <div class="collections__preview align-items1">
                 <div>
                   <div class="flex align-items2">
                    <div class="plus-in-center" (click)="openModel()">
                        +
                    </div>
                   </div>
                   <div>
                       <p>Start a new collection</p>
                   </div>
                 </div>
                </div>

                <div class="flex flex-wrap flex100 gap15 justify-start">
                  <div class="thumb__preview gap15 heigh-11" >
                    <div class="plus-in-center1">
                        +
                    </div>
                  </div>
                  <div class="thumb__preview gap15 heigh-11" >
                    <div class="plus-in-center1">
                        +
                    </div>
                </div>
                <div class="thumb__preview gap15 heigh-11" >
                    <div class="plus-in-center1">
                        +
                    </div>
                </div>
                </div>

                <!-- <div class="flex100">
                  <div class="color-secondary collections__subtitle orbitron">
                   facke image
                  </div>
                  <div class="collections__line">
                    <div class="collections__user">
                      <div class="text-primary collections__author">
                        By <span> facke author</span>
                      </div>
                    </div>
                    <div class="collections__counter">
                      <span class="text-primary">222 items</span>
                    </div>
                  </div>
                </div> -->
              </div>
            </a>

            <a class="collections__item" >
         
                <div class="collections__gallery">
                  <div class="collections__preview">
                    <div class="content-overlay"></div>
                    <img src="/assets/media/images/moonsea/avatar-big.jpg" alt="Collections" />
                  </div>
  
                  <div class="flex flex-wrap flex100 gap15 justify-start">
                    <div class="thumb__preview gap15" >
                        <div class="content-overlay"></div>
                        <img src="/assets/media/images/moonsea/avatar-big.jpg" alt="Collections" />
                    </div>
                    <div class="thumb__preview gap15" >
                      <div class="content-overlay"></div>
                      <img src="/assets/media/images/moonsea/avatar-big.jpg" alt="Collections" />
                  </div>
                  <div class="thumb__preview gap15" >
                      <div class="content-overlay"></div>
                      <img src="/assets/media/images/moonsea/avatar-big.jpg" alt="Collections" />
                  </div>
                  </div>
  
                  <div class="flex100">
                    <div class="color-secondary collections__subtitle orbitron">
                     facke image
                    </div>
                    <div class="collections__line">
                      <div class="collections__user">
                        <div class="text-primary collections__author">
                          By <span> facke author</span>
                        </div>
                      </div>
                      <div class="collections__counter">
                        <span class="text-primary">222 items</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>

              <a class="collections__item" >
         
                <div class="collections__gallery">
                  <div class="collections__preview">
                    <div class="content-overlay"></div>
                    <img src="/assets/media/images/moonsea/avatar-big.jpg" alt="Collections" />
                  </div>
  
                  <div class="flex flex-wrap flex100 gap15 justify-start">
                    <div class="thumb__preview gap15" >
                        <div class="content-overlay"></div>
                        <img src="/assets/media/images/moonsea/avatar-big.jpg" alt="Collections" />
                    </div>
                    <div class="thumb__preview gap15" >
                      <div class="content-overlay"></div>
                      <img src="/assets/media/images/moonsea/avatar-big.jpg" alt="Collections" />
                  </div>
                  <div class="thumb__preview gap15" >
                      <div class="content-overlay"></div>
                      <img src="/assets/media/images/moonsea/avatar-big.jpg" alt="Collections" />
                  </div>
                  </div>
  
                  <div class="flex100">
                    <div class="color-secondary collections__subtitle orbitron">
                     facke image
                    </div>
                    <div class="collections__line">
                      <div class="collections__user">
                        <div class="text-primary collections__author">
                          By <span> facke author</span>
                        </div>
                      </div>
                      <div class="collections__counter">
                        <span class="text-primary">222 items</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>

              <a class="collections__item" >
         
                <div class="collections__gallery">
                  <div class="collections__preview">
                    <div class="content-overlay"></div>
                    <img src="/assets/media/images/moonsea/avatar-big.jpg" alt="Collections" />
                  </div>
  
                  <div class="flex flex-wrap flex100 gap15 justify-start">
                    <div class="thumb__preview gap15" >
                        <div class="content-overlay"></div>
                        <img src="/assets/media/images/moonsea/avatar-big.jpg" alt="Collections" />
                    </div>
                    <div class="thumb__preview gap15" >
                      <div class="content-overlay"></div>
                      <img src="/assets/media/images/moonsea/avatar-big.jpg" alt="Collections" />
                  </div>
                  <div class="thumb__preview gap15" >
                      <div class="content-overlay"></div>
                      <img src="/assets/media/images/moonsea/avatar-big.jpg" alt="Collections" />
                  </div>
                  </div>
  
                  <div class="flex100">
                    <div class="color-secondary collections__subtitle orbitron">
                     facke image
                    </div>
                    <div class="collections__line">
                      <div class="collections__user">
                        <div class="text-primary collections__author">
                          By <span> facke author</span>
                        </div>
                      </div>
                      <div class="collections__counter">
                        <span class="text-primary">222 items</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>


              <a class="collections__item" >
         
                <div class="collections__gallery">
                  <div class="collections__preview">
                    <div class="content-overlay"></div>
                    <img src="/assets/media/images/moonsea/avatar-big.jpg" alt="Collections" />
                  </div>
  
                  <div class="flex flex-wrap flex100 gap15 justify-start">
                    <div class="thumb__preview gap15" >
                        <div class="content-overlay"></div>
                        <img src="/assets/media/images/moonsea/avatar-big.jpg" alt="Collections" />
                    </div>
                    <div class="thumb__preview gap15" >
                      <div class="content-overlay"></div>
                      <img src="/assets/media/images/moonsea/avatar-big.jpg" alt="Collections" />
                  </div>
                  <div class="thumb__preview gap15" >
                      <div class="content-overlay"></div>
                      <img src="/assets/media/images/moonsea/avatar-big.jpg" alt="Collections" />
                  </div>
                  </div>
  
                  <div class="flex100">
                    <div class="color-secondary collections__subtitle orbitron">
                     facke image
                    </div>
                    <div class="collections__line">
                      <div class="collections__user">
                        <div class="text-primary collections__author">
                          By <span> facke author</span>
                        </div>
                      </div>
                      <div class="collections__counter">
                        <span class="text-primary">222 items</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
          </div>
        </div>
      </div>
    </div>
  </section>