@import "includes";

input.search_word {
  background: transparent;
  font-size: 30px;
  max-width: fit-content;
}
.max-word {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

//=============Dropdown css start here=============================================================//
.dropbtn {
  color: $secondary;
  font-size: 27px;
  border: none;
  cursor: pointer;
  font-family: "Orbitron";
  font-weight: 900;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #090d16;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 1;
  border: solid 1px #fff;
}

.dropdown-content a {
  color: $white;
  padding: 18px 0;
  text-decoration: none;
  display: block;
  margin: 0 1rem;
  border-bottom: solid 1px $white;
  font-family: $primary-font;
  font-size: 14px;
  font-weight: $semi-bold;
  &:last-child {
    border-bottom: none;
  }
}

.dropdown a:hover {
  color: $primary;
}

.show {
  display: block;
}
.dropbtn:hover {
  color: white;
}
.search_word.orbitron.p3.color-secondary:hover {
  color: white;
}

input {
  width: 100px;
}

//=============Dropdown css End here=============================================================//
