<div class="popup popup_bid large-poup">
  <div class="bg-light">
    <div class="flex justify-space-between">
      <h5 class="orbitron p24 mb40">Change or confirm #{{data?.title}}</h5>
      <a href="javascript:void(0)" (click)="close()">
        <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1"
          viewBox="0 0 27 27" height="24px" width="24px">
          <title>Close Popup</title>
          <desc>Created with Sketch.</desc>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <path
              d="M13.9791847,12.8137085 L26.3535534,0.439339828 L27.0606602,1.14644661 L14.6862915,13.5208153 L27.0606602,25.895184 L26.3535534,26.6022907 L13.9791847,14.2279221 L1.60481605,26.6022907 L0.897709268,25.895184 L13.2720779,13.5208153 L0.897709268,1.14644661 L1.60481605,0.439339828 L13.9791847,12.8137085 Z"
              id="Combined-Shape" fill="#000000"></path>
          </g>
        </svg>
      </a>
    </div>
    <div>
      <div>
        <form #reportPost="ngForm" [formGroup]="addEditNft" (ngSubmit)="reportPost.valid && saveNFT(reportPost.value)">

          <div>
            <p class="popup__col p14 w-normal p-0 mb20">
              (Optional) Configure default values for your Items
            </p>
            <div class="flex gap">
              <div class="flex1">
                <div class="popup__field mb20">
                  <div class="mb10 p12">Title</div>
                  <div class="field__wrap">
                    <input type="text" class="popup__input" formControlName="title" name="title">
                  </div>
                  <div class="p12 w-normal mt10 mb10 error" *ngIf="
                        formControls.title.invalid &&
                        (formControls.title.touched ||
                          reportPost.submitted)
                      ">
                    title required
                  </div>
                </div>

                <div class="popup__field mb20">
                  <div class="mb10 p12">Description</div>
                  <div class="field__wrap">
                    <textarea rows="3" name="nftDefaultDescription" placeholder="Max. 140 characters"
                      class="popup__input wp100 popup__textarea" cols=""
                      formControlName="nftDefaultDescription"></textarea>
                  </div>
                  <div class="p12 w-normal mt10 mb10 error" *ngIf="
                        formControls.nftDefaultDescription.invalid &&
                        (formControls.nftDefaultDescription.touched ||
                          reportPost.submitted)
                      ">
                    Description required
                  </div>
                </div>

                <p class="popup__col p14 w-normal p-0 mb20">(Optional) Create the Traits</p>
                <div class="popup__field mb20" formArrayName="propertysize">
                  <div class="first_label" *ngFor="let skill of propertysize01.controls; let i = index">
                    <div [formGroupName]="i" class="flex">
                      <div class="flex gap mb30 align-center wp100">
                        <div class="wp100">

                          <div class="field__wrap">
                            <div class="popup__col p12 pl-0 mb10 label">
                              Trait
                            </div>
                            <input class="popup__input" formControlName="properties" id="properties{{ i }}"
                              name="properties" type="text" placeholder="Background Color" />
                          </div>
                          <!-- <div class="p12 w-normal mt10 mb10 error" *ngIf="
                                propertysize01.controls[i].get('properties')
                                  .invalid &&
                                (propertysize01.controls[i].get('properties')
                                  .touched ||
                                  reportPost.submitted)
                              ">
                            Properties required
                          </div> -->
                        </div>

                        <div class="wp100">
                          <div class="popup__col p12 pl-0 mb10 label">Display Type</div>
                          <div class="field__wrap">
                            <input class="popup__input" formControlName="size" id="size{{ i }}" name="size" type="text"
                              placeholder="Text" />
                          </div>
                          <!-- <div class="p12 w-normal mt10 mb10 error required" *ngIf="
                              propertysize01.controls[i].get('size').invalid &&
                              (propertysize01.controls[i].get('size').touched ||
                                step04.submitted)
                            ">
                            Type required
                          </div> -->
                        </div>
                      <div class="trash" *ngIf="propertysize01.controls.length > 1">
                        <a href="javascript:void(0)" (click)="deletepropertysize01(i)">
                          <svg _ngcontent-nwr-c145="" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 27 27" height="24px" width="24px"><title _ngcontent-nwr-c145="">Close Popup</title><desc _ngcontent-nwr-c145="">Created with Sketch.</desc><g _ngcontent-nwr-c145="" id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><path _ngcontent-nwr-c145="" d="M13.9791847,12.8137085 L26.3535534,0.439339828 L27.0606602,1.14644661 L14.6862915,13.5208153 L27.0606602,25.895184 L26.3535534,26.6022907 L13.9791847,14.2279221 L1.60481605,26.6022907 L0.897709268,25.895184 L13.2720779,13.5208153 L0.897709268,1.14644661 L1.60481605,0.439339828 L13.9791847,12.8137085 Z" id="Combined-Shape" fill="#000000"></path></g></svg>
                        </a>
                      </div>
                    </div>

                    </div>
                  </div>
                </div>
                <div>
                  <a (click)="addProperies()">
                    <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26 26"
                      style="width: 48px; height: 48px" xml:space="preserve">
                      <circle class="st4" cx="13" cy="13" r="12"></circle>
                      <g>
                        <line class="st4" x1="13" y1="8" x2="13" y2="18"></line>
                        <line class="st4" x1="18" y1="13" x2="8" y2="13"></line>
                      </g>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="flex1">
                <div [hidden]="data.isMinted">
                  <div class="popup__field mb20">
                    <div class="upload__option">
                      <div class="upload__box">
                        <div class="upload__category p12">Put on sale</div>
                        <div class="upload__text text-dark">
                          You’ll receive bids on this item
                        </div>
                      </div>
                      <label class="switch">
                        <input class="switch__input" [attr.disabled]="data.isMinted ? true : null"
                          formControlName="putOnSale" type="checkbox" checked="checked" />
                        <span class="switch__inner"><span class="switch__box"></span></span>
                      </label>
                    </div>
                  </div>

                  <div class="popup__field mb20" *ngIf="formControls.putOnSale.value">
                    <div class="upload__option">
                      <div class="upload__box">
                        <div class="upload__category p12">Fixed Price</div>
                      </div>
                      <label class="switch">
                        <input class="switch__input" value="1" formControlName="typeOfSale" type="radio"
                          name="typeOfSale" [attr.disabled]="data.isMinted ? true : null" />
                        <span class="switch__inner"><span class="switch__box"></span></span>
                      </label>
                    </div>

                    <div class="upload__option">
                      <div class="upload__box">
                        <div class="upload__category p12">Timed Auction</div>
                      </div>
                      <label class="switch">
                        <input class="switch__input" value="2" formControlName="typeOfSale" type="radio"
                          checked="checked" name="typeOfSale" [attr.disabled]="data.isMinted ? true : null" />
                        <span class="switch__inner"><span class="switch__box"></span></span>
                      </label>
                    </div>

                    <div class="upload__option">
                      <div class="upload__box">
                        <div class="upload__category p12">Open for bid</div>
                      </div>
                      <label class="switch">
                        <input class="switch__input" value="3" formControlName="typeOfSale" type="radio"
                          checked="checked" name="typeOfSale" [attr.disabled]="data.isMinted ? true : null" />
                        <span class="switch__inner"><span class="switch__box"></span></span>
                      </label>
                    </div>
                  </div>

                  <div class="popup__field mb20" *ngIf="
                        formControls.putOnSale.value &&
                        (formControls.typeOfSale.value == 1 || formControls.typeOfSale.value == 2 || formControls.typeOfSale.value == 3)
                      ">
                    <div class="popup__col mb10 p12">{{formControls.typeOfSale.value == '1' ? 'Price' : 'Minimum Bid Price' }}
                    </div>
                    <div class="field__wrap flex align-center">
                      <input class="popup__input" formControlName="minimunBid" name="minimunBid" type="text"
                        [attr.readonly]="data.isMinted ? true : null" />
                        <div class="p12 currency">{{formControls.typeOfSale.value == '1' ? blockchainInfo.symbol : blockchainInfo.wsymbol}}</div>
                    </div>
                    <div class="p12 w-normal mt10 mb10 error" *ngIf="
                          formControls.minimunBid.invalid &&
                          (formControls.minimunBid.touched ||
                            reportPost.submitted)
                        ">
                      Minimum Bid required
                    </div>
                  </div>





                  <div *ngIf="
                        formControls.putOnSale.value &&
                        formControls.typeOfSale.value == 2
                      ">


                    <div class="popup__field mb20">
                      <div class="popup__col mb10 p12">Start Date</div>
                      <div class="field__wrap">
                        <ejs-datetimepicker id="datetimepicker" name="startDate" placeholder="Select a date"
                          formControlName="startDate" [value]="dateValue" [attr.readonly]="data.isMinted ? true : null">
                        </ejs-datetimepicker>
                      </div>
                      <div class="p12 w-normal mt10 mb10 error" *ngIf="
                            formControls.startDate.invalid &&
                            (formControls.startDate.touched ||
                              reportPost.submitted)
                          ">
                        Start Date required
                      </div>
                    </div>

                    <!-- <div class="popup__field mb20">
                      <div class="popup__col mb10 p12">End Date</div>
                      <div class="field__wrap">
                        <ejs-datetimepicker id="datetimepicker" name="endDate" placeholder="Select a date"
                          formControlName="endDate" [value]="dateValue" [attr.readonly]="data.isMinted ? true : null">
                        </ejs-datetimepicker>
                      </div>
                      <div class="p12 w-normal mt10 mb10 error" *ngIf="
                            formControls.endDate.invalid &&
                            (formControls.endDate.touched || reportPost.submitted)
                          ">
                        End Date required
                      </div>
                    </div> -->

                    <div class="popup__field mb20">
                      <div class="popup__col mb10 p12">No of Days Auction</div>
                      <div class="field__wrap">
                        <select name="noOfDaysAuction" nice-select class="select"
                          formControlName="noOfDaysAuction">
                          <option [ngValue]="3">3 Days</option>
                          <option [ngValue]="5">5 Days</option>
                          <option [ngValue]="7">7 Days</option>
                          <option [ngValue]="14">14 Days</option>
                          <option [ngValue]="30">30 Days</option>
                        </select>
                      </div>
                      <div *ngIf="formControls.noOfDaysAuction.invalid &&
                      (formControls.noOfDaysAuction.touched || reportPost.submitted)" class="p12 w-normal mt10 mb10 error">
                        No of Days Auction requied
                      </div>

                    </div>
                  </div>




                </div>
                <div class="popup__field mb20" *ngIf="data.isMultiple">
                  <div class="popup__col mb10 p12">No of copies</div>
                  <div class="field__wrap">
                    <input class="popup__input" formControlName="numberOfCopies" name="numberOfCopies" type="text"
                      [attr.disabled]="(data.isMinted || !data.isMultiple) ? true : null" />
                  </div>
                  <div class="p12 w-normal mt10 mb10 error" *ngIf="
                    formControls.numberOfCopies.invalid &&
                    (formControls.numberOfCopies.touched ||
                      reportPost.submitted)
                  ">
                    <div *ngIf=" formControls.numberOfCopies.errors?.required">numberOfCopies required</div>
                    <div *ngIf=" formControls.numberOfCopies.errors?.invalidNoOfCopies">number requied</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex gap">
              <div class="flex1"></div>
              <div class="flex1">
                <div class="popup__btns flex gap">
                  <button type="submit" class="button text-inherit dark-button mb10 wp100">
                    Confirm
                    <div class="loader text-white" *ngIf="isApiLoading"></div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>