@import "includes";

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  display: none;
}

@media (min-width: $md) {
  .large-poup {
    min-width: 800px;
    max-width: 800px;
    min-height: 400px;
  }
}

.w-80 {
  width: 80%;
}
.w-20 {
  width: 20%;
}
.w-20.trash {
  display: flex;
  justify-content: center;
}

.first_label .label {
  display: none;
}

.first_label:first-child {
  .label {
    display: flex;
  }
  .trash {
    display: flex;
    align-items: flex-end;
    position: relative;
    bottom: -15px;
  }
}

.currency {
  position: absolute;
  right: 10px;
} 
