.font_size_30{
    font-size: 30px;
}

.w-50{
    width: 50%;
}
.mt-30{
    margin: 30px 0 0 0;
}
.mat-stepper-horizontal, .mat-stepper-vertical{
    background-color: transparent;
}

/**
*medea query
*
*/
@media only screen and (max-width: 62.5rem) {
    .removeflex{
        display: block;
    }
    .w-50{
        width: 100%;
    }
  }