.showtab {
  display: block !important;
}

.hidetab {
  display: none !important;
}
.color_link {
  color: black;
}
.box {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid;
  justify-content: space-around;
}
.break-word {
  word-break: break-all;
}
