<div>
  <div class="landing-flex item__center pb100">
    <div class="flex1 item__details justify-space-between mr30">
      <div class="flex mb20 justify-space-between align-center">
        <button class="mobile-only" (click)="goBack()">
          <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 84 32" xml:space="preserve" style="width: 100px; height: 36px">

            <g>
              <path d="M54.7,17.9c0,1.9-1.4,3-4.2,3h-5.2V9.7h4.8c2.5,0,3.9,1.1,3.9,2.9c0,1.3-0.7,2.1-1.7,2.5
          C53.9,15.4,54.7,16.4,54.7,17.9z M46.5,10.7v4.1h3.6c1.8,0,2.8-0.7,2.8-2s-1-2-2.8-2H46.5z M53.5,17.8c0-1.5-1.1-2.1-3-2.1h-4v4.2
          h4C52.5,19.9,53.5,19.3,53.5,17.8z" class="st1"></path>
              <path d="M63.5,15.7v5.2h-1.1v-1.3c-0.5,0.9-1.5,1.4-2.9,1.4c-1.9,0-3.1-1-3.1-2.4c0-1.3,0.8-2.4,3.2-2.4h2.7v-0.5
          c0-1.4-0.8-2.2-2.4-2.2c-1.1,0-2.1,0.4-2.8,1l-0.5-0.8c0.8-0.7,2.1-1.1,3.4-1.1C62.3,12.4,63.5,13.5,63.5,15.7z M62.4,18.4V17h-2.6
          c-1.6,0-2.2,0.6-2.2,1.5c0,1,0.8,1.6,2.1,1.6C61,20.1,61.9,19.5,62.4,18.4z" class="st1"></path>
              <path
                d="M65.8,16.7c0-2.5,1.8-4.3,4.3-4.3c1.4,0,2.6,0.6,3.3,1.7l-0.8,0.6c-0.6-0.8-1.5-1.2-2.4-1.2
          c-1.8,0-3.2,1.3-3.2,3.3c0,2,1.3,3.3,3.2,3.3c1,0,1.9-0.4,2.4-1.2l0.8,0.6c-0.7,1.1-1.9,1.7-3.3,1.7C67.6,21,65.8,19.2,65.8,16.7z"
                class="st1"></path>
              <path d="M78.7,16.7l-2,1.8v2.4h-1.1V9h1.1v8.1l5-4.6h1.4l-3.6,3.4l3.9,5H82L78.7,16.7z" class="st1"></path>
            </g>
            <g>
              <circle cx="16" cy="16" r="15" class="stroke"></circle>
              <g>
                <line x1="21.9" y1="16" x2="10.4" y2="16" class="stroke"></line>
                <polyline points="15.8,21.7 10.1,16 15.7,10.3 		" class="stroke"></polyline>
              </g>
            </g>
          </svg>
        </button>

        <button class="desktop-only" (click)="goBack()">
          <svg version="1.1" id="back_btn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 136 56" style="
              enable-background: new 0 0 136 56;
              width: 130px;
              height: 54px;
            " xml:space="preserve" xml:space="preserve">
            <polygon class="st0" points="135,55 28.6,55 1.1,28 28.6,1 135,1 " />
            <g>
              <path class="st1" d="M82.2,29.9c0,1.9-1.4,3-4.2,3h-5.2V21.7h4.8c2.5,0,3.9,1.1,3.9,2.9c0,1.3-0.7,2.1-1.7,2.5
		C81.4,27.4,82.2,28.4,82.2,29.9z M74.1,22.7v4.1h3.6c1.8,0,2.8-0.7,2.8-2s-1-2-2.8-2H74.1z M81.1,29.8c0-1.5-1.1-2.1-3-2.1h-4v4.2
		h4C80,31.9,81.1,31.3,81.1,29.8z" />
              <path class="st1" d="M91.1,27.7v5.2H90v-1.3c-0.5,0.9-1.5,1.4-2.9,1.4c-1.9,0-3.1-1-3.1-2.4c0-1.3,0.8-2.4,3.2-2.4h2.7v-0.5
		c0-1.4-0.8-2.2-2.4-2.2c-1.1,0-2.1,0.4-2.8,1l-0.5-0.8c0.8-0.7,2.1-1.1,3.4-1.1C89.8,24.4,91.1,25.5,91.1,27.7z M89.9,30.4V29h-2.6
		c-1.6,0-2.2,0.6-2.2,1.5c0,1,0.8,1.6,2.1,1.6C88.5,32.1,89.5,31.5,89.9,30.4z" />
              <path class="st1"
                d="M93.3,28.7c0-2.5,1.8-4.3,4.3-4.3c1.4,0,2.6,0.6,3.3,1.7l-0.8,0.6c-0.6-0.8-1.5-1.2-2.4-1.2
		c-1.8,0-3.2,1.3-3.2,3.3c0,2,1.3,3.3,3.2,3.3c1,0,1.9-0.4,2.4-1.2l0.8,0.6c-0.7,1.1-1.9,1.7-3.3,1.7C95.2,33,93.3,31.2,93.3,28.7z" />
              <path class="st1" d="M106.2,28.7l-2,1.8v2.4h-1.1V21h1.1v8.1l5-4.6h1.4l-3.6,3.4l3.9,5h-1.4L106.2,28.7z" />
            </g>
            <g>
              <circle class="st0" cx="43.5" cy="28" r="15" />
              <g>
                <line class="st0" x1="49.5" y1="28" x2="38" y2="28" />
                <polyline class="st0" points="43.3,33.6 37.6,27.9 43.2,22.3 		" />
              </g>
            </g>
          </svg> 
        </button>

        <a href="javascript:void(0)" (click)="refresh()" class="max-content mobile-only"><svg version="1.1" id="refresh"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 60 60" xml:space="preserve"
            style="enable-background: new 0 0 60 60; width: 60px; height: 60px">
            <style>
              .st4 {
                fill: none;
                stroke: #50aac5;
                stroke-miterlimit: 10;
              }

              #refresh:hover .st4 {
                stroke: #c5e3ec;
              }
            </style>
            <circle cx="30" cy="30" r="27" class="st4"></circle>
            <path d="M40.9,20.9C38.1,17.8,34.2,16,30,16c-8.7,0-14.5,7.5-14.5,14.5c0,7,5.8,14.5,14.5,14.5
          c8.7,0,14.5-7.5,14.5-14.5" class="st4"></path>
            <polyline points="40.9,15 40.9,20.9 35,20.9 " class="st4"></polyline>
          </svg></a>
      </div>
      <div>
        <div class="item__preview mobile-only">
          <div class="item__categories">
            <div class="status-black item__category">
              {{ data?.categoryName == null ? "Other" : data?.categoryName }}
            </div>
            <!-- <div class="status-purple item__category">unlockable</div> -->
          </div>
          <!-- <img src="{{ data?.fileUrl }}" alt="Item" *ngIf="data?.fileUrl && data?.fileUrl.search('.mp4') == -1"/> -->

          <!-- <div class="loaderFrame">
          <video class="loaderVideo" *ngIf="!data?.fileUrl" autoplay loop><source  src="assets/media/videos/moonsea-animated-logo.webm" type="video/mp4"></video>
          </div> -->
          <img [lazyLoad]="data?.fileUrl" [defaultImage]="'assets/icons/5904642857251113741.gif'"
            *ngIf="data?.fileUrl && data?.fileUrl.search('.mp4') == -1" />

          <video class="video" loop autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"
            [muted]="true" *ngIf="data?.fileUrl && data?.fileUrl.search('.mp4') != -1">
            <source src="{{ data?.fileUrl }}" type="video/mp4" />
          </video>
        </div>

        <h1 class="mt20 orbitron text-secondary p24">{{ data?.title }}</h1>

        <p class="text-ellipsis text-primary p16 mt20">
          {{ data?.description }}
        </p>
        by
        <a class="item__description owner_name text-primary"
          [routerLink]="['/mycollection/collection', data?.tokenName]">
          <span class="p16"> {{ data?.tokenName }}</span>
        </a>

        <p class="text-primary p18">{{ data?.created }}</p>
        <div class="item__cost p16 pt20 mt20 border-top justify-space-between">
          <p class="text-primary">
            {{ data?.price }} {{ data?.currencySymbol }}
          </p>
          <p class="text-primary">
            ${{ data?.price * pricingApi.bnbPriceInUsd | number: "1.2-2" }}
          </p>
          <!-- <div class="item__counter">{{ data?.currentSupply }} in stock</div> -->
        </div>

        <div class="user__control flex mobile-only">
          <div class="flex1">
            <div data-url="https://ui8.net" class="flex justify-space-between align-center">
              <div class="flex align-center">
                <a data-id="fb" class="user__direction btn-facebook">
                  <span><svg version="1.1" id="chart" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40"
                      style="enable-background: new 0 0 40 40" xml:space="preserve">
                      <path d="M20,2C10.1,2,2,10.1,2,20c0,9.9,8.1,18,18,18s18-8.1,18-18C38,10.1,29.9,2,20,2z M28.1,18L28.1,18
                  c-0.1,0-0.1,0-0.2,0l-3.1,4.6c0.3,0.4,0.4,1,0.3,1.5c-0.1,0.6-0.4,1.2-0.9,1.6c-0.5,0.4-1.1,0.6-1.8,0.5c-0.6-0.1-1.2-0.4-1.6-0.9
                  c-0.3-0.4-0.5-1-0.5-1.5c0-0.3,0.1-0.7,0.2-1l-2.3-2.3c-0.5,0.2-1.1,0.2-1.7,0.1l-2.5,2.9c0.5,1,0.3,2.3-0.7,3
                  c-0.4,0.3-1,0.5-1.5,0.5c-0.7,0-1.4-0.3-1.9-0.9c-0.8-1.1-0.6-2.6,0.4-3.4c0.4-0.3,1-0.5,1.5-0.5c0,0,0,0,0,0c0.2,0,0.4,0,0.5,0.1
                  l2.6-3c-0.1-0.3-0.2-0.6-0.2-0.9c0-0.6,0.2-1.2,0.6-1.7c0.4-0.5,1-0.8,1.7-0.8c0.6,0,1.3,0.2,1.7,0.6c0.5,0.4,0.8,1,0.8,1.7
                  c0,0.1,0,0.1,0,0.2c0,0.2,0,0.5-0.1,0.8l2.4,2.5c0.2-0.1,0.5-0.1,0.7-0.1c0.2,0,0.3,0,0.5,0.1l2.9-4.4c-0.3-0.4-0.5-0.9-0.5-1.4
                  c0-0.6,0.2-1.3,0.7-1.7c0.4-0.5,1-0.7,1.7-0.7c0.6,0,1.3,0.2,1.7,0.7c0.3,0.3,0.6,0.8,0.7,1.2h0.1l0,0.5C30.5,16.9,29.4,18,28.1,18z
                  " class="st0"></path>
                    </svg></span>
                </a>

                <a data-id="fb" class="user__direction btn-facebook"><span><svg version="1.1" id="discord"
                      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 40 40" xml:space="preserve" style="enable-background: new 0 0 40 40">
                      <g>
                        <path d="M20,2C10.1,2,2,10.1,2,20s8.1,18,18,18s18-8.1,18-18S29.9,2,20,2z M24.7,27.1c0,0-0.6-0.7-1.1-1.4
                       c2.2-0.6,3.1-2,3.1-2c-0.7,0.5-1.4,0.8-2,1c-0.9,0.3-1.7,0.6-2.5,0.7c-1.6,0.3-3.1,0.2-4.4,0c-1-0.2-1.8-0.4-2.5-0.7
                       c-0.4-0.1-0.8-0.3-1.3-0.6c0,0-0.1,0-0.1-0.1c0,0,0,0,0,0c-0.3-0.2-0.5-0.3-0.5-0.3s0.8,1.4,3,2c-0.5,0.6-1.2,1.4-1.2,1.4
                       C11.5,27,10,24.6,10,24.6c0-5.5,2.5-9.9,2.5-9.9c2.5-1.8,4.8-1.8,4.8-1.8l0.2,0.2c-3.1,0.9-4.5,2.2-4.5,2.2s0.4-0.2,1-0.5
                       c1.8-0.8,3.3-1,3.9-1.1c0.1,0,0.2,0,0.3,0c1.1-0.1,2.2-0.2,3.4,0c1.6,0.2,3.4,0.7,5.1,1.6c0,0-1.4-1.3-4.3-2.1l0.2-0.3
                       c0,0,2.3,0,4.8,1.8c0,0,2.5,4.4,2.5,9.9C30,24.6,28.5,27,24.7,27.1z" class="st0"></path>
                        <path
                          d="M23,19.2c-1,0-1.7,0.8-1.7,1.9c0,1.1,0.8,1.9,1.7,1.9s1.7-0.8,1.7-1.9C24.8,20,24,19.2,23,19.2z"
                          class="st0"></path>
                        <ellipse cx="16.8" cy="21.1" rx="1.7" ry="1.9" class="st0"></ellipse>
                      </g>
                    </svg></span>
                </a>
              </div>
              <a data-id="fb" class="user__direction btn-facebook"><span><svg version="1.1" id="website"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 40 40" xml:space="preserve" style="enable-background: new 0 0 40 40">
                    <path d="M20,2C10.1,2,2,10.1,2,20s8.1,18,18,18s18-8.1,18-18S29.9,2,20,2z M24.3,23c-0.3,1-0.8,1.9-1.5,2.7l-2.7,2.7
                     c-0.8,0.8-1.6,1.3-2.7,1.5s-2,0.3-3,0s-1.9-0.8-2.7-1.5c-0.8-0.8-1.3-1.7-1.5-2.7c-0.3-1-0.3-2,0-3c0.3-1,0.8-1.9,1.5-2.7l1.5-1.5
                     c0.2-0.2,0.4-0.2,0.6-0.1s0.4,0.3,0.4,0.5c0,0.7,0.2,1.4,0.4,2.1c0.1,0.2,0,0.4-0.2,0.6L14,22.1c-0.5,0.5-0.8,1.2-0.8,2
                     c0,0.8,0.3,1.4,0.8,2c0.5,0.6,1.2,0.8,2,0.8c0.8,0,1.4-0.3,2-0.8l2.6-2.6c0.5-0.5,0.8-1.2,0.8-2c0-0.8-0.3-1.4-0.8-2
                     c-0.1-0.1-0.3-0.2-0.4-0.4s-0.2-0.3-0.2-0.5c0-0.5,0.1-0.9,0.4-1.2l0.9-0.8c0.1-0.1,0.2-0.2,0.4-0.2s0.3,0,0.4,0.1
                     c0.3,0.2,0.6,0.4,0.8,0.7c0.8,0.8,1.3,1.7,1.5,2.7C24.6,20.9,24.6,22,24.3,23z M29.8,17.5c-0.3,1-0.8,1.9-1.5,2.7l-1.5,1.5
                     c-0.2,0.2-0.4,0.2-0.6,0.1s-0.4-0.3-0.4-0.5c0-0.7-0.2-1.4-0.4-2.1c-0.1-0.2,0-0.4,0.2-0.6l0.5-0.5c0.5-0.5,0.8-1.2,0.8-2
                     c0-0.8-0.3-1.4-0.8-2s-1.2-0.8-2-0.8c-0.8,0-1.4,0.3-2,0.8l-2.6,2.6c-0.5,0.5-0.8,1.2-0.8,2c0,0.8,0.3,1.4,0.8,2
                     c0.1,0.1,0.3,0.2,0.4,0.4s0.2,0.3,0.2,0.5c0,0.5-0.1,0.9-0.4,1.2l-0.9,0.8c-0.1,0.1-0.2,0.2-0.4,0.2s-0.3,0-0.4-0.1
                     c-0.3-0.2-0.6-0.4-0.8-0.7c-0.8-0.8-1.3-1.7-1.5-2.7c-0.3-1-0.3-2,0-3c0.3-1,0.8-1.9,1.5-2.7l2.7-2.7c0.8-0.8,1.6-1.3,2.7-1.5
                     c1-0.3,2-0.3,3,0c1,0.3,1.9,0.8,2.7,1.5c0.8,0.8,1.3,1.7,1.5,2.7C30.1,15.4,30.1,16.4,29.8,17.5z"
                      class="st0"></path>
                  </svg></span>
              </a>
              <a data-id="fb" class="user__direction more_icon" (click)="openDialog()" *ngIf="data?.isOwner">
                <span>
                  <svg version="1.1" id="more_svg" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 384.97 384.97"
                    style="enable-background: new 0 0 384.97 384.97" xml:space="preserve">
                    <g>
                      <g id="More_Horizontal">
                        <path d="M48.121,144.364C21.546,144.364,0,165.91,0,192.485s21.546,48.121,48.121,48.121s48.121-21.546,48.121-48.121
        S74.696,144.364,48.121,144.364z M48.121,216.545c-13.293,0-24.061-10.767-24.061-24.061s10.767-24.061,24.061-24.061
        s24.061,10.779,24.061,24.061C72.182,205.778,61.415,216.545,48.121,216.545z" />
                        <path
                          d="M336.848,144.364c-26.575,0-48.121,21.546-48.121,48.121s21.546,48.121,48.121,48.121
        c26.575,0,48.121-21.546,48.121-48.121S363.423,144.364,336.848,144.364z M336.848,216.545c-13.293,0-24.061-10.767-24.061-24.061
        s10.767-24.061,24.061-24.061c13.281,0,24.061,10.779,24.061,24.061C360.909,205.778,350.13,216.545,336.848,216.545z" />
                        <path d="M192.485,144.364c-26.575,0-48.121,21.546-48.121,48.121s21.546,48.121,48.121,48.121s48.121-21.546,48.121-48.121
        S219.06,144.364,192.485,144.364z M192.485,216.545c-13.293,0-24.061-10.767-24.061-24.061s10.767-24.061,24.061-24.061
        c13.281,0,24.061,10.779,24.061,24.061C216.545,205.778,205.766,216.545,192.485,216.545z" />
                      </g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                    </g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                  </svg>
                </span>

                <!-- <div class="drop_container">
                  <a href="">
                    <div>Add in listing</div>
                  </a>
                  <a href="">
                    <div>one</div>
                  </a>
                  <a href="">
                    <div>one</div>
                  </a>
                  <a href="">
                    <div>one</div>
                  </a>
                </div> -->
              </a>
            </div>
          </div>
        </div>

        <div>
          <div class="item__counter cardOfProperty">
            <div class="flex align-center w-100">
              <div class="item__avatar" [routerLink]="['/mycollection/collection', data?.tokenName]">
                <img *ngIf="data?.collectionFileUrl" src="{{ data?.collectionFileUrl }}" alt="Avatar" />
                <img *ngIf="!data?.collectionFileUrl" src="assets/media/images/moonsea/profile.png" alt="Avatar" />
              </div>

              <div class="w-100" *ngIf="indexForPlaceBid >= 0 || indexForPurchase >= 0">
                <div class="p18 flex flex1">
                  <p class="text-primary p14 mb10" *ngIf="
                      indexForPlaceBid >= 0 &&
                      (data?.typeOfSale == 2 || data?.typeOfSale == 3)
                    ">
                    Highest bid by
                    <a class="mb10" [routerLink]="[
                        '/mycollection/collection',
                        data?.tokenName
                      ]">
                      <span class="text-primary p14">{{
                        data?.tokenName
                        }}</span>
                    </a>
                  </p>
                </div>

                <p class="text-primary p14 mb10" *ngIf="indexForPurchase >= 0">
                  Purchase Now
                </p>
                <div class="p18 flex flex1 justify-space-between">
                  <p class="text-secondary">
                    {{ data?.price }} {{ data?.currencySymbol }}
                  </p>
                  <p class="text-primary">
                    ${{
                    data?.price * pricingApi.bnbPriceInUsd | number: "1.2-2"
                    }}
                  </p>
                  <!-- <div class="item__counter">{{ data?.currentSupply }} in stock</div> -->
                </div>
              </div>
              <div *ngIf="indexForPlaceBid == -1 && indexForPurchase == -1">
                <p class="text-primary p14">Not for sale</p>
              </div>
              <!-- <p class="title_name">{{ propertyShow.size }}</p>
              <p>{{ propertyShow.properties }}</p> -->
            </div>

            <span *ngIf="
                data?.typeOfSale == 2 &&
                data?.timerType == 2 &&
                this.indexForPlaceBid >= 0
              ">
              Ended in</span>
            <app-count-down *ngIf="
                data?.typeOfSale == 2 &&
                data?.timerType != 0 &&
               ( indexForPlaceBid >= 0 || indexForPlaceBid == 0)
              " [startingDate]="
                data?.timerType == 1 ? data?.startingDate : data?.expirationDate
              ">
            </app-count-down>

            <span *ngIf="data?.typeOfSale == 2 && data?.timerType == 0">Auction ended</span>
            <ng-container class="item__btns wp100">
              <!--  *ngIf="
                  indexForPlaceBid >= 0 &&
                  (data?.timerType == 2 || data?.typeOfSale == 3)
                "
                below place bid div condition is above 
               -->
              <div class="wp100 mt30" *ngIf="ownersData?.length > 0 && data?.blockchainId">
                <app-place-bid [fromPage]="1" [items]="ownersData[0]" [nftName]="data?.title"
                  [blockchainId]="data?.blockchainId" [typeOfSale]="data?.typeOfSale" [data]="data">
                </app-place-bid>
              </div>
              <!-- Purchase now button commented please don't delete it  -->
              <!-- <div class="wp100 mt30" *ngIf="indexForPurchase >= 0">
                <app-purchase-now
                  [fromPage]="1"
                  [items]="ownersData[indexForPurchase]"
                  [nftName]="data?.title"
                >
                </app-purchase-now>
              </div> -->

              <div class="wp100 mt30" *ngIf="indexForPurchase >= 0 && data?.blockchainId">
                <app-purchase-now [fromPage]="1" [items]="ownersData[indexForPurchase]" [nftName]="data?.title"
                  [blockchainId]="data?.blockchainId">
                </app-purchase-now>
              </div>

              <p class="p12 w-normal mt20 align-self-start">
                <span class="w600">S-Fee </span> — 1.5% / 2.563 ETH / $4,540.60
              </p>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex2 item__bg desktop-only">
      <div class="item__preview">
        <div class="item__categories">
          <div class="status-black item__category">
            {{ data?.categoryName == null ? "Other" : data?.categoryName }}
          </div>
          <!-- <div class="status-purple item__category">unlockable</div> -->
        </div>
        <!-- <img src="{{ data?.fileUrl }}" alt="Item" *ngIf="data?.fileUrl && data?.fileUrl.search('.mp4') == -1"/> -->

        <!-- <div class="loaderFrame">
        <video class="loaderVideo" *ngIf="!data?.fileUrl" autoplay loop><source  src="assets/media/videos/moonsea-animated-logo.webm" type="video/mp4"></video>
        </div>  [defaultImage]="'assets/icons/5904642857251113741.gif'"-->
       
          <img [src]="data?.fileUrl"
            (load)="isImgLoaded = true" [hidden]="!isImgLoaded" *ngIf="data?.fileUrl && data?.fileUrl.search('.mp4') == -1" />
        
          <video class="video"  autoplay [loop]="true"
            onloadedmetadata="this.muted = true" [muted]="true" *ngIf="!isImgLoaded">
            <source src="assets/media/videos/moonsea-animated-logo.webm" type="video/mp4" />
          </video>
       


        <video class="video" loop autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"
          [muted]="true" (loadeddata)="isImgLoaded = true" [hidden]="!isImgLoaded" *ngIf="data?.fileUrl && data?.fileUrl.search('.mp4') != -1">
          <source src="{{ data?.fileUrl }}" type="video/mp4" />
        </video>
      </div>
      <div class="user__control ml10 flex1">
        <div class="js-user-box">
          <div data-url="https://ui8.net" class="share-btn">
            <a data-id="fb" class="user__direction btn-facebook">
              <span><svg version="1.1" id="chart" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40"
                  style="enable-background: new 0 0 40 40" xml:space="preserve">
                  <path d="M20,2C10.1,2,2,10.1,2,20c0,9.9,8.1,18,18,18s18-8.1,18-18C38,10.1,29.9,2,20,2z M28.1,18L28.1,18
                c-0.1,0-0.1,0-0.2,0l-3.1,4.6c0.3,0.4,0.4,1,0.3,1.5c-0.1,0.6-0.4,1.2-0.9,1.6c-0.5,0.4-1.1,0.6-1.8,0.5c-0.6-0.1-1.2-0.4-1.6-0.9
                c-0.3-0.4-0.5-1-0.5-1.5c0-0.3,0.1-0.7,0.2-1l-2.3-2.3c-0.5,0.2-1.1,0.2-1.7,0.1l-2.5,2.9c0.5,1,0.3,2.3-0.7,3
                c-0.4,0.3-1,0.5-1.5,0.5c-0.7,0-1.4-0.3-1.9-0.9c-0.8-1.1-0.6-2.6,0.4-3.4c0.4-0.3,1-0.5,1.5-0.5c0,0,0,0,0,0c0.2,0,0.4,0,0.5,0.1
                l2.6-3c-0.1-0.3-0.2-0.6-0.2-0.9c0-0.6,0.2-1.2,0.6-1.7c0.4-0.5,1-0.8,1.7-0.8c0.6,0,1.3,0.2,1.7,0.6c0.5,0.4,0.8,1,0.8,1.7
                c0,0.1,0,0.1,0,0.2c0,0.2,0,0.5-0.1,0.8l2.4,2.5c0.2-0.1,0.5-0.1,0.7-0.1c0.2,0,0.3,0,0.5,0.1l2.9-4.4c-0.3-0.4-0.5-0.9-0.5-1.4
                c0-0.6,0.2-1.3,0.7-1.7c0.4-0.5,1-0.7,1.7-0.7c0.6,0,1.3,0.2,1.7,0.7c0.3,0.3,0.6,0.8,0.7,1.2h0.1l0,0.5C30.5,16.9,29.4,18,28.1,18z
                " class="st0"></path>
                </svg></span>
            </a>

            <a data-id="fb" class="user__direction btn-facebook"><span><svg version="1.1" id="discord"
                  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 40 40" xml:space="preserve" style="enable-background: new 0 0 40 40">
                  <g>
                    <path d="M20,2C10.1,2,2,10.1,2,20s8.1,18,18,18s18-8.1,18-18S29.9,2,20,2z M24.7,27.1c0,0-0.6-0.7-1.1-1.4
                     c2.2-0.6,3.1-2,3.1-2c-0.7,0.5-1.4,0.8-2,1c-0.9,0.3-1.7,0.6-2.5,0.7c-1.6,0.3-3.1,0.2-4.4,0c-1-0.2-1.8-0.4-2.5-0.7
                     c-0.4-0.1-0.8-0.3-1.3-0.6c0,0-0.1,0-0.1-0.1c0,0,0,0,0,0c-0.3-0.2-0.5-0.3-0.5-0.3s0.8,1.4,3,2c-0.5,0.6-1.2,1.4-1.2,1.4
                     C11.5,27,10,24.6,10,24.6c0-5.5,2.5-9.9,2.5-9.9c2.5-1.8,4.8-1.8,4.8-1.8l0.2,0.2c-3.1,0.9-4.5,2.2-4.5,2.2s0.4-0.2,1-0.5
                     c1.8-0.8,3.3-1,3.9-1.1c0.1,0,0.2,0,0.3,0c1.1-0.1,2.2-0.2,3.4,0c1.6,0.2,3.4,0.7,5.1,1.6c0,0-1.4-1.3-4.3-2.1l0.2-0.3
                     c0,0,2.3,0,4.8,1.8c0,0,2.5,4.4,2.5,9.9C30,24.6,28.5,27,24.7,27.1z" class="st0"></path>
                    <path
                      d="M23,19.2c-1,0-1.7,0.8-1.7,1.9c0,1.1,0.8,1.9,1.7,1.9s1.7-0.8,1.7-1.9C24.8,20,24,19.2,23,19.2z"
                      class="st0"></path>
                    <ellipse cx="16.8" cy="21.1" rx="1.7" ry="1.9" class="st0"></ellipse>
                  </g>
                </svg></span>
            </a>
            <a data-id="fb" class="user__direction btn-facebook"><span><svg version="1.1" id="website"
                  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 40 40" xml:space="preserve" style="enable-background: new 0 0 40 40">
                  <path d="M20,2C10.1,2,2,10.1,2,20s8.1,18,18,18s18-8.1,18-18S29.9,2,20,2z M24.3,23c-0.3,1-0.8,1.9-1.5,2.7l-2.7,2.7
                   c-0.8,0.8-1.6,1.3-2.7,1.5s-2,0.3-3,0s-1.9-0.8-2.7-1.5c-0.8-0.8-1.3-1.7-1.5-2.7c-0.3-1-0.3-2,0-3c0.3-1,0.8-1.9,1.5-2.7l1.5-1.5
                   c0.2-0.2,0.4-0.2,0.6-0.1s0.4,0.3,0.4,0.5c0,0.7,0.2,1.4,0.4,2.1c0.1,0.2,0,0.4-0.2,0.6L14,22.1c-0.5,0.5-0.8,1.2-0.8,2
                   c0,0.8,0.3,1.4,0.8,2c0.5,0.6,1.2,0.8,2,0.8c0.8,0,1.4-0.3,2-0.8l2.6-2.6c0.5-0.5,0.8-1.2,0.8-2c0-0.8-0.3-1.4-0.8-2
                   c-0.1-0.1-0.3-0.2-0.4-0.4s-0.2-0.3-0.2-0.5c0-0.5,0.1-0.9,0.4-1.2l0.9-0.8c0.1-0.1,0.2-0.2,0.4-0.2s0.3,0,0.4,0.1
                   c0.3,0.2,0.6,0.4,0.8,0.7c0.8,0.8,1.3,1.7,1.5,2.7C24.6,20.9,24.6,22,24.3,23z M29.8,17.5c-0.3,1-0.8,1.9-1.5,2.7l-1.5,1.5
                   c-0.2,0.2-0.4,0.2-0.6,0.1s-0.4-0.3-0.4-0.5c0-0.7-0.2-1.4-0.4-2.1c-0.1-0.2,0-0.4,0.2-0.6l0.5-0.5c0.5-0.5,0.8-1.2,0.8-2
                   c0-0.8-0.3-1.4-0.8-2s-1.2-0.8-2-0.8c-0.8,0-1.4,0.3-2,0.8l-2.6,2.6c-0.5,0.5-0.8,1.2-0.8,2c0,0.8,0.3,1.4,0.8,2
                   c0.1,0.1,0.3,0.2,0.4,0.4s0.2,0.3,0.2,0.5c0,0.5-0.1,0.9-0.4,1.2l-0.9,0.8c-0.1,0.1-0.2,0.2-0.4,0.2s-0.3,0-0.4-0.1
                   c-0.3-0.2-0.6-0.4-0.8-0.7c-0.8-0.8-1.3-1.7-1.5-2.7c-0.3-1-0.3-2,0-3c0.3-1,0.8-1.9,1.5-2.7l2.7-2.7c0.8-0.8,1.6-1.3,2.7-1.5
                   c1-0.3,2-0.3,3,0c1,0.3,1.9,0.8,2.7,1.5c0.8,0.8,1.3,1.7,1.5,2.7C30.1,15.4,30.1,16.4,29.8,17.5z"
                    class="st0"></path>
                </svg></span>
            </a>
            <a data-id="fb" class="user__direction more_icon" (click)="openDialog()" *ngIf="data?.isOwner">
              <span>
                <svg version="1.1" id="more_svg" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 384.97 384.97"
                  style="enable-background: new 0 0 384.97 384.97" xml:space="preserve">
                  <g>
                    <g id="More_Horizontal">
                      <path d="M48.121,144.364C21.546,144.364,0,165.91,0,192.485s21.546,48.121,48.121,48.121s48.121-21.546,48.121-48.121
			S74.696,144.364,48.121,144.364z M48.121,216.545c-13.293,0-24.061-10.767-24.061-24.061s10.767-24.061,24.061-24.061
			s24.061,10.779,24.061,24.061C72.182,205.778,61.415,216.545,48.121,216.545z" />
                      <path
                        d="M336.848,144.364c-26.575,0-48.121,21.546-48.121,48.121s21.546,48.121,48.121,48.121
			c26.575,0,48.121-21.546,48.121-48.121S363.423,144.364,336.848,144.364z M336.848,216.545c-13.293,0-24.061-10.767-24.061-24.061
			s10.767-24.061,24.061-24.061c13.281,0,24.061,10.779,24.061,24.061C360.909,205.778,350.13,216.545,336.848,216.545z" />
                      <path d="M192.485,144.364c-26.575,0-48.121,21.546-48.121,48.121s21.546,48.121,48.121,48.121s48.121-21.546,48.121-48.121
			S219.06,144.364,192.485,144.364z M192.485,216.545c-13.293,0-24.061-10.767-24.061-24.061s10.767-24.061,24.061-24.061
			c13.281,0,24.061,10.779,24.061,24.061C216.545,205.778,205.766,216.545,192.485,216.545z" />
                    </g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                  </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                </svg>
              </span>

              <!-- <div class="drop_container">
                <a href="">
                  <div>Add in listing</div>
                </a>
                <a href="">
                  <div>one</div>
                </a>
                <a href="">
                  <div>one</div>
                </a>
                <a href="">
                  <div>one</div>
                </a>
              </div> -->
            </a>
          </div>
        </div>
      </div>
    </div>

    <a (click)="refresh()" href="javascript:void(0)" class="max-content desktop-only">
      <svg version="1.1" id="refresh" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 60 60" style="enable-background: new 0 0 60 60; width: 60px; height: 60px"
        xml:space="preserve">
        <style>
          .st4 {
            fill: none;
            stroke: #50aac5;
            stroke-miterlimit: 10;
          }

          #refresh:hover .st4 {
            stroke: #c5e3ec;
          }
        </style>
        <circle class="st4" cx="30" cy="30" r="27"></circle>
        <path class="st4" d="M40.9,20.9C38.1,17.8,34.2,16,30,16c-8.7,0-14.5,7.5-14.5,14.5c0,7,5.8,14.5,14.5,14.5
          c8.7,0,14.5-7.5,14.5-14.5"></path>
        <polyline class="st4" points="40.9,15 40.9,20.9 35,20.9 "></polyline>
      </svg>
    </a>
  </div>

  <!-- *ngIf="ownersData?.length > 0 && apiDataLoaded" -->
  <app-nft-detail-list-tabs *ngIf="ownersData?.length > 0" [ID]="ID" [nftAddress]="nftAddress" [items]="data"
    [response]="ownersData"></app-nft-detail-list-tabs>
</div>