<div class="popup">
  <div class="flex justify-space-between">
    <h5 class="orbitron p24 mb20">Change price</h5>
    <a href="javascript:void(0)" (click)="close()"
      ><svg
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns="http://www.w3.org/2000/svg"
        version="1.1"
        viewBox="0 0 27 27"
        height="24px"
        width="24px"
      >
        <title>Close</title>
        <desc>Created with Sketch.</desc>
        <g
          id="Page-1"
          stroke="none"
          stroke-width="1"
          fill="none"
          fill-rule="evenodd"
        >
          <path
            d="M13.9791847,12.8137085 L26.3535534,0.439339828 L27.0606602,1.14644661 L14.6862915,13.5208153 L27.0606602,25.895184 L26.3535534,26.6022907 L13.9791847,14.2279221 L1.60481605,26.6022907 L0.897709268,25.895184 L13.2720779,13.5208153 L0.897709268,1.14644661 L1.60481605,0.439339828 L13.9791847,12.8137085 Z"
            id="Combined-Shape"
            fill="#000000"
          ></path>
        </g></svg
    ></a>
  </div>

  <!-- <div class="popup popup_price mfp-hide" id="popup-price"> -->
  <form
    #updatePricePost="ngForm"
    [formGroup]="updatePriceform"
    (ngSubmit)="updatePriceSave(updatePricePost.value)"
    *ngIf="!isChangePriceMessage"
  >
    <div class="popup__row">
      <div class="popup__col">
        <div class="popup__bid">
          <div class="p12 mr10">New Price :</div>
          <input
            value="price"
            formControlName="newPrice"
            type="text"
            name="newPrice"
            class="popup__rate"
            required
          />
          <div class="popup__currency">BNB</div>
        </div>
      </div>
      <div
        *ngIf="isSubmitted && formControls.newPrice.errors"
        class="help-block _error"
      >
        <div *ngIf="formControls.newPrice.errors.required" class="text-danger">
          Price is required
        </div>
      </div>
    </div>

    <div class="popup__btns">
      <button type="submit" class="button text-inherit dark-button mb10 wp100">
        Change price
        <div class="loader text-white" *ngIf="isApiLoading"></div>
      </button>
      <button type="button" (click)="close()" class="button wp100">Cancel</button>
    </div>
  </form>
  <div *ngIf="isChangePriceMessage">
    <div class="mb10">
      Price changed successfuly.
    </div>
    <button type="button" (click)="close()" class="button dark-button wp100">Done</button>
  </div>
</div>
