@import "includes";
@import "~swiper/css";
@import "~swiper/css/grid";
@import "~swiper/css/pagination";

.mySwiper .collections__item,
.mySwiper .collections__gallery {
  flex: 1;
}

#stats_arrow:hover .stroke {
  stroke: $secondary;
}

ul.search-result {
  background: transparent;
  border: 1px solid;
  border-top: none;
  border-bottom: none;
  position: absolute;
  width: 100%;

  li a {
    display: block;
    padding: 1rem;
    border-bottom: 1px solid;
    color: $primary;
    background-color: $black;
  }
}

.collections__preview:nth-child(5) {
  display: none;
}

section.raise-stakes {
  display: block;
  flex-direction: column;
  max-width: 770px;
  width: 100%;
  padding-top: 180px;
  justify-content: start;
  align-items: center;
}

.box-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  max-width: 170px;
  height: 100%;

  .rounded-container {
    width: 160px;
    height: 160px;
    border: 1px solid $primary;
    border-radius: 50%;
    text-align: center;
  }

  img.rounded-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    border: 1px solid $primary;
    margin-bottom: 15px;
  }

  .desc {
    p {
      font-family: $primary-font;
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: $primary;
    }

    .quantity {
      font-weight: 500;
    }
  }
}

.all-boxes {
  display: grid;
  max-width: 770px;
  grid-template-columns: repeat(auto-fill, minmax(170px, 0fr));
  align-items: flex-start;
  justify-content: center;
  grid-gap: 30px;

  .box-container {
    width: 100%;
    height: 100%;
  }
}

.all-boxes-mobile {
  display: none;
  max-width: 500px;
  width: 100%;

  .box-container {
    width: 170px;
    height: 170px;
  }
}

.detail-container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

  .heading-container {
    font-family: "Orbitron";
    font-size: 30px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #d5a642;
    border-top: 3px solid $primary;
    max-width: 370px;
    width: 100%;
  }

  .description-container {
    display: flex;
    flex-direction: column;
    max-width: 270px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $primary;
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .info-text {
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: left;
    color: $primary;
  }

  .buy-moonshot-button {
    display: flex;
    width: 170px;

    .button {
      max-width: 170px;
      min-width: 170px;
      width: 100%;
      font-size: 16px;
      height: 40px;
      padding: 0px 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.69;
      letter-spacing: normal;
      text-align: center;
    }
  }

  .arrow-down {
    width: 40px;
    height: 40px;

    .round-mini-button {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}

.break-line-mobile {
  display: none;
}

img.profilepic {
  height: 100%;
  width: 100%;
  border-radius: 50px;
}

.profilepic01 {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.border-bottom {
  cursor: pointer;
  border-bottom: 1px solid $primary;

  &:hover {
    box-shadow: 0px 1px 5px $secondary;
  }
}

.border-left {
  border-left: 1px solid $primary;
}

.border-right {
  border-right: 1px solid $primary;
}

.search_result {
  position: absolute;
  width: 100%;
  background: $black;
  max-height: 50vh;
  overflow: auto;
}

.new_collection_arrow {
  margin-top: -80px;
  padding-top: 80px !important;
}

.orbitron.text-secondary.p24 .text-secondary:hover {
  color: $white;
}

.loading-logo {
  margin: auto;
  display: flex;
  height: 100%;
  object-fit: none;
  opacity: 0.7;
}

.not-visible {
  width: 0px !important;
  height: 0px !important;
  min-width: 0px !important;
  max-width: 0px !important;
  min-height: 0px !important;
  max-height: 0px !important;
}
