<section class="scroller">
<div class="pt-5 h-100 inner flex-space-between align-items-center px-3">
  <div class="stats flex1 desktop-only">
  </div>
  <div class="info flex2">
    <div class="top futuristic-container">
      <p class="p-white-span-primary p34 orbitron">Buy MoonBoxes
        <br><span>and have a chance at <br>
          winning rare NFTs</span>
      </p>
    </div>
    <div class="bottom flex pv20 flex-xs-col">
      <div class="flex2 futuristic-container bottom-only no-padding">
        <p class="mb20 p-white-span-primary"><span> There are four types of MoonBoxes. Each with their own price
            and benefits.</span></p>
      </div>
      <div class="flex1 flex justify-end">
      </div>
      <div class="buttons-container flex1 d-xs-flex">
        <a class="outlined-button mb10 text-inherit" [routerLink]="['/prizepool']">Read more</a>
        <a class="button text-inherit" [routerLink]="['/upcoming']">Buy a MoonBox</a>
      </div>
    </div>
  </div>
  <div class="stats flex1 desktop-only">
  </div>
</div>
</section>