<div class="filter mt-100 mb50">
  <div class="search-box desktop-only">
    <hr class="center-line">
  </div>
  <div class="landing-flex pt-0 z-index-high">
    <div class="flex justify-space-between flex100 gap15 gap">

      <a class="mobile-only button text-inherit bg-primary button mt-auto filter_button" (click)="toggleMobile()">
        Filter NFT's
        <span>{{selectedPropertiesCoutn}}</span>
      </a>

      <a class="desktop-only button lg-height-button text-inherit bg-primary button mt-auto" (click)="toggle()">
        Filter NFT's
        <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" viewBox="0 0 40 40"
          style="enable-background:new 0 0 40 40;width: 30px;height: 30px;margin-left: 10px;" xml:space="preserve">
          <polygon class="stroke_dark" points="35,5.5 5,5.5 17.5,22.2 17.5,34.5 22.5,34.5 22.5,22.2 "></polygon>
        </svg>
      </a>

      <div class="flex mx-auto mw-30 desktop-only">
        <div class="search-input">
          <span class="max-price">Min Price:</span>
          <input type="text" placeholder="0" [(ngModel)]="minPrice" (change)="filter()" class="form-control pr-3" />
        </div>
        <div class="search-input">
          <span class="max-price">Max Price:</span>
          <input type="text" placeholder="500000" [(ngModel)]="maxPrice" (change)="filter()"
            class="form-control pr-3" />
        </div>
      </div>

      <div class="field desk-width">
        <select nice-select class="select sorted" #mySelectprice (change)="filter01(mySelectprice.value)"
          [value]="sortingType">
          <option value=2>Recently listed</option>
          <option value=1>Oldest</option>
          <option value=4>Price: High to low</option>
          <option value=3>Price: Low to high</option>
          <option value=8>Last price: High to low</option>
          <option value=7>Last price: Low to high</option>
          <option value=6>Most liked</option>
          <option value=5>Least liked</option>
        </select>
      </div>

      <div class="field desk-width relative">
        <span class="max-price">Status:</span>
        <select nice-select class="select sorted pl-65" #status01 [value]="status" name="offer"
          (change)="filter02(status01.value)">
          <option value="-1">All items</option>
          <option value="1">Buy Now</option>
          <option value="2">On Auction</option>
          <option value="9">New</option>
        </select>
      </div>
    </div>
  </div>
</div>

<ng-container>
  <div class="filter-menu" [ngClass]=" expanded ? 'fadeInDown showdiv' : 'hidediv'">
    <!-- properties -->
    <div class="landing-flex pt-0">
      <div class="field">
        <div class="wrap-filter">
          <ng-container *ngFor="let keys of uniqueNamesData; let i = index">
            <mat-form-field appearance="fill">
              <mat-label>{{keys}}</mat-label>
              <mat-select (selectionChange)="propertiesSelection(keys,i)" [formControl]="toppings" multiple>
                <mat-option *ngFor="let item of proeprtiesCopy[i]" [value]="{ value: item.value, key: item.keys }">{{
                  item.value }}({{ item.totalCount }})</mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container>
  <div class="filter-menu" [ngClass]=" expandedMobile ? 'fadeInDown filterMobile' : 'hidediv'">
    <div class="closebutton_ew"><button type="button" (click)="toggleMobile()">close</button></div>
    <!-- properties -->
    <div class="landing-flex p-0">
      <div class="field">
        <div class="wrap-filter">
          <div appearance="fill" *ngFor="let keys of uniqueNamesData; let i = index">
            <mat-label>{{ keys }} ({{ this.proeprties[i]?.count }})</mat-label>
            <!-- <select nice-select (selectionChange)="propertiesSelection(keys)" [(ngModel)]="foo[i]" multiple>
              <option *ngFor="let item of proeprties[i]" [value]="{ value: item.value, key: item.keys }">{{
                item.value }}({{ item.totalCount }})</option>
            </select> -->

            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title> {{ keys }} ({{ this.proeprties[i]?.count }}) </mat-panel-title>
                </mat-expansion-panel-header>

                <!-- <select nice-select (selectionChange)="propertiesSelection(keys)" [(ngModel)]="foo[i]" multiple>
              <option *ngFor="let item of proeprties[i]" [value]="{ value: item.value, key: item.keys }">{{
                item.value }}({{ item.totalCount }})</option>
            </select> -->


              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>{{ keys }} ({{ this.proeprties[i]?.count }})</mat-panel-title>
                </mat-expansion-panel-header>



                <!-- <div class="main_title" (change)="propertiesSelection02(keys,i)"  multiple>
                  <label class="filter_label" *ngFor="let item of proeprties[i]"  [value]="{ value: item.value, key: item.keys }">
                    {{item.value }} <span> {{ item.totalCount }}</span>
                    <input type="checkbox"  checked="checked">
                    <span class="checkmark"></span>
                  </label>
              </div> -->
                <div class="select_123">

                  <mat-form-field appearance="fill">
                    <mat-select [formControl]="toppings02" (selectionChange)="propertiesSelection02(keys,i)" multiple>
                      <mat-option *ngFor="let item of proeprties[i]" [value]="{ value: item.value, key: item.keys }">
                        {{item.value }} <span> {{ item.totalCount }}</span></mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                
              </mat-expansion-panel>
            </mat-accordion>

          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>



<div class="landing-flex pt50">
  <div class="outer__inner">
    <div class="discover">
      <div class="catalog__center">
        <div class="catalog__row">
          <div class="flex100">

            <div class="catalog__list">
              <div class="card" *ngFor="let item of nftList;let i=index;">
                <app-nft-card [items]="item" [index]="i" ></app-nft-card>
              </div>

            </div>


            <div class="catalog__btns">
              <button *ngIf="!(size > totalCount)" class="button wp100 mb100 mt50" (click)="loadmore()">
                Load more
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>