<div class="landing-flex">

      <div class="outer__inner">
        <div class="variants">
          <div class="variants__center center">
            <div class="variants__top">
              <h1 class="variants__title h2">Upload item</h1>
              <div class="variants__info">Choose <span>“Single”</span> if you want your collectible to be one of a kind or <span>“Multiple”</span> if you want to sell one collectible multiple times</div>
            </div>
            <div class="variants__list">
              <div class="variants__item">
                <div class="variants__preview" (click)="createSignleNFT()"><img srcSet="./assets/media/images/moonsea/upload-pic-1.jpg 2x" src="./assets/media/images/moonsea/upload-pic-1.jpg" alt="Upload"></div><div class="button" (click)="createSignleNFT()">Create Single</div>
              </div>
              <div class="variants__item">
                <div class="variants__preview"  (click)="createMultipleNFT()"><img srcSet="./assets/media/images/moonsea/upload-pic-2@2x.jpg 2x" src="./assets/media/images/moonsea/upload-pic-2.jpg" alt="Upload"></div><div class="button" (click)="createMultipleNFT()">Create Multiple</div>
              </div>
            </div>
            <div class="variants__note">We do not own your private keys and cannot access your funds without your confirmation.</div>
          </div>
        </div>
      </div>
      </div>
     