.grid-container {
    display: grid;
    grid-template-columns: auto auto;
  }

  .grid-item {
   
  }
  .uploadNfts{
    border: 1px solid;
    height: 300px;
    width: 520px;
    margin: 15px 0 0 0;
  }