<div class="popup popup_bid" *ngIf="wrongNetwork && step == 0">
  <div class="flex justify-space-between">
    <h5 class="orbitron p24 mb20">Purchase Now</h5>
    <a href="javascript:void(0)" (click)="closeDialog()">
    <svg
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xmlns="http://www.w3.org/2000/svg"
      version="1.1"
      viewBox="0 0 27 27"
      height="24px"
      width="24px"
    >
      <title>Close</title>
      <desc>Created with Sketch.</desc>
      <g
        id="Page-1"
        stroke="none"
        stroke-width="1"
        fill="none"
        fill-rule="evenodd"
      >
        <path
          d="M13.9791847,12.8137085 L26.3535534,0.439339828 L27.0606602,1.14644661 L14.6862915,13.5208153 L27.0606602,25.895184 L26.3535534,26.6022907 L13.9791847,14.2279221 L1.60481605,26.6022907 L0.897709268,25.895184 L13.2720779,13.5208153 L0.897709268,1.14644661 L1.60481605,0.439339828 L13.9791847,12.8137085 Z"
          id="Combined-Shape"
          fill="#000000"
        ></path>
      </g>
    </svg>
    </a>
  </div>
  <div class="popup__info">
    An error occured while interacting with your wallet. Please try again.
  </div>
  <div class="popup__btns">
    <button
      (click)="checkNetwork()"
      class="button popup__button"
      data-effect="mfp-zoom-in"
    >
      Try Again
    </button>
  </div>
</div>

<div class="popup popup_bid" *ngIf="!wrongNetwork && step == 1">
  <div class="flex justify-space-between">
    <h5 class="orbitron p24 mb20">{{items?.listing?.btnType == 'offer' ? 'Make a Bid' : 'Place Bid'}}</h5>
    <a href="javascript:void(0)" (click)="closeDialog()">
    <svg
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xmlns="http://www.w3.org/2000/svg"
      version="1.1"
      viewBox="0 0 27 27"
      height="24px"
      width="24px"
    >
      <title>Close</title>
      <desc>Created with Sketch.</desc>
      <g
        id="Page-1"
        stroke="none"
        stroke-width="1"
        fill="none"
        fill-rule="evenodd"
      >
        <path
          d="M13.9791847,12.8137085 L26.3535534,0.439339828 L27.0606602,1.14644661 L14.6862915,13.5208153 L27.0606602,25.895184 L26.3535534,26.6022907 L13.9791847,14.2279221 L1.60481605,26.6022907 L0.897709268,25.895184 L13.2720779,13.5208153 L0.897709268,1.14644661 L1.60481605,0.439339828 L13.9791847,12.8137085 Z"
          id="Combined-Shape"
          fill="#000000"
        ></path>
      </g>
    </svg>
  </a>
  </div>
  <!--  -->
  <div class="popup__info">
    You are bidding on {{ items?.listing?.name }} #{{ items?.listing?.nftTokenID }} from "{{ items?.data?.tokenName }}"
  </div>
  <div class="popup__table">
    <div class="popup__row">
      <div class="p12 min_widhth">Amount :</div>
      <div class="popup__col pl-0">
        <div class="popup__bid">
          <input
            #amount
            class="popup__rate"
            [value]="price"
            type="number"
            (keyup)="validatePrice($event)"
            name="bid"
          />
          <div class="popup__currency">{{blockchainInfo.wsymbol}}</div>
        </div>
        
      </div>
     
    </div>
    <p *ngIf="isShowMinimumBidValidation" class="error">
      price should be greater than inimum bid
    </p>
 
    <p class="p12 w-normal mt10 mb10" *ngIf="items?.listing?.btnType != 'offer'">Minimum Bid {{ price ? price :'Not a number' }}</p>

    <div class="popup__row">
      <div class="popup__col">Your balance</div>
     
      <div class="popup__col">
        <div class="loader text-white loader01" *ngIf="!balanceInBNB"></div> 
        <span *ngIf="balanceInBNB">{{ balanceInBNB }} {{blockchainInfo.wsymbol}}</span>
      </div>
    </div>
    <div class="popup__row">
      <div class="popup__col">Service fee</div>
      <div class="popup__col">{{ serviceFees }}</div>
    </div>
    <div class="popup__row">
      <div class="popup__col">Total</div>
      <div class="popup__col">{{ bidAmont }} {{blockchainInfo.wsymbol}}</div>
    </div>
  </div>
  <div class="popup__btns">
    <button
      [disabled]="invalidValue"
      (click)="approveToken(amount.value)"
      class="button text-inherit dark-button mb10 wp100"
      data-effect="mfp-zoom-in"
    >
      Place bid
    </button>
    <button (click)="closeDialog()" class="button wp100">Cancel</button>
  </div>
</div>
