<section class="hot-collection pb100">
    <div class="flex align-center justify-space-between mb20">
      <p class="orbitron p18">
        <span class="color-white">Your </span><span>collections</span>
      </p>
    </div>
    <div class="inner">
      <div class="grid grid-3">
        <div class="flex100">
          <a
            class="collections__item"
            href="javascript:void(0)"
            (click)="openDialogCreateCollection()"
          >
            <div class="collections__gallery">
              <div
                class="collections__preview justify-content-evenly align-center flex-col"
              >
                <div class="content-overlay"></div>
                <div></div>
                <div></div>
                <svg
                  version="1.1"
                  id="Laag_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 26 26"
                  style="width: 48px; height: 48px"
                  xml:space="preserve"
                >
                  <circle class="st4" cx="13" cy="13" r="12"></circle>
                  <g>
                    <line
                      class="st4"
                      x1="13"
                      y1="8"
                      x2="13"
                      y2="18"
                    ></line>
                    <line
                      class="st4"
                      x1="18"
                      y1="13"
                      x2="8"
                      y2="13"
                    ></line>
                  </g>
                </svg>
                <h5 class="orbitron p24 mb0 text-primary text-center">
                  Start a <br />New Collection
                </h5>
              </div>

              <div class="flex flex-wrap flex100 gap15 justify-start">
                <div class="thumb__preview gap15 plus">
                  <div class="content-overlay"></div>
                  <svg
                    version="1.1"
                    id="Laag_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 26 26"
                    style="width: 24px; height: 24px"
                    xml:space="preserve"
                  >
                    <circle
                      class="st4"
                      cx="13"
                      cy="13"
                      r="12"
                    ></circle>
                    <g>
                      <line
                        class="st4"
                        x1="13"
                        y1="8"
                        x2="13"
                        y2="18"
                      ></line>
                      <line
                        class="st4"
                        x1="18"
                        y1="13"
                        x2="8"
                        y2="13"
                      ></line>
                    </g>
                  </svg>
                </div>
                <div class="thumb__preview gap15 plus">
                  <div class="content-overlay"></div>
                  <svg
                    version="1.1"
                    id="Laag_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 26 26"
                    style="width: 24px; height: 24px"
                    xml:space="preserve"
                  >
                    <circle
                      class="st4"
                      cx="13"
                      cy="13"
                      r="12"
                    ></circle>
                    <g>
                      <line
                        class="st4"
                        x1="13"
                        y1="8"
                        x2="13"
                        y2="18"
                      ></line>
                      <line
                        class="st4"
                        x1="18"
                        y1="13"
                        x2="8"
                        y2="13"
                      ></line>
                    </g>
                  </svg>
                </div>
                <div class="thumb__preview gap15 plus">
                  <div class="content-overlay"></div>
                  <svg
                    version="1.1"
                    id="Laag_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 26 26"
                    style="width: 24px; height: 24px"
                    xml:space="preserve"
                  >
                    <circle
                      class="st4"
                      cx="13"
                      cy="13"
                      r="12"
                    ></circle>
                    <g>
                      <line
                        class="st4"
                        x1="13"
                        y1="8"
                        x2="13"
                        y2="18"
                      ></line>
                      <line
                        class="st4"
                        x1="18"
                        y1="13"
                        x2="8"
                        y2="13"
                      ></line>
                    </g>
                  </svg>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="flex100">
          <a
            class="collections__item"
            href="javascript:void(0)"
            (click)="openDialogImportCollection()"
          >
            <div class="collections__gallery">
              <div
                class="collections__preview justify-content-evenly align-center flex-col"
              >
                <div class="content-overlay"></div>
                <div></div>
                <div></div>
                <svg
                  version="1.1"
                  id="Laag_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 26 26"
                  style="width: 48px; height: 48px"
                  xml:space="preserve"
                >
                  <circle class="st4" cx="13" cy="13" r="12"></circle>
                  <g>
                    <line
                      class="st4"
                      x1="13"
                      y1="8"
                      x2="13"
                      y2="18"
                    ></line>
                    <line
                      class="st4"
                      x1="18"
                      y1="13"
                      x2="8"
                      y2="13"
                    ></line>
                  </g>
                </svg>
                <h5 class="orbitron p24 mb0 text-primary text-center">
                  Import an <br />Existing Collection
                </h5>
              </div>

              <div class="flex flex-wrap flex100 gap15 justify-start">
                <div class="thumb__preview gap15 plus">
                  <div class="content-overlay"></div>
                  <svg
                    version="1.1"
                    id="Laag_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 26 26"
                    style="width: 24px; height: 24px"
                    xml:space="preserve"
                  >
                    <circle
                      class="st4"
                      cx="13"
                      cy="13"
                      r="12"
                    ></circle>
                    <g>
                      <line
                        class="st4"
                        x1="13"
                        y1="8"
                        x2="13"
                        y2="18"
                      ></line>
                      <line
                        class="st4"
                        x1="18"
                        y1="13"
                        x2="8"
                        y2="13"
                      ></line>
                    </g>
                  </svg>
                </div>
                <div class="thumb__preview gap15 plus">
                  <div class="content-overlay"></div>
                  <svg
                    version="1.1"
                    id="Laag_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 26 26"
                    style="width: 24px; height: 24px"
                    xml:space="preserve"
                  >
                    <circle
                      class="st4"
                      cx="13"
                      cy="13"
                      r="12"
                    ></circle>
                    <g>
                      <line
                        class="st4"
                        x1="13"
                        y1="8"
                        x2="13"
                        y2="18"
                      ></line>
                      <line
                        class="st4"
                        x1="18"
                        y1="13"
                        x2="8"
                        y2="13"
                      ></line>
                    </g>
                  </svg>
                </div>
                <div class="thumb__preview gap15 plus">
                  <div class="content-overlay"></div>
                  <svg
                    version="1.1"
                    id="Laag_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 26 26"
                    style="width: 24px; height: 24px"
                    xml:space="preserve"
                  >
                    <circle
                      class="st4"
                      cx="13"
                      cy="13"
                      r="12"
                    ></circle>
                    <g>
                      <line
                        class="st4"
                        x1="13"
                        y1="8"
                        x2="13"
                        y2="18"
                      ></line>
                      <line
                        class="st4"
                        x1="18"
                        y1="13"
                        x2="8"
                        y2="13"
                      ></line>
                    </g>
                  </svg>
                </div>
              </div>
            </div>
          </a>
        </div>

        <h3
          class="hot__title h3 align-self-center"
          *ngIf="myCollection.length == 0"
        >
          Data Not Found....
        </h3>
        <div *ngFor="let item of myCollection" class="flex100">
          <a class="collections__item" href="javascript:void(0)">
            <div class="btn-edit">
              <button type="button" (click)="edit(item)">edit</button>
            </div>
            <app-collection-card [item]="item"></app-collection-card>
          </a>
        </div>
      </div>
    </div>
  </section>