<div class="footer flex-space-between align-start mt20 box">
    <div class="stats flex1"></div>
    <div class="info flex4">
        <div class="shape text-center bottom flex ph50">
            <div class="flex1 no-padding">
                <p class="p-white-span-primary">
                    <span class="p12">
                        REDEEMED MOONSHOT
                    </span>
                </p>
                <p class="p-white-span-primary">
                    <span>
                        <strong>15442</strong>
                    </span>
                </p>
            </div>
            <div class="flex1 no-padding down_box">
                <p class="p12 mt-15">
                    <span>MOONSHOT BALANCE</span>
                </p>
                <p>
                    <strong>240960</strong>
                </p>
            </div>
            <div class="flex1 no-padding inner-border">
                <p class="p12 p-white-span-primary">
                    <span>TOTAL NFTS</span>
                </p>
                <p class="p-white-span-primary">
                    <span>
                        <strong>22</strong>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="stats flex1"></div>
</div>