<div class="rounded relative flex">
  <img  [lazyLoad]="imagePath" [defaultImage]="'assets/media/images/moonsea/profile.png'"  alt="Avatar" />
  

  <a *ngIf="walletAddress == loggedInWalletAddress" href="javascript:void(0)" [routerLink]="['/profile/updateProfile']" class="edit-icon">
    <svg version="1.1" id="editIcon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;width: 24px;height: 24px;" xml:space="preserve">
      <style type="text/css">
        .st0{fill:#50AAC5;}
        .dark{fill:#090D16;}
      </style>
      <g>
        <path class="st0" d="M20,2C10.1,2,2,10.1,2,20s8.1,18,18,18s18-8.1,18-18S29.9,2,20,2z"></path>
        <g>
          <g>
            
              <rect x="12.7" y="16.5" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -7.1232 18.0404)" class="dark" width="11" height="2.2"></rect>
            
              <rect x="16.9" y="20.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -8.8489 22.2067)" class="dark" width="11" height="2.2"></rect>
          </g>
          <g>
            <path class="dark" d="M29.3,13.6l-2.9-2.9c-0.8-0.8-2.1-0.8-2.9,0L22,12.3l5.7,5.7l1.5-1.5C30.1,15.6,30.1,14.4,29.3,13.6z"></path>
            <path class="dark" d="M18.6,27.1l-6.9,2.7c-0.9,0.4-1.8-0.5-1.5-1.5l2.7-6.9L18.6,27.1z"></path>
          </g>
        </g>
      </g>
      </svg>
</a>
</div>

<!-- <img src="./../../../assets/img/3876136_person_protection_security_shield_user_icon.png" alt=""> -->
