<section class="top-spacing">
<div class="landing-flex">
  <div class="discover p-0">
    <div class="discover__center">
      <!-- <h3 class="discover__title h3">Collections</h3> -->
      <div class="flex100">
        
        <div class="profile__nav">
          <div
            class="profile__link active pointer"
            *ngFor="let item of tabHeadings; let i = index"
            [ngClass]="{ active: tab == tabHeadingsUrl[i] }"
            (click)="selectCategory(item.categoryId, tabHeadingsUrl[i])"
          >
            {{ item.categoryName }}
          </div>
        </div>

        <div class="tablet-show">
          <select nice-select class="select">
            <option>All items</option>
            <option>Art</option>
            <option>Game</option>
            <option>Photography</option>
            <option>Music</option>
            <option>Video</option>
          </select>
        </div>
        <!-- <button class="discover__filter">
          <div class="discover__text">Filter</div>
          <div class="discover__icon">
            <svg class="icon icon-filter">
              <use xlink:href="#icon-filter"></use>
            </svg>
            <svg class="icon icon-close">
              <use xlink:href="#icon-close"></use>
            </svg>
          </div>
        </button> -->
      </div>
      <div class="discover__filters pt-0">
        <div class="discover__sorting">
          <div class="discover__cell">
            <div class="field">
              <div class="field__label">Recent</div>
              <select nice-select
                class="select"
                #mySelect
                (change)="HomePageList(1, mySelect.value, 1, 12, 1, 1)"
              >
                <option value="DESC">Recently listed</option>
                <option value="ASC">Oldest</option>
              </select>
            </div>
          </div>
          <div class="discover__cell">
            <div class="field">
              <div class="field__label">Price</div>
              <div class="field__wrap pointer">
                <select nice-select
                  class="select"
                  #mySelectprice
                  (change)="HomePageList(2, mySelectprice.value, 1, 12, 1, 1)"
                >
                  <option value="DESC">Price: High to low</option>
                  <option value="ASC">Price: Low to high</option>
                  <option value="11">Last price: High to low</option>
                  <option value="22">Last price: Low to high</option>
                </select>
              </div>
            </div>
          </div>
          <div class="discover__cell">
            <div class="field">
              <div class="field__label">likes</div>
              <div class="field__wrap">
                <select nice-select
                  class="select"
                  #mySelectlike
                  (change)="HomePageList(4, mySelectlike.value, 1, 12, 1, 1)"
                >
                  <option value="DESC">Most liked</option>
                  <option value="ASC">Least liked</option>
                </select>
              </div>
            </div>
          </div>
          <!-- <div class="discover__cell">
              <div class="field">
                <div class="field__label">creator</div>
                <div class="field__wrap">
                  <select class="select">
                    <option>Verified only</option>
                    <option>All</option>
                    <option>Most liked</option>
                  </select>
                </div>
              </div>
            </div> -->
          <div class="discover__cell">
            <div class="range">
              <div class="range__label">Price range</div>
              <!-- <div class="range__slider js-slider" data-min="0.01" data-max="10" data-start="5" data-step="0.1" data-tooltips="true" data-postfix="ETH" on-handle-up="sliderStops()">
  
                </div>
                <div class="range__indicators">
                  <div class="range__text">0.01 ETH</div>
                  <div class="range__text">10 ETH</div>
                </div> -->

              <mat-slider
                class="pointer"
                thumbLabel
                #mySlider
                (change)="
                  HomePageList(3, mySelectlike.value, mySlider.value, 12, 1, 1)
                "
                tickInterval="1000"
                step="0.1"
                min="0"
                max="10"
                aria-label="units"
              >
              </mat-slider>
            </div>
          </div>
        </div>
      </div>
      <div class="discover__list">
        <!-- <div class="loader" *ngIf="isApiLoading"></div> -->
        <div class="discover__slider js-slider-discover js-slider-resize">
          <div class="card" *ngFor="let item of discoverNFTList">
            <div class="loader" *ngIf="isApiLoading"></div>
            <app-nft-card
              [items]="item"
              [ngClass]="{ visibility_hidden: isApiLoading }"
            ></app-nft-card>
          </div>
        </div>
      </div>
      <div class="discover__btns">
        <button
          class="button mx-auto"
          (click)="HomePageList(oldtype, oldorderBy, oldpriceRange, 24, 1, 1)"
        >
          Load more
        </button>
      </div>
    </div>
  </div>
</div>
</section>
