<div class="landing-flex">
  <div class="flex gap align-center wrap">
    <div class="flex1">
      <div class="pt100 orbitron p40 mb30">
        <span class="text-white"> Upload your collection </span> 
        <!-- here and now -->
      </div>
    </div>
    <div class="flex1">
      <p class="pt100 mb30 line-height text-right">
        Create a collection of unique NFTs to share and sell.
        <!-- <a
          href="javascript:void(0);"
          [routerLink]="['/others/how_it_works']"
          class="text-primary text-underline"
        >
          How it works.
        </a> -->
      </p>
    </div>
  </div>
  <div id="upload_nft" class="relative mt100 flex">
    
    <div class="flex wrap align-center justify-space-between">
      <mat-tab-group [selectedIndex]="tabIndex" (selectedTabChange)="onTabChanged($event)" >
        <mat-tab >
          <ng-template mat-tab-label>
            <button type="button" (click)="gotoback()" >
              <svg
                version="1.1"
                id="back_btn"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 136 56"
                xml:space="preserve"
                style="
                  enable-background: new 0 0 136 56;
                  width: 130px;
                  height: 54px;
                "
              >
                <polygon
                  points="135,55 28.6,55 1.1,28 28.6,1 135,1 "
                  class="st0"
                ></polygon>
                <g>
                  <path
                    d="M82.2,29.9c0,1.9-1.4,3-4.2,3h-5.2V21.7h4.8c2.5,0,3.9,1.1,3.9,2.9c0,1.3-0.7,2.1-1.7,2.5
                C81.4,27.4,82.2,28.4,82.2,29.9z M74.1,22.7v4.1h3.6c1.8,0,2.8-0.7,2.8-2s-1-2-2.8-2H74.1z M81.1,29.8c0-1.5-1.1-2.1-3-2.1h-4v4.2
                h4C80,31.9,81.1,31.3,81.1,29.8z"
                    class="st1"
                  ></path>
                  <path
                    d="M91.1,27.7v5.2H90v-1.3c-0.5,0.9-1.5,1.4-2.9,1.4c-1.9,0-3.1-1-3.1-2.4c0-1.3,0.8-2.4,3.2-2.4h2.7v-0.5
                c0-1.4-0.8-2.2-2.4-2.2c-1.1,0-2.1,0.4-2.8,1l-0.5-0.8c0.8-0.7,2.1-1.1,3.4-1.1C89.8,24.4,91.1,25.5,91.1,27.7z M89.9,30.4V29h-2.6
                c-1.6,0-2.2,0.6-2.2,1.5c0,1,0.8,1.6,2.1,1.6C88.5,32.1,89.5,31.5,89.9,30.4z"
                    class="st1"
                  ></path>
                  <path
                    d="M93.3,28.7c0-2.5,1.8-4.3,4.3-4.3c1.4,0,2.6,0.6,3.3,1.7l-0.8,0.6c-0.6-0.8-1.5-1.2-2.4-1.2
                c-1.8,0-3.2,1.3-3.2,3.3c0,2,1.3,3.3,3.2,3.3c1,0,1.9-0.4,2.4-1.2l0.8,0.6c-0.7,1.1-1.9,1.7-3.3,1.7C95.2,33,93.3,31.2,93.3,28.7z"
                    class="st1"
                  ></path>
                  <path
                    d="M106.2,28.7l-2,1.8v2.4h-1.1V21h1.1v8.1l5-4.6h1.4l-3.6,3.4l3.9,5h-1.4L106.2,28.7z"
                    class="st1"
                  ></path>
                </g>
                <g>
                  <circle cx="43.5" cy="28" r="15" class="st0"></circle>
                  <g>
                    <line
                      x1="49.5"
                      y1="28"
                      x2="38"
                      y2="28"
                      class="st0"
                    ></line>
                    <polyline
                      points="43.3,33.6 37.6,27.9 43.2,22.3 		"
                      class="st0"
                    ></polyline>
                  </g>
                </g>
              </svg>
            </button>
          </ng-template>
          <ng-template matTabContent>
            <app-step1 ></app-step1>
          </ng-template>
        </mat-tab>
        <mat-tab [disabled]="isSelected(1)">
          <ng-template mat-tab-label>
            <button class="flex align-center w-normal text-primary p16" >
              <span class="round">1</span><span>Create a Collection</span>
            </button>
          </ng-template>
          <ng-template matTabContent>
              <app-step1></app-step1>
          </ng-template>
        </mat-tab>

        <mat-tab [disabled]="isSelected(2)">
          <ng-template mat-tab-label>
            <button class="flex align-center w-normal text-primary p16">
              <span class="round">2</span><span>Upload Items</span>
            </button>
          </ng-template>
          <ng-template matTabContent>
            <app-step2 [collectionName]="collectionName" [collectionId]="collectionId"></app-step2>
          </ng-template>
        </mat-tab>

        
        <mat-tab [disabled]="isSelected(3)">
          <ng-template mat-tab-label>
            <button class="flex align-center w-normal text-primary p16">
              <span class="round">3</span><span>Add details</span>
            </button>
          </ng-template>
          <ng-template matTabContent>
              <app-step3 [collectionId]="collectionId"></app-step3>
          </ng-template>
        </mat-tab>

      </mat-tab-group>

    </div>
  </div>
</div>
