@import "includes";

.round {
  width: 54px;
  height: 54px;
  margin-right: 1rem;
  border: 1px solid $primary;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.relative.mt100 .back-btn{
  position: relative;
    right: 50px;
}
.line-height {
  line-height: 27px;
}
