<div class="outer__inner">
    <div class="section item">
      <div class="item__center center">
        <div class="item__bg">
          <div class="item__preview">
            <div class="item__categories">
              <div class="status-black item__category">art</div>
              <div class="status-purple item__category">unlockable</div>
            </div><img srcSet="img/content/item-pic@2x.jpg 2x" src="img/content/item-pic.jpg" alt="Item">
          </div>
          <div class="options">
            <div class="options__list">
              <button class="button-circle-stroke options__button options__button_share js-options-share">
                <svg class="icon icon-share">
                  <use xlink:href="#icon-share"></use>
                </svg>
              </button>
              <button class="button-circle-stroke options__button options__button_favorite active">
                <svg class="icon icon-heart">
                  <use xlink:href="#icon-heart"></use>
                </svg>
              </button>
              <div class="actions js-actions">
                <button class="button-circle-stroke actions__button js-actions-button">
                  <svg class="icon icon-more">
                    <use xlink:href="#icon-more"></use>
                  </svg>
                </button>
                <div class="actions__body js-actions-body"><a class="actions__item js-popup-open" href="#popup-price" data-effect="mfp-zoom-in">
                    <svg class="icon icon-coin">
                      <use xlink:href="#icon-coin"></use>
                    </svg>Change price</a><a class="actions__item js-popup-open" href="#popup-transfer" data-effect="mfp-zoom-in">
                    <svg class="icon icon-arrow-right-square">
                      <use xlink:href="#icon-arrow-right-square"></use>
                    </svg>Transfer token</a><a class="actions__item js-popup-open" href="#popup-remove" data-effect="mfp-zoom-in">
                    <svg class="icon icon-close-circle">
                      <use xlink:href="#icon-close-circle"></use>
                    </svg>Remove from sale</a><a class="actions__item js-popup-open" href="#popup-burn" data-effect="mfp-zoom-in">
                    <svg class="icon icon-close-circle">
                      <use xlink:href="#icon-close-circle"></use>
                    </svg>Burn token</a><a class="actions__item js-popup-open" href="#popup-report" data-effect="mfp-zoom-in">
                    <svg class="icon icon-info-circle">
                      <use xlink:href="#icon-info-circle"></use>
                    </svg>Report</a></div>
              </div>
            </div>
            <div class="options__box js-options-box">
              <div class="options__stage">Share link to this page</div>
              <div class="options__share share-btn" data-url="https://ui8.net"><a class="options__direction btn-twitter" data-id="tw"><span>
                    <svg class="icon icon-twitter">
                      <use xlink:href="#icon-twitter"></use>
                    </svg></span></a><a class="options__direction btn-facebook" data-id="fb"><span>
                    <svg class="icon icon-facebook">
                      <use xlink:href="#icon-facebook"></use>
                    </svg></span></a></div>
            </div>
          </div>
        </div>
        <div class="item__details">
          <h1 class="item__title h3">The amazing art</h1>
          <div class="item__cost">
            <div class="status-stroke-green item__price">2.5 ETH</div>
            <div class="status-stroke-black item__price">$4,429.87</div>
            <div class="item__counter">10 in stock</div>
          </div>
          <div class="item__text">This NFT Card will give you Access to Special Airdrops. To learn more about UI8 please visit <a href="https://ui8.net" target="_blank">https://ui8.net</a></div>
          <div class="item__tabs js-tabs">
            <div class="item__nav"><a class="item__link js-tabs-link active" href="#">Info</a><a class="item__link js-tabs-link" href="#">Owners</a><a class="item__link js-tabs-link" href="#">History</a><a class="item__link js-tabs-link" href="#">Bids</a></div>
            <div class="item__container">
              <div class="item__box js-tabs-item" style="display: block;">
                <div class="item__users">
                  <div class="item__user">
                    <div class="item__avatar"><img src="img/content/avatar-2.jpg" alt="Avatar">
                      <div class="item__reward"><img src="img/content/reward-1.svg" alt="Reward"></div>
                    </div>
                    <div class="item__description">
                      <div class="item__position">Owner</div>
                      <div class="item__name">Raquel Will</div>
                    </div>
                  </div>
                  <div class="item__user">
                    <div class="item__avatar"><img src="img/content/avatar-1.jpg" alt="Avatar"></div>
                    <div class="item__description">
                      <div class="item__position">Creator</div>
                      <div class="item__name">Selina Mayert</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item__box js-tabs-item">
                <div class="item__users">
                  <div class="item__user">
                    <div class="item__avatar"><img src="img/content/avatar-1.jpg" alt="Avatar"></div>
                    <div class="item__description">
                      <div class="item__position">Owner</div>
                      <div class="item__name">Cole Mayert</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item__box js-tabs-item">
                <div class="item__users">
                  <div class="item__user">
                    <div class="item__avatar"><img src="img/content/avatar-2.jpg" alt="Avatar">
                      <div class="item__reward"><img src="img/content/reward-1.svg" alt="Reward"></div>
                    </div>
                    <div class="item__description">
                      <div class="item__name">Raquel Will</div>
                      <div class="item__action">Place a bid: <span class="item__money">1.46 ETH</span></div>
                    </div>
                    <div class="item__time">Jun 14 - 4:12 PM</div>
                  </div>
                  <div class="item__user">
                    <div class="item__avatar"><img src="img/content/avatar-6.jpg" alt="Avatar">
                      <div class="item__reward"><img src="img/content/reward-1.svg" alt="Reward"></div>
                    </div>
                    <div class="item__description">
                      <div class="item__name">Cole Fahey</div>
                      <div class="item__action">Put <span>Awesome work</span> on sale</div>
                    </div>
                    <div class="item__time">Jun 14 - 4:12 PM</div>
                  </div>
                  <div class="item__user">
                    <div class="item__avatar"><img src="img/content/avatar-7.jpg" alt="Avatar">
                      <div class="item__reward"><img src="img/content/reward-1.svg" alt="Reward"></div>
                    </div>
                    <div class="item__description">
                      <div class="item__name">Adah Mitchell</div>
                      <div class="item__action">Accepted <span>Raquel Will</span> ‘s bid</div>
                    </div>
                    <div class="item__time">Jun 14 - 4:12 PM</div>
                  </div>
                </div>
              </div>
              <div class="item__box js-tabs-item">
                <div class="item__users">
                  <div class="item__user">
                    <div class="item__avatar"><img src="img/content/avatar-2.jpg" alt="Avatar">
                      <div class="item__reward"><img src="img/content/reward-1.svg" alt="Reward"></div>
                    </div>
                    <div class="item__description">
                      <div class="item__action">Highest bid: <span>1.46 ETH</span></div>
                      <div class="item__name">Raquel Will</div>
                    </div>
                  </div>
                  <div class="item__user">
                    <div class="item__avatar"><img src="img/content/avatar-1.jpg" alt="Avatar"></div>
                    <div class="item__description">
                      <div class="item__action">#2</div>
                      <div class="item__name">Cole Fahey</div>
                    </div>
                  </div>
                  <div class="item__user">
                    <div class="item__avatar"><img src="img/content/avatar-8.jpg" alt="Avatar"></div>
                    <div class="item__description">
                      <div class="item__action">#3</div>
                      <div class="item__name">Selina Mayert</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item__control">
            <div class="item__head">
              <div class="item__avatar"><img src="img/content/avatar-4.jpg" alt="Avatar"></div>
              <div class="item__description">
                <div class="item__info">Highest bid by <span>Kohaku Tora</span></div>
                <div class="item__currency">
                  <div class="item__price"><span>1.46</span> ETH</div>
                  <div class="item__price">$2,764.89</div>
                </div>
              </div>
            </div>
            <div class="item__btns"><a class="button item__button js-popup-open" href="#popup-purchase" data-effect="mfp-zoom-in">Purchase now</a><a class="button-stroke item__button js-popup-open" href="#popup-bid" data-effect="mfp-zoom-in">Place a bid</a></div>
            <div class="item__variants">Service fee <span class="item__percent">1.5%</span> <span>2.563 ETH</span> <span>$4,540.62</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="popup popup_purchase mfp-hide" id="popup-purchase">
      <div class="popup__item" style="display: block;">
        <div class="orbitron p24 mb20">Checkout</div>
        <div class="popup__info">You are about to purchase <strong>C O I N Z</strong> from <strong>UI8</strong></div>
        <div class="popup__table">
          <div class="popup__row">
            <div class="popup__col">0.007</div>
            <div class="popup__col">ETH</div>
          </div>
          <div class="popup__row">
            <div class="popup__col">Your balance</div>
            <div class="popup__col">8.498 ETH</div>
          </div>
          <div class="popup__row">
            <div class="popup__col">Service fee</div>
            <div class="popup__col">0 ETH</div>
          </div>
          <div class="popup__row">
            <div class="popup__col">You will pay</div>
            <div class="popup__col">0.007 ETH</div>
          </div>
        </div>
        <div class="popup__attention">
          <div class="popup__preview">
            <svg class="icon icon-info-circle">
              <use xlink:href="#icon-info-circle"></use>
            </svg>
          </div>
          <div class="popup__details">
            <div class="popup__category">This creator is not verified</div>
            <div class="popup__text">Purchase this item at your own risk</div>
          </div>
        </div>
        <div class="flex justify-space-between">
          <button class="button">Cancel</button>
          <button class="button bg-primary">I understand, continue</button>
        </div>
      </div>
      <div class="popup__item">
        <div class="orbitron p24 mb20">Folow steps</div>
        <div class="steps">
          <div class="steps__item">
            <div class="steps__head">
              <div class="steps__icon">
                <div class="loader-circle"></div>
              </div>
              <div class="steps__details">
                <div class="steps__info">Purchasing</div>
                <div class="steps__text">Sending transaction with your wallet</div>
              </div>
            </div>
          </div>
        </div>
        <div class="popup__attention">
          <div class="popup__preview">
            <svg class="icon icon-info-circle">
              <use xlink:href="#icon-info-circle"></use>
            </svg>
          </div>
          <div class="popup__details">
            <div class="popup__category">This creator is not verified</div>
            <div class="popup__text">Purchase this item at your own risk</div>
          </div>
          <div class="popup__avatar"><img src="img/content/avatar-3.jpg" alt="Avatar"></div>
        </div>
        <div class="popup__btns">
          <button class="button popup__button">I understand, continue</button>
          <button class="button-stroke popup__button js-popup-close">Cancel</button>
        </div>
      </div>
      <div class="popup__item">
        <div class="success">
          <div class="success__title h2">Yay! <span role="img" aria-label="firework">🎉</span></div>
          <div class="success__info">You successfully purchased <span>C O I N Z</span> from UI8</div>
          <div class="success__table">
            <div class="success__row">
              <div class="success__col">Status</div>
              <div class="success__col">Transaction ID</div>
            </div>
            <div class="success__row">
              <div class="success__col">Processing</div>
              <div class="success__col">0msx836930...87r398</div>
            </div>
          </div>
          <div class="success__stage">Time to show-off</div>
          <div class="success__socials"><a class="success__social" href="https://www.facebook.com/ui8.net/" target="_blank">
              <svg class="icon icon-facebook">
                <use xlink:href="#icon-facebook"></use>
              </svg></a><a class="success__social" href="https://twitter.com/ui8" target="_blank">
              <svg class="icon icon-twitter">
                <use xlink:href="#icon-twitter"></use>
              </svg></a><a class="success__social" href="https://www.instagram.com/ui8net/" target="_blank">
              <svg class="icon icon-instagram">
                <use xlink:href="#icon-instagram"></use>
              </svg></a><a class="success__social" href="https://www.pinterest.com/ui8m/" target="_blank">
              <svg class="icon icon-pinterest">
                <use xlink:href="#icon-pinterest"></use>
              </svg></a></div>
        </div>
      </div>
    </div>
    <div class="popup popup_accept mfp-hide" id="popup-accept">
      <div class="accept">
        <div class="accept__line">
          <div class="accept__icon"></div>
          <div class="accept__text">You are about to accept a bid for <strong>C O I N Z</strong> from <strong>UI8</strong></div>
        </div>
        <div class="accept__subtitle">1.46 ETH for 1 edition</div>
        <div class="accept__table">
          <div class="accept__row">
            <div class="accept__col">Service fee</div>
            <div class="accept__col">0 ETH</div>
          </div>
          <div class="accept__row">
            <div class="accept__col">Total bid amount</div>
            <div class="accept__col">1.46 ETH</div>
          </div>
        </div>
      </div>
      <div class="popup__btns">
        <button class="button popup__button">Accept bid</button>
        <button class="button-stroke popup__button js-popup-close">Cancel</button>
      </div>
    </div>
    <div class="popup popup_sale mfp-hide" id="popup-sale">
      <div class="orbitron p24 mb20">Put on sale</div>
      <div class="popup__line"> 
        <div class="popup__icon">
          <svg class="icon icon-coin">
            <use xlink:href="#icon-coin"></use>
          </svg>
        </div>
        <div class="popup__box">
          <div class="popup__category">Instant sale price</div>
          <div class="popup__text">Enter the price for which the item will be instanly sold</div>
        </div>
        <label class="switch">
          <input class="switch__input" type="checkbox" checked="checked"/><span class="switch__inner"><span class="switch__box"></span></span>
        </label>
      </div>
      <div class="popup__table">
        <div class="popup__row">
          <div class="popup__col">Enter your price</div>
          <div class="popup__col">ETH</div>
        </div>
        <div class="popup__row">
          <div class="popup__col">Service fee</div>
          <div class="popup__col">1.5%</div>
        </div>
        <div class="popup__row">
          <div class="popup__col">Total bid amount</div>
          <div class="popup__col">0 ETH</div>
        </div>
      </div>
      <div class="popup__btns">
        <button class="button popup__button">Continue</button>
        <button class="button-stroke popup__button js-popup-close">Cancel</button>
      </div>
    </div>
    <div class="popup popup_price mfp-hide" id="popup-price">
      <div class="orbitron p24 mb20">Change price</div>
      <div class="field">
        <div class="field__label">new price</div>
        <div class="field__wrap">
          <input class="field__input" name="price" type="text" value="1.46" required>
          <div class="field__currency">ETH</div>
        </div>
      </div>
      <div class="popup__btns">
        <button class="button-purple popup__button js-popup-close">Change price</button>
        <button class="button-stroke popup__button js-popup-close">Cancel</button>
      </div>
    </div>
    <div class="popup popup_transfer mfp-hide" id="popup-transfer">
      <div class="orbitron p24 mb20">Transfer token</div>
      <div class="popup__note">You can transfer tokens from your address to another</div>
      <div class="popup__subtitle">Receiver address</div>
      <div class="popup__field">
        <div class="popup__wrap">
          <input class="popup__input" type="text" name="address" placeholder="Paste address" required>
        </div>
      </div>
      <div class="popup__btns">
        <button class="button popup__button js-popup-close">Continue</button>
        <button class="button-stroke popup__button js-popup-close">Cancel</button>
      </div>
    </div>
    <div class="popup popup_remove mfp-hide" id="popup-remove">
      <div class="orbitron p24 mb20">Remove from sale</div>
      <div class="popup__note">Do you really want to remove your item from sale? You can put it on sale anytime</div>
      <div class="popup__btns">
        <button class="button popup__button js-popup-close">Remove now</button>
        <button class="button-stroke popup__button js-popup-close">Cancel</button>
      </div>
    </div>
    <div class="popup popup_burn mfp-hide" id="popup-burn">
      <div class="orbitron p24 mb20">Burn token</div>
      <div class="popup__note">Are you sure to burn this token? This action cannot be undone. Token will be transfered to zero address</div>
      <div class="popup__btns">
        <button class="button-purple popup__button js-popup-close">Continue</button>
        <button class="button-stroke popup__button js-popup-close">Cancel</button>
      </div>
    </div>
    <div class="popup popup_report mfp-hide" id="popup-report">
      <div class="orbitron p24 mb20">Report</div>
      <div class="popup__note">Describe why you think this item should be removed from marketplace</div>
      <div class="field">
        <div class="field__label">message</div>
        <div class="field__wrap">
          <textarea class="field__textarea" name="message" placeholder="Tell us the details" required></textarea>
        </div>
      </div>
      <div class="popup__btns">
        <button class="button-purple popup__button js-popup-close">Send now</button>
        <button class="button-stroke popup__button js-popup-close">Cancel</button>
      </div>
    </div>
    <div class="popup popup_bid mfp-hide" id="popup-bid">
      <div class="orbitron p24 mb20">Place a bid</div>
      <div class="popup__info">You are about to purchase <strong>C O I N Z</strong> from <strong>UI8</strong></div>
      <div class="popup__subtitle">Your bid</div>
      <div class="popup__table">
        <div class="popup__row">
          <div class="popup__col">Enter bid</div>
          <div class="popup__col">
            <div class="popup__bid">
              <input class="popup__rate" type="tel" name="bid"/>
              <div class="popup__currency">ETH</div>
            </div>
          </div>
        </div>
        <div class="popup__row">
          <div class="popup__col">Your balance</div>
          <div class="popup__col">8.498 ETH</div>
        </div>
        <div class="popup__row">
          <div class="popup__col">Service fee</div>
          <div class="popup__col">0 ETH</div>
        </div>
        <div class="popup__row">
          <div class="popup__col">Total bid amount</div>
          <div class="popup__col">0 ETH</div>
        </div>
      </div>
      <div class="popup__btns"><a class="button popup__button js-popup-open" href="#popup-wallet" data-effect="mfp-zoom-in">Place a bid</a>
        <button class="button-stroke popup__button js-popup-close">Cancel</button>
      </div>
    </div>
    <div class="popup popup_wallet mfp-hide" id="popup-wallet">
      <div class="orbitron p24 mb20">Folow steps</div>
      <div class="steps">
        <div class="steps__item">
          <div class="steps__head">
            <div class="steps__icon">
              <svg class="icon icon-upload-file">
                <use xlink:href="#icon-upload-file"></use>
              </svg>
            </div>
            <div class="steps__details">
              <div class="steps__info">Deposit ETH</div>
              <div class="steps__text">Send transaction with your wallet</div>
            </div>
          </div>
          <button class="button steps__button">Start now</button>
        </div>
        <div class="steps__item">
          <div class="steps__head">
            <div class="steps__icon">
              <svg class="icon icon-check">
                <use xlink:href="#icon-check"></use>
              </svg>
            </div>
            <div class="steps__details">
              <div class="steps__info">Approve</div>
              <div class="steps__text">Checking balance and approving</div>
            </div>
          </div>
          <button class="button steps__button disabled">Start now</button>
        </div>
        <div class="steps__item">
          <div class="steps__head">
            <div class="steps__icon">
              <svg class="icon icon-pencil">
                <use xlink:href="#icon-pencil"></use>
              </svg>
            </div>
            <div class="steps__details">
              <div class="steps__info">Signature</div>
              <div class="steps__text">Create a signature to place a bit</div>
            </div>
          </div>
          <button class="button steps__button disabled js-popup-close">Start now</button>
        </div>
      </div>
    </div>
  </div>



  