<div class="popup popup_bid large-poup">
  <div class="bg-light">
    <div class="flex justify-space-between">
      <h5 class="orbitron p24 mb20">Start a new Collection</h5>
      <a href="javascript:void(0)" (click)="close()">
        <svg
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          viewBox="0 0 27 27"
          height="24px"
          width="24px"
        >
          <title>Close Popup</title>
          <desc>Created with Sketch.</desc>
          <g
            id="Page-1"
            stroke="none"
            stroke-width="1"
            fill="none"
            fill-rule="evenodd"
          >
            <path
              d="M13.9791847,12.8137085 L26.3535534,0.439339828 L27.0606602,1.14644661 L14.6862915,13.5208153 L27.0606602,25.895184 L26.3535534,26.6022907 L13.9791847,14.2279221 L1.60481605,26.6022907 L0.897709268,25.895184 L13.2720779,13.5208153 L0.897709268,1.14644661 L1.60481605,0.439339828 L13.9791847,12.8137085 Z"
              id="Combined-Shape"
              fill="#000000"
            ></path>
          </g>
        </svg>
      </a>
    </div>
    <div>
      <div>
        <!-- <div class="popup__note">Describe why you think this item should be removed from marketplace</div> -->
        <form
          #reportPost="ngForm"
          [formGroup]="addCollectionForm"
          (ngSubmit)="reportPost.valid && saveCollection(reportPost.value)"
        >
          <div class="popup__field mb20">
            <!-- {{ imagePath.length }} -->
            <div class="upload__item">
              <div class="popup__col mb10">Upload a collection avatar</div>
              <!-- <div class="upload__note">Drag or choose your file to upload</div> -->
              <div
                class="upload__file"
                [ngStyle]="{
                  'background-image':
                    imagePath.length > 0 ? 'url(' + imagePath + ')' : '',
                  'background-size': '100% 100%'
                }"
              >
                <input
                  class="upload__input"
                  formControlName="file"
                  (change)="onLogoFile($event)"
                  type="file"
                />
                <div class="upload__icon">
                  <svg class="icon icon-upload-file">
                    <use xlink:href="#icon-upload-file"></use>
                  </svg>
                </div>
                <div class="upload__format">
                  PNG, GIF, WEBP, MP4 or MP3. Max 1MB.
                </div>
              </div>
              <div
                *ngIf="
                  formControls.file.invalid &&
                  (formControls.file.touched || reportPost.submitted)
                "
                class="p12 w-normal mt10 mb10"
              >
                Image required
              </div>
            </div>
            <!-- <div *ngIf="isSubmitted && formControls.message.errors" class="help-block _error">
          <div *ngIf="formControls.message.errors.required" class="text-danger">Message is required</div>
      </div> -->
          </div>

          <div class="popup__field mb20">
            <div class="popup__col mb10">Collection name</div>
            <div class="field__wrap">
              <input
                class="popup__input"
                formControlName="tokenName"
                name="newPrice"
                type="text"
              />
              <div
                *ngIf="
                  formControls.tokenName.invalid &&
                  (formControls.tokenName.touched || reportPost.submitted)
                "
                class="p12 w-normal mt10 mb10"
              >
                Display required
              </div>
            </div>
            <!-- <div *ngIf="isSubmitted && formControls.newPrice.errors" class="help-block _error">
        <div *ngIf="formControls.newPrice.errors.required" class="text-danger">Price is required</div>
    </div> -->
          </div>
          <div class="popup__field mb20">
            <div class="popup__col mb10">Symbol</div>
            <div class="field__wrap">
              <input
                class="popup__input"
                formControlName="symbol"
                name="newPrice"
                type="text"
              />
              <div
                *ngIf="
                  formControls.symbol.invalid &&
                  (formControls.symbol.touched || reportPost.submitted)
                "
                class="p12 w-normal mt10 mb10"
              >
                Symbol required
              </div>
            </div>
            <!-- <div *ngIf="isSubmitted && formControls.newPrice.errors" class="help-block _error">
        <div *ngIf="formControls.newPrice.errors.required" class="text-danger">Price is required</div>
    </div> -->
          </div>
          <div class="popup__field mb20">
            <div class="popup__col mb10">Royalties</div>
            <div class="field__wrap">
              <input
                class="popup__input"
                [ngClass]="{
                  errorrVAlidation:
                    formControls.royalties.invalid &&
                    (formControls.royalties.touched || reportPost.submitted)
                }"
                formControlName="royalties"
                name="royalties"
                type="text"
              />
            </div>
            <!-- <div *ngIf="isSubmitted && formControls.royalties.errors" class="help-block _error">
          <div *ngIf="formControls.royalties.errors.required" class="text-danger">Royalties is required</div>
      </div> -->
          </div>

          <div class="popup__field mb20">
            <div class="popup__col mb10">Collection Description</div>
            <div class="field__wrap">
              <input
                class="popup__input"
                formControlName="description"
                name="newPrice"
                type="text"
              />
              <div
                *ngIf="
                  formControls.description.invalid &&
                  (formControls.description.touched || reportPost.submitted)
                "
                class="p12 w-normal mt10 mb10"
              >
                Description required
              </div>
            </div>
          </div>

          <div class="popup__field mb20">
            <div class="popup__col mb10">Category</div>
            <div class="field__wrap">
              <select
                nice-select
                class="select"
                formControlName="categoryId"
                #categoryId
              >
                <option
                  *ngFor="let itemcut of categotyList"
                  [value]="itemcut.categoryId"
                >
                  {{ itemcut.categoryName }}
                </option>
              </select>
            </div>
            <div
              *ngIf="
                formControls.categoryId.invalid &&
                (formControls.categoryId.touched || reportPost.submitted)
              "
              class="p12 w-normal mt10 mb10"
            >
              Category required
            </div>
          </div>

          <div class="popup__field mb20">
            <div class="popup__col mb10">Your site</div>
            <div class="field__wrap">
              <input
                type="text"
                formControlName="yourSite"
                name="yourSite"
                placeholder="Your site"
                class="popup__input"
              />
            </div>
          </div>
          <div class="popup__field mb20">
            <div class="popup__col mb10">Discord</div>
            <div class="field__wrap">
              <input
                type="text"
                formControlName="discord"
                name="discord"
                placeholder="Discord"
                class="popup__input"
              />
            </div>
          </div>
          <div class="popup__field mb20">
            <div class="popup__col mb10">Twitter</div>
            <div class="field__wrap">
              <input
                type="text"
                formControlName="twitter"
                name="twitter"
                placeholder="Twitter"
                class="popup__input"
              />
            </div>
          </div>
          <div class="popup__field mb20">
            <div class="popup__col mb10">Instagram</div>
            <div class="field__wrap">
              <input
                type="text"
                formControlName="instagram"
                name="instagram"
                placeholder="Instagram"
                class="popup__input"
              />
            </div>
          </div>
          <div class="popup__field mb20">
            <div class="popup__col mb10">Medium</div>
            <div class="field__wrap">
              <input
                type="text"
                formControlName="medium"
                name="medium"
                placeholder="Medium"
                class="popup__input"
              />
            </div>
          </div>
          <div class="popup__field mb20">
            <div class="popup__col mb10">Telegram</div>
            <div class="field__wrap">
              <input
                type="text"
                formControlName="telegram"
                name="telegram"
                placeholder="Telegram"
                class="popup__input"
              />
            </div>
          </div>

          <div class="popup__btns d-flex">
            <button
              type="submit"
              class="button text-inherit dark-button mb10 wp100"
            >
              <div>Submit</div>
              <div class="loader text-white" *ngIf="isApiLoading"></div>
            </button>

            <div class="button wp100">
              <button mat-button (click)="close()" class="btn-c">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
