<div class="landing-flex">
  <div class="outer__inner">
    <div class="section upload">
      <div class="upload__center">
        <div class="upload__wrapper">
          <div class="upload__head">
            <h2 class="preview__info" *ngIf="typeOfNft == 'single'">
              Create Single Collectible
            </h2>
            <h2 class="preview__info" *ngIf="typeOfNft != 'single'">
              Create Multiple Collectible
            </h2>

            <div class="button bg-primary" *ngIf="typeOfNft != 'single'" (click)="createSignleNFT()">
              Switch to Single
            </div>

            <div class="button bg-primary" *ngIf="typeOfNft == 'single'" (click)="createMultipleNFT()">
              Switch to Multiple
            </div>
          </div>

          <form class="needs-validation" [formGroup]="createNftForm" #formData="ngForm">
            <div class="upload__form">
              <div class="upload__list">
                <div class="upload__item">
                  <div class="upload__category">Upload file</div>
                  <div class="upload__note">
                    Drag or choose your file to upload
                  </div>
                  <div class="upload__file" [ngClass]="{
                      'is-invalid-file': submitted && imagePath?.length <= 0
                    }">
                    <input class="upload__input" (change)="onLogoFile($event)" type="file" />
                    <!-- <div class="upload__icon">
                      <svg class="icon icon-upload-file">
                        <use xlink:href="#icon-upload-file"></use>
                      </svg>
                    </div> -->
                    <svg version="1.1" id="stroke_dark" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40" xml:space="preserve" style="enable-background: new 0 0 40 40;width: 45px;"><g><g><circle cx="20" cy="20" r="15" class="stroke_dark"></circle><g><line x1="20" y1="23.9" x2="20" y2="12.4" class="stroke_dark"></line><polyline points="14.3,17.8 20,12.1 25.7,17.7 			" class="stroke_dark"></polyline></g></g><line x1="14.3" y1="28" x2="25.7" y2="28" class="stroke_dark"></line></g></svg>

                    <div class="upload__format" *ngIf="isShowMatspinner == 'hide'">
                      PNG, GIF, WEBP, MP4 or MP3. Max 1Gb.
                    </div>
                    
                    <div *ngIf="isShowMatspinner == 'show'">
                      <mat-spinner></mat-spinner>
                    </div>
                  </div>
                  <div *ngIf="showerrormsg== 'show'">
                    Something wrong with the image..
                  </div>
                </div>

                <div class="upload__item">
                  <div class="upload__category">Item Details</div>
                  <div class="upload__fieldset">
                    <div class="field">
                      <div class="field__label">Item name</div>
                      <div class="field__wrap">
                        <input class="field__input" [ngClass]="{
                            'is-invalid': f.title.invalid && (f.title.touched || formData.submitted)
                          }" type="text" formControlName="title" name="item"
                          placeholder='e.g. Redeemable Bitcoin Card with logo"' required />
                        <div *ngIf=" f.title.invalid && (f.title.touched || formData.submitted)"
                          class="validationErrorMsg">
                          <div *ngIf="f.title.errors.required">
                            Item Name required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="field">
                      <div class="field__label">Description</div>
                      <div class="field__wrap">
                        <textarea rows="4" class="field__input" type="text" [ngClass]="{
                            'is-invalid':  f.description.invalid && (f.description.touched || formData.submitted)
                          }" formControlName="description" name="description"
                          placeholder="e.g. “After purchasing you will able to received the NFT...”"
                          required></textarea>
                        <div *ngIf=" f.description.invalid && (f.description.touched || formData.submitted)"
                          class="validationErrorMsg">
                          <div *ngIf="f.description.errors.required">
                            Description is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- commeted royalties for some resones -->
                    <!-- <div class="field">
                      <div class="field__label">Royalties</div>
                      <div class="field__wrap">
                        <input class="field__input" type="text" [ngClass]="{
                            'is-invalid':  f.royalties.invalid && (f.royalties.touched || formData.submitted)
                          }" formControlName="royalties" name="royalties" placeholder='e.g. Royalties in percentage"'
                          required />
                        <div *ngIf=" f.royalties.invalid && (f.royalties.touched || formData.submitted)"
                          class="validationErrorMsg">
                          <div *ngIf="f.royalties.errors.required">
                            Royalties is required.
                            Royalties is > 0 and < 80 </div>
                          </div>
                        </div>
                      </div> -->

                      <div class="field" *ngIf="typeOfNft != 'single'">
                        <div class="field__label">Number of copies</div>
                        <div class="field__wrap">
                          <input class="field__input" type="text" [ngClass]="{'is-invalid': f.numberOfCopies.invalid && (f.numberOfCopies.touched || formData.submitted)}"
                             formControlName="numberOfCopies" name="item" placeholder='e.g. 10"' required />
                          <div *ngIf=" f.numberOfCopies.invalid && (f.numberOfCopies.touched || formData.submitted)"
                            class="validationErrorMsg">
                            <div *ngIf="f.numberOfCopies.errors.required">
                              Number of copies required
                            </div>
                          </div>
                        </div>
                      </div>
                   
                      <div class="field" formArrayName="propertysize"
                        *ngFor="let t of propertysize.controls; let i = index">
                        <div class="flex gap15" [formGroupName]="i">
                          <div class="flex1">
                            <div class="field">
                              <!-- <div class="field__label">Size</div> -->
                              <div class="field__wrap">
                                <input class="field__input" type="text" formControlName="size" id="{{ 'size' + i }}"
                                  name="size" placeholder="e.g. Size" [ngClass]="{'is-invalid': propertysize.controls[i].get('size').invalid && (propertysize.controls[i].get('size').touched || formData.submitted)}" />
                                <div *ngIf="propertysize.controls[i].get('size').invalid && (propertysize.controls[i].get('size').touched || formData.submitted)"
                                class="validationErrorMsg">
                                  Size is required
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="flex1">
                            <div class="field">
                              <!-- <div class="field__label">Properties</div> -->
                              <div class="field__wrap">
                                <input class="field__input width_of_input" type="text" formControlName="properties"
                                  id="{{ 'size' + i }}" name="propertie" placeholder="e.g. Properties"
                                  [ngClass]="{'is-invalid': propertysize.controls[i].get('properties').invalid && (propertysize.controls[i].get('properties').touched || formData.submitted)}"  />
                                  <div *ngIf="propertysize.controls[i].get('properties').invalid && (propertysize.controls[i].get('properties').touched || formData.submitted)"
                                  class="validationErrorMsg">
                                  properties required
                                  </div>
                              </div>
                            </div>
                          </div>

                          <button type="button" class="close" *ngIf="propertysize.controls.length > 1"
                            (click)="deletRow(i)">
                            <span aria-hidden="true" style="font-size: 30px">&times;</span>
                          </button>
                        </div>
                      </div>
                      
                      <div class="upload__row mr-10">
                        <button class="button upload__button" type="button" (click)="addInputs()">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-card-list" viewBox="0 0 16 16">
                            <path
                              d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                            <path
                              d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
                          </svg>
                          &nbsp;&nbsp; click to add
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="upload__options">
                  <div class="upload__option">
                    <div class="upload__box">
                      <div class="upload__category">Put on sale</div>
                      <div class="upload__text">
                        You’ll receive bids on this item
                      </div>
                    </div>
                    <label class="switch">
                      <input class="switch__input" formControlName="isForSale" type="checkbox" checked="checked" />
                      <span class="switch__inner"><span class="switch__box"></span></span>
                    </label>
                  </div>

                  <div class="upload__fieldset mb30" *ngIf="f.isForSale.value">
                    <div class="field wrap gap15 flex">
                      <div class="checkbox">
                        <label class="checkbox-wrapper">
                          <input type="radio" value="1" name="typeOfSale" formControlName="typeOfSale"
                            class="checkbox-input" checked />
                          <span class="checkbox-tile">
                            <span class="checkbox-icon"> </span>
                            <span class="checkbox-label">Fixed Price</span>
                          </span>
                        </label>
                      </div>

                      <div class="checkbox" *ngIf="typeOfNft == 'single'">
                        <label class="checkbox-wrapper">
                          <input type="radio" value="2" name="typeOfSale" formControlName="typeOfSale"
                            class="checkbox-input" />
                          <span class="checkbox-tile">
                            <span class="checkbox-icon"> </span>
                            <span class="checkbox-label">Timed Auction</span>
                          </span>
                        </label>
                      </div>
                      <div class="checkbox">
                        <label class="checkbox-wrapper">
                          <input type="radio" value="3" name="typeOfSale" formControlName="typeOfSale"
                            class="checkbox-input" />
                          <span class="checkbox-tile">
                            <span class="checkbox-icon"> </span>
                            <span class="checkbox-label">Open for bids</span>
                          </span>
                        </label>
                      </div>
                    </div>
                    <div class="fixedPriceDetails" *ngIf="f.typeOfSale.value === '1'">
                      <div class="field">
                        <div class="field__label">Price</div>
                        <div class="field__wrap">
                          <input class="field__input" [ngClass]="{
                            'is-invalid': f.fixedPrice.invalid && (f.fixedPrice.touched || formData.submitted)
                          }" formControlName="fixedPrice" #fixedprice type="text" name="price"
                            placeholder="e.g. Price 1 BNB" required />
                            <div *ngIf=" f.fixedPrice.invalid && (f.fixedPrice.touched || formData.submitted)"
                            class="validationErrorMsg">
                              price is required
                            </div>
                        </div>
                        <div class="upload__text mb20">
                          Service fee 2.5% <br />
                          You will receive
                          {{
                          f.fixedPrice?.value -
                          (f.fixedPrice?.value * 2.5) / 100
                          }}
                        </div>
                      </div>
                      <!-- <div class="upload__col">
                      <div class="field">
                        <div class="field__label">Currency</div>
                        <div class="field__wrap">
                          <select
                            class="select"
                            formControlName="currencyId"
                            #currencyId
                          >
                            <option
                              *ngFor="let itemcur of currencyList"
                              [value]="itemcur.id"
                            >
                              {{ itemcur.name }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div> -->
                    </div>

                    <div class="TimeAuctionDetails mb30" *ngIf="f.typeOfSale.value === '2'">
                      <div class="field">
                        <div class="field__label">Minimum bid</div>
                        <div class="field__wrap">
                          <input class="field__input" [ngClass]="{
                            'is-invalid': f.minimunBid.invalid && (f.minimunBid.touched || formData.submitted)
                          }" formControlName="minimunBid" type="text" name="price" placeholder="e.g. Price 1 BNB"
                            required />
                            <div *ngIf=" f.minimunBid.invalid && (f.minimunBid.touched || formData.submitted)"
                             class="validationErrorMsg">
                              Minimum bid is required
                            </div>
                        </div>
                        <div class="upload__text">
                          Bids below this amount won’t be allowed.
                        </div>
                      </div>
                      <!-- <div class="field">
                      <div class="field__label">Currency</div>
                      <div class="field__wrap">
                        <select
                          class="select"
                          formControlName="currencyId"
                          #currencyId
                        >
                          <option
                            *ngFor="let itemcur of currencyList"
                            [value]="itemcur.id"
                          >
                            {{ itemcur.name }}
                          </option>
                        </select>
                      </div>
                    </div> -->
                      <div class="field">
                        <div class="field__label">Start date</div>
                        <div class="field__wrap">
                          <ejs-datetimepicker id="datetimepicker" name="startingDate" placeholder="Select a date"
                            [ngClass]="{
                            'is-invalid': f.startingDate.invalid && (f.startingDate.touched || formData.submitted)
                          }" formControlName="startingDate" [value]="dateValue"></ejs-datetimepicker>
                          <div *ngIf="f.startingDate.invalid && (f.startingDate.touched || formData.submitted)" class="validationErrorMsg">
                            Enter Start Date in mm/dd/yyyy.
                          </div>
                        </div>
                        <div class="upload__text">
                          Bids below this amount won’t be allowed.
                        </div>
                      </div>

                      <div class="field mb30">
                        <div class="field__label">End date</div>
                        <div class="field__wrap">
                          <ejs-datetimepicker id="datetimepicker" name="expirationDate" placeholder="Select a date"
                            [ngClass]="{
                            'is-invalid': f.expirationDate.invalid && (f.expirationDate.touched || formData.submitted)
                          }" formControlName="expirationDate" [value]="dateValue"></ejs-datetimepicker>
                          <div *ngIf="f.expirationDate.invalid && (f.expirationDate.touched || formData.submitted)" class="validationErrorMsg">
                            Enter End date in mm/dd/yyyy.
                          </div>
                        </div>
                        <!-- <div class="label">
                        Any bid placed in the last 10 minutes extends the
                        auction by 10 minutes.
                      </div> -->
                      </div>
                    </div>

                    <div class="TimeAuctionDetails" *ngIf="f.typeOfSale.value === '3'">
                      <div class="field">
                        <div class="field__label">Minimum bid</div>
                        <div class="field__wrap">
                          <input class="field__input" [ngClass]="{
                            'is-invalid': f.minimunBid.invalid && (f.minimunBid.touched || formData.submitted)
                          }" formControlName="minimunBid" type="text" name="price" placeholder="e.g. Price 1 BNB"
                            required />
                            <div *ngIf="f.minimunBid.invalid && (f.minimunBid.touched || formData.submitted)"
                            class="validationErrorMsg">
                              Minimum bid is required
                            </div>
                        </div>
                        <div class="upload__text">
                          Bids below this amount won’t be allowed.
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="upload__option">
                    <div class="upload__box">
                      <div class="upload__category">Unlock once purchased</div>
                      <div class="upload__text">
                        Content will be unlocked after successful transaction
                      </div>
                    </div>
                    <label class="switch">
                      <input class="switch__input" formControlName="isUnlock" type="checkbox" /><span
                        class="switch__inner"><span class="switch__box"></span></span>
                    </label>
                  </div>
                  <div class="upload__fieldset upload__option" *ngIf="f.isUnlock.value">
                    <div class="field wp100">
                      <div class="field__label">Unlock Content</div>
                      <div class="field__wrap">
                        <input class="field__input" [ngClass]="{
                          'is-invalid': f.alternativeText.invalid && (f.alternativeText.touched || formData.submitted)
                        }" type="text" formControlName="alternativeText" name="item"
                          placeholder="Digital key, code to redeem or link to a file..." required />
                          <div *ngIf="f.alternativeText.invalid && (f.alternativeText.touched || formData.submitted)"
                          class="validationErrorMsg">
                            unlock content required
                          </div>
                      </div>
                    </div>
                  </div>

                  <div class="upload__option flex-col">
                    <div class="field__label">Blockchain</div>
                    <div class="field__wrap wp100">
                      <select nice-select class="select" formControlName="blockchainId" #blockchainId>
                        <option *ngFor="let itemblock of blockchainList" [value]="itemblock.blockchainId">
                          <img _ngcontent-jsl-c115="" class="collection-icon" src="{{ itemblock.fileUrl }}" />
                          {{ itemblock.networkName }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="upload__category">Choose collection</div>
                  <div class="upload__text mb10">
                    Choose an exiting collection or create a new one
                  </div>

                  <div class="flex gap15">
                    <div class="upload__card" *ngFor="let itemf of collectionList"
                      (click)="setCollectionId(itemf['collectionId'],itemf)" [ngClass]="{
                      selectedCollection: itemf['collectionId'] == collectionId
                    }">
                      <div class="upload__plus">
                        <img src="{{ itemf['fileUrl'] }}" class="collection-icon" />
                      </div>
                      <div class="upload__subtitle">
                        {{ itemf["collectionName"] }}
                      </div>
                    </div>

                    <div class="upload__card">
                      <div class="upload__plus"
                        (click)="openDialogCreateCollection()">
                        <!-- <svg class="icon icon-plus">
                          <use xlink:href="#icon-plus"></use>
                        </svg> -->
                        <i class="fa fa-plus iconstyle" aria-hidden="true"></i>
                      </div>
                      <div class="upload__subtitle">Create collection</div>
                    </div>
                  </div>
                </div>
                <div class="upload__foot">
                  <button class="
                    button-stroke
                    tablet-show
                    upload__button
                    js-preview-open
                  ">
                    Preview
                  </button>
                  <!-- [disabled]="showPopup" -->
                  <button  class="button wp100" type="submit"
                    (click)="createNftSubmit(formData.value)">
                    <span>Create item</span>
                  </button>
                  <!-- <div class="upload__saving">Auto saving
                      <div class="loader"></div>
                    </div> -->
                </div>
              </div>
          </form>
        </div>
        <div class="preview js-preview">
          <div class="preview__inner">
            <button class="preview__close js-preview-close">
              <svg class="icon icon-close">
                <use xlink:href="#icon-close"></use>
              </svg>
            </button>
            <div class="preview__info">Preview</div>
            <div class="card">
              <div class="card__preview" *ngIf="imageUrl.indexOf('video') == -1">
                <img src="{{ imageUrl }}"  alt="NFT preview" /> 
                            
             

                <!-- <div class="card__control">
                  <div class="status-green card__category">purchasing !</div>
                  <button class="card__favorite">
                    <svg class="icon icon-heart">
                      <use xlink:href="#icon-heart"></use>
                    </svg>
                  </button>
                  <a class="button-small card__button js-popup-open" href="#popup-bid" data-effect="mfp-zoom-in"><span>Place a bid</span>
                          <svg class="icon icon-scatter-up">
                            <use xlink:href="#icon-scatter-up"></use>
                          </svg></a>
                </div> -->
              </div>
              <ng-container *ngIf="imageUrl.indexOf('video') != -1">
                <video class="video" loop autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true" [muted]="true" >
                  <source src="{{ imageUrl }}" type="video/mp4">
                </video>
              </ng-container>
              <a class="card__link" href="javascript:void(0)">
                <div class="card__body">
                  <div class="card__line justify-space-between align-center">
                    <div class="user__name text-primary" *ngIf="f.title.value">
                      {{f.title.value }}
                    </div>
                    <div class="user__name text-primary" *ngIf="!f.title.value">
                     NFT Name
                    </div>
                    <div class="user__name text-primary" *ngIf="f.typeOfSale.value <= 2">
                      {{
                      f.typeOfSale.value == 1
                      ? f.fixedPrice.value
                      : f.typeOfSale.value == 2
                      ? f.minimunBid.value
                      : 0
                      }}
                      BNB
                    </div>
                  </div>
                  <div class="card__line">
                    <!-- <div class="card__users">
                      <div class="card__avatar">
                        <img src="./assets/media/images/moonsea/avatar-big.jpg" alt="Avatar" />
                      </div>
                    </div> -->
                    <div class="card__counter text-primary">
                      {{ f.numberOfCopies.value }} in stock
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <a class="button wp100" (click)="clearForm()">
              Clear all</a>
          </div>
        </div>
      </div>
    </div>
    <!-- *ngIf="showPopup"  -->
  </div>
</div>