table tr th {
    border: 1px solid white;
    color: white;
}

table tr td {
    border: 1px solid white;
    color: white;
}

.mat-table {
    background: #fff0;
}

.btn{
    background-color: #50aac5;
    padding: 10px;
    font-size: large;
    font-weight: bold;
}