<div class="landing-flex">
  <div>
    <button type="button" class="btn" (click)="logOut()">LogOut</button>
  </div>
  <div>
   <table mat-table [dataSource]="failedBlockList" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="Failed Block No">
        <th mat-header-cell *matHeaderCellDef> Failed Block No. </th>
        <td mat-cell *matCellDef="let element"> {{element.failBlockNoId}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.dateTime}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="Blockchain">
        <th mat-header-cell *matHeaderCellDef> Blockchain </th>
        <td mat-cell *matCellDef="let element"> {{element.blockchain}} </td>
      </ng-container>

    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    
  </div>
</div>