<section class="navigation">
  <div class="inner flex-space-between align-center ml-0 mw-100 overflow-unset">
    <div
      class="logo-container flex align-start"
      [ngClass]="menuItem === true || search === true ? 'd-none' : ''"
    >
      <a
        href="javascript:void(0)"
        [routerLink]="['/']"
        class="flex-center logo-font"
      >
        <video
          autoplay
          controls
          [muted]="true"
          [loop]="true"
          [controls]="false"
          class="logo"
        >
          <source
            src="assets/media/videos/moonsea-animated-logo.webm"
            type="video/mp4"
          />
        </video>
        <!-- <img
          src="assets/icons/giff2.gif"
          alt="moonshot logo"
          class="logo mr10"
        /> -->
        <!-- <img src="assets/icons/giff2.gif" style="
    width: 60px;
    /* margin-right: 10px; */
" class="mr10"> -->
        Moon <span>Sea</span>
      </a>
    </div>

    <div
      class="desktop-only wp100 mr50"
      [ngClass]="search === true ? 'mobile-only m0' : ''"
    >
      <div (click)="back()" class="mobile-only">
        <svg
          version="1.1"
          id="Laag_1"
          class="mr10"
          width="36"
          height="36"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 40 40"
          style="enable-background: new 0 0 40 40"
          xml:space="preserve"
        >
          <g>
            <circle class="st4" cx="20" cy="20" r="18"></circle>
            <g>
              <line class="st4" x1="27.1" y1="20" x2="13.3" y2="20"></line>
              <polyline
                class="st4"
                points="19.7,13.2 12.9,20.1 19.6,26.8 		"
              ></polyline>
            </g>
          </g>
        </svg>
      </div>
      <div
        class="nav-input w-100"
        [ngClass]="search === true ? 'mobile-only' : ''"
      >
        <input
          type="text"
          id="searchBox"
          #searchText
          (keyup.enter)="searchClient(searchText.value)"
          (keyup)="autoComplete(searchText.value,$event)"
          placeholder="Search for collections, items or creators"
          class="form-control"
        />
        <a href="javascript:void(0)"
          ><svg
            version="1.1"
            id="search"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 40 40"
            xml:space="preserve"
          >
            <g>
              <circle cx="22" cy="18" r="12.5" class="st0"></circle>
              <line x1="13.2" y1="26.8" x2="5.5" y2="34.5" class="st0"></line>
            </g></svg
        ></a>
        <ng-container *ngIf="flag">
          <div class="search_result">
            <div *ngFor="let item of uniquedata; let i = index">
              <div class="border-left border-right">
                <div
                  *ngIf="item == 1 && properties[i].length > 0"
                  class="flex align-center p-3 border-bottom p12 text-secondary"
                >
                  Items
                </div>
                <div
                  *ngIf="item == 2 && properties[i].length > 0"
                  class="flex align-center p-3 border-bottom p12 text-secondary"
                >
                  Profile
                </div>
                <div
                  *ngIf="item == 3 && properties[i].length > 0"
                  class="flex align-center p-3 border-bottom p12 text-secondary"
                >
                  collection
                </div>
                <div
                  *ngFor="let inner of properties[i]"
                  class="flex align-center p-3 border-bottom"
                  (click)="
                    onselectClient(
                      inner.searchText,
                      inner.serachType,
                      inner.nftTokenId,
                      inner.nftAddress
                    )
                  "
                >
                  <div class="profilepic01">
                    <img
                      [src]="inner.profilePic"
                      *ngIf="inner.profilePic"
                      class="profilepic"
                      alt="profile"
                    />
                    <img
                      *ngIf="!inner.profilePic"
                      src="assets/media/images/moonsea/avatar-big.jpg"
                      class="profilepic"
                      alt=""
                    />
                  </div>
                  <div>
                    {{ inner.searchText }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div
      class="mobile-only"
      (click)="searchCollection()"
      [ngClass]="search === true ? 'd-none' : ''"
    >
      <svg
        version="1.1"
        id="search"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 40 40"
        xml:space="preserve"
      >
        <style type="text/css">
          .st0 {
            fill: none;
            stroke: #50aac5;
            stroke-miterlimit: 10;
          }
        </style>
        <g>
          <circle cx="22" cy="18" r="12.5" class="st0"></circle>
          <line x1="13.2" y1="26.8" x2="5.5" y2="34.5" class="st0"></line>
        </g>
      </svg>
    </div>
    <div
      class="mobile-only align-center"
      [ngClass]="menuItem === true || search === true ? 'd-none' : ''"
      (click)="menuopen()"
    >
      <svg
        width="30px"
        height="26px"
        viewBox="0 0 32 25"
        class="ml10"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <title>Close</title>
        <desc>Created with Sketch.</desc>
        <g
          id="Page-1"
          stroke="none"
          stroke-width="1"
          fill="none"
          fill-rule="evenodd"
        >
          <path
            d="M0,0 L32,0 L32,3 L0,3 L0,0 Z M0,11 L32,11 L32,14 L0,14 L0,11 Z M0,22 L32,22 L32,25 L0,25 L0,22 Z"
            id="Combined-Shape"
            fill="#50aac5"
          ></path>
        </g>
      </svg>
    </div>
    <!-- <img
      src="assets/media/icons/menu-button.svg"
      alt="menu button"
      class="mob-menu"
    /> -->
    <nav class="flex" [ngClass]="menuItem === true ? 'show' : ''">
      <div class="mob-menu" (click)="closeMenu()">
        <svg
          width="27px"
          height="27px"
          viewBox="0 0 27 27"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <g
            id="Page-1"
            stroke="none"
            stroke-width="1"
            fill="none"
            fill-rule="evenodd"
          >
            <path
              d="M13.9791847,12.8137085 L26.3535534,0.439339828 L27.0606602,1.14644661 L14.6862915,13.5208153 L27.0606602,25.895184 L26.3535534,26.6022907 L13.9791847,14.2279221 L1.60481605,26.6022907 L0.897709268,25.895184 L13.2720779,13.5208153 L0.897709268,1.14644661 L1.60481605,0.439339828 L13.9791847,12.8137085 Z"
              id="Combined-Shape"
              fill="#090d16"
            ></path>
          </g>
        </svg>
      </div>
      <ul (click)="closeMenu()">
        <li>
          <a
            routerLinkActive="active"
            [routerLink]="['/searchcollection']"
            [queryParams]="{ searchKey: 'all' }"
            href="javascript:void(0);"
            >Collections</a
          >
        </li>
        <li>
          <a
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['/others/stats']"
            href="javascript:void(0);"
            >Stats</a
          >
        </li>
        <li>
          <a
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['/others/how_it_works']"
            href="javascript:void(0);"
            >How it works</a
          >
        </li>
        <li>
          <a
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['/mycollection']"
            href="javascript:void(0);"
            >Upload</a
          >
        </li>
      </ul>
    </nav>
    <nav
      class="flex wallet d-none"
      [ngClass]="activeWallet === true ? 'flexShow' : ''"
    >
      <div class="mob-menu" (click)="closeMenu()">
        <svg
          width="27px"
          height="27px"
          viewBox="0 0 27 27"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <g
            id="Page-1"
            stroke="none"
            stroke-width="1"
            fill="none"
            fill-rule="evenodd"
          >
            <path
              d="M13.9791847,12.8137085 L26.3535534,0.439339828 L27.0606602,1.14644661 L14.6862915,13.5208153 L27.0606602,25.895184 L26.3535534,26.6022907 L13.9791847,14.2279221 L1.60481605,26.6022907 L0.897709268,25.895184 L13.2720779,13.5208153 L0.897709268,1.14644661 L1.60481605,0.439339828 L13.9791847,12.8137085 Z"
              id="Combined-Shape"
              fill="#090d16"
            ></path>
          </g>
        </svg>
      </div>
      <ul (click)="closeMenu()">
        <li>
          <p class="orbitron p14 w900 white text-dark border-0">
            Wallet :
            {{ (userBalance > 0 ? userBalance / 1e18 : 0) | number: "1.4" }}
            {{ BlockchainNames[netWorkId] }}
          </p>
        </li>
        <li *ngIf="!isConnected">
          <a
            href="javascript:void(0)"
            (click)="connectwallet()"
            class="text-dark"
          >
          <!-- (click)="toggleTokenomics()" -->
            Connect Wallet</a
          >
        </li>
        <li *ngIf="isConnected">
          <div class="flex align-center justify-space-between">
            <a
              class="profileTitle wp100"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="[
                '/profileinfo/profile',
                connectedAddress,
                'tab',
                'created'
              ]"
              href="javascript:void(0);"
              >Profile
            </a>
            <a
              class="profileTitle"
              href="javascript:void(0)"
              [routerLink]="['/profileinfo/updateProfile']"
            >
              <svg
                version="1.1"
                width="36"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 40 40"
                xml:space="preserve"
              >
                <g>
                  <g>
                    <path
                      d="M20,3c9.4,0,17,7.6,17,17s-7.6,17-17,17S3,29.4,3,20S10.6,3,20,3 M20,2C10.1,2,2,10.1,2,20s8.1,18,18,18s18-8.1,18-18
              S29.9,2,20,2L20,2z"
                    ></path>
                  </g>
                  <g>
                    <g>
                      <rect
                        x="12.7"
                        y="16.5"
                        transform="matrix(0.7071 -0.7071 0.7071 0.7071 -7.1285 18.0226)"
                        width="11"
                        height="2.2"
                        class="st5"
                      ></rect>
                      <rect
                        x="16.9"
                        y="20.7"
                        transform="matrix(0.7071 -0.7071 0.7071 0.7071 -8.8403 22.2226)"
                        width="11"
                        height="2.2"
                        class="st5"
                      ></rect>
                    </g>
                    <g>
                      <path
                        d="M29.3,13.6l-2.9-2.9c-0.8-0.8-2.1-0.8-2.9,0L22,12.3l5.7,5.7l1.5-1.5C30.1,15.6,30.1,14.4,29.3,13.6z"
                        class="st5"
                      ></path>
                      <path
                        d="M18.6,27.1l-6.9,2.7c-0.9,0.4-1.8-0.5-1.5-1.5l2.7-6.9L18.6,27.1z"
                        class="st5"
                      ></path>
                    </g>
                  </g>
                </g>
              </svg>
            </a>
          </div>
        </li>
        <li *ngIf="isConnected">
          <a
          (click)="Disconnect()"
            href="javascript:void(0);"
            >Disconnect Wallet</a
          >
        </li>
      </ul>
    </nav>
  </div>
</section>

<section class="mobile-only footer_menu tab-only navigation bottom-footer p-0">
  <div class="res_menu flex1">
    <ul class="box">
      <ng-template #doNotShowMenuIcon>
        <li class="close-menu">
          <img
            src="assets/media/icons/close_bottom-menu_mobile.svg"
            (click)="closeMenu()"
          />
        </li>
      </ng-template>

      <li class="invisible">
        <a href="javascript:void(0)"
          ><svg
            width="20px"
            height="20px"
            id="close"
            viewBox="0 0 27 27"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <title>Close</title>
            <desc>Created with Sketch.</desc>
            <g
              id="Page-1"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <path
                d="M13.9791847,12.8137085 L26.3535534,0.439339828 L27.0606602,1.14644661 L14.6862915,13.5208153 L27.0606602,25.895184 L26.3535534,26.6022907 L13.9791847,14.2279221 L1.60481605,26.6022907 L0.897709268,25.895184 L13.2720779,13.5208153 L0.897709268,1.14644661 L1.60481605,0.439339828 L13.9791847,12.8137085 Z"
                id="Combined-Shape"
                fill="#000000"
              ></path>
            </g></svg
        ></a>
      </li>
      <li>
        <a (click)="closeMenu()" href="javascript:void(0)"
          ><svg
            width="20px"
            height="20px"
            id="close"
            viewBox="0 0 27 27"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            style=""
          >
            <title>Close</title>
            <desc>Created with Sketch.</desc>
            <g
              id="Page-1"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <path
                d="M13.9791847,12.8137085 L26.3535534,0.439339828 L27.0606602,1.14644661 L14.6862915,13.5208153 L27.0606602,25.895184 L26.3535534,26.6022907 L13.9791847,14.2279221 L1.60481605,26.6022907 L0.897709268,25.895184 L13.2720779,13.5208153 L0.897709268,1.14644661 L1.60481605,0.439339828 L13.9791847,12.8137085 Z"
                id="Combined-Shape"
                fill="#000000"
              ></path>
            </g></svg
        ></a>
      </li>

      <li class="userProfilePicBox">
        <a href="javascript:void(0)" (click)="walletOpen()">
          <div
            *ngIf="!useData"
            (click)="openDialog()"
            class="wallet_block flex-center"
          >
            <svg
              version="1.1"
              id="Laag_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 64 64"
              xml:space="preserve"
              style="enable-background: new 0 0 64 64"
            >
              <g>
                <path
                  d="M18.7,12.8c-3.3,0-5.9,2.7-5.9,5.9v26.7c0,3.3,2.7,5.9,5.9,5.9h26.7c1.4,0,2.6-1.2,2.6-2.6v-6.8h3.3V31.4h-3.3v-6.8
              c0-1.4-1.2-2.6-2.6-2.6h-4.1v-6.8c0-1.4-1.2-2.6-2.6-2.6H18.7z M45.4,48.8H18.7c-1.9,0-3.4-1.5-3.4-3.4V23.6l1.1,0.5
              c0.7,0.3,1.5,0.5,2.4,0.5h26.7v6.8h-6.1c-2.9,0-5.2,2.4-5.2,5.3c0,2.9,2.4,5.2,5.2,5.2h6.1V48.8z M48.8,39.4h-9.4
              c-1.5,0-2.8-1.2-2.8-2.8s1.2-2.8,2.8-2.8h9.4V39.4z M38.8,22.1H18.7c-1.9,0-3.4-1.5-3.4-3.4c0-1.9,1.5-3.4,3.4-3.4h20.1V22.1z"
                ></path>
              </g>
            </svg>
          </div>

          <div *ngIf="useData" class="userProfilePic">
            <img
              [lazyLoad]="userProfilePic"
              [defaultImage]="'assets/icons/5904642857251113741.gif'"
              alt=""
            />
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
