<section class="top-collection">
    <div class="inner hover-effect">
      <div>
        <div class="relative">
          <p class="title-name orbitron p18">
            <span class="color-white">Top </span><span>collections </span>
          </p>
        </div>
        <swiper [config]="config" [pagination]="{ clickable: true }" class="mySwiper hover-effect">
          <ng-template *ngFor="let item of getTopcollection; let i = index" swiperSlide>

            <app-collection-card [item]="item"></app-collection-card>
          </ng-template>
        </swiper>
      </div>
    </div>
  </section>