<div class="popup popup_wallet" id="popup-signature">
    <div class="heading_12">
      <div class="heading_13">
        <h5 class="orbitron p24 mb20" *ngIf="!wrongNetwork">Follow steps</h5>
      </div>
      <div class="crossIcon">
        <a href="javascript:void(0)"  (click)="closeDialog()">
          <svg
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
            viewBox="0 0 27 27"
            height="24px"
            width="24px"
          >
            <title>Close</title>
            <desc>Created with Sketch.</desc>
            <g
              id="Page-1"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <path
                d="M13.9791847,12.8137085 L26.3535534,0.439339828 L27.0606602,1.14644661 L14.6862915,13.5208153 L27.0606602,25.895184 L26.3535534,26.6022907 L13.9791847,14.2279221 L1.60481605,26.6022907 L0.897709268,25.895184 L13.2720779,13.5208153 L0.897709268,1.14644661 L1.60481605,0.439339828 L13.9791847,12.8137085 Z"
                id="Combined-Shape"
                fill="#000000"
              ></path>
            </g>
          </svg>
          </a>
      </div>
    </div>
   

    <div class="steps">
      <div class="steps__item" *ngIf="wrongNetwork">
      <div class="steps__head">
        <div class="steps__details">
          <div class="steps__info">An error occured while interacting with your wallet. Please try again.</div>
        </div>
      </div>
      <button class="button steps__button done" (click)="checkNetwork()">{{mintStatusText}}</button>
    </div>
    <div class="steps__item" *ngIf="!wrongNetwork" [ngClass]="{'done':signatureStatus>=1}">
        <div class="steps__head">
          <div class="steps__icon">
            <svg class="icon icon-upload-file">
              <use xlink:href="#icon-upload-file"></use>
            </svg>
          </div>
          <div class="steps__details">
            <div class="steps__info">Upload files & Mint token</div>
            <div class="steps__text">Call contract method</div>
          </div>
        </div>
        <button class="button dark-button wp100" [disabled]="isdisabledDoneBtn" (click)="checkNetwork()">
          {{mintStatusText}}
          <div class="loader text-white" *ngIf="isApiLoading"></div>
        </button>
      </div>
      <ng-container *ngIf="!wrongNetwork">
      <div class="steps__item"  [ngClass]="{'done':signatureStatus>=2}" *ngIf="this.data.details.putOnSale && !isContractApproved">
        <div class="steps__head">
          <div class="steps__icon">
            <svg *ngIf="signatureStatus==1" class="icon icon-pencil">
              <use xlink:href="#icon-pencil"></use>
            </svg>
            <svg *ngIf="signatureStatus==2" class="icon icon-upload-file">
              <use xlink:href="#icon-upload-file"></use>
            </svg>
          </div>
          <div class="steps__details">
            <div class="steps__info">Start Sale</div>
            <div class="steps__text">Start sell by approving this transaction</div>
          </div>
        </div>
        <button [disabled]="signatureStatus!=1 || rejectedMetamask" [ngClass]="{'disabled': signatureStatus!=1}" class="button steps__button" (click)="startSale()">{{startSaleButton}}</button>
      </div>
      <div class="steps__item" [ngClass]="{'done':signatureStatus>=3}" *ngIf="this.data.details.putOnSale">
        <div class="steps__head">
          <div class="steps__icon">
            <svg *ngIf="signatureStatus==2" class="icon icon-pencil">
              <use xlink:href="#icon-pencil"></use>
            </svg>
            <svg *ngIf="signatureStatus==3" class="icon icon-upload-file">
              <use xlink:href="#icon-upload-file"></use>
            </svg>

           </div>
          <div class="steps__details">
            <div class="steps__info">Sign sell order</div>
            <div class="steps__text">Sign sell order using your wallet</div>
          </div>
        </div>
        <button [disabled]=" rejectedMetamask" [ngClass]="{'disabled': signatureStatus!=2}" class="button steps__button" (click)="signSellOrder()">{{signSellorderButton}}</button>
       </div>
       <button class="button steps__button mt-3" (click)="closePopupSignature()">Close</button>
      </ng-container>
    </div>
    
    <!-- <div *ngIf="rejectedMetamask" class="steps__note">Something went wrong, please <a href="/#" target="_blank">try again</a></div> -->
  </div>